[2021-12-14 18:26] riccardo-forina commented on #489
I'm hitting this too.

[2021-12-18 04:39] karellm commented on #489
I'll happily review a PR if you want to take a spin at fixing this.

[2021-12-22 20:11] tylerrasor opened #494 "Key extraction to wrong namespace"
## 🐛 Bug Report

When using the `useTranslation` hook to get two different TFunctions scoped to different namespaces, extraction should place keys into the namespace of the corresponding TFunction.

## To Reproduce

[code]

## Expected behavior

Should get extracted to the default namespace:
[code]

But gets extracted to the namespace provided to the other `useTranslation` hook:
[code]

____

I be

[2021-12-23 21:39] amandapouget opened #495 "Detect Reused Keys"
## 🚀 Feature Proposal

Allow detect key reuse and option to warn or fail on reuse.
Example: dev writes `t('foobar')` in two different files ultimately writing translations to the same JSON.
With config `warnOnDuplicates: true`, parser would log something like, `Key 'foobar' is reused 2 times.`
With config `failOnWarnings`, this situation would cause an exit 1.

## Motivation

Accidental key reuse

[2021-12-24 00:18] #430 closed

[2021-12-27 10:15] mquandalle opened #497 "ES Module support in parser.config.js"
Hello,

I have an app where all the config files have been migrated to ES Modules. However `i18next-paser` is the only dependency that can't import a `parser.config.js` written with the ESM syntax.

## 🐛 Bug Report

[code]

Originate from:

https://github.com/i18next/i18next-parser/blob/054e29a7b0cae3860857cb0cd5b0d5eac2dd1d0a/bin/cli.js#L33

## To Reproduce

Use a `parser.config.mjs` with the `--

[2021-12-28 19:05] Heldenkrieger01 opened #498 "Parser does not add as many translations as it says it did"
## 🐛 Bug Report

When running the parser in debug mode, it tells you, how many unique keys it has found and how many new keys it added.
In my project, the parser says it has added 249 keys, but in reality only 227 get written to the output file. This is frustrating, since it seems to pick the translation up, but not actually writing them...

## To Reproduce

Multiple files are affected, they conta

[2022-01-03 15:05] HippolyteJacque opened #501 "can not parse my keys from all my specified project files"
## 🐛 Bug Report

A clear and concise description of what the bug is.

## To Reproduce

A [codesandbox](https://codesandbox.io/examples/package/i18next) example or similar
or at least steps to reproduce the behavior:

[code]

## Expected behavior

A clear and concise description of what you expected to happen.

[code]

## Your Environment

- *runtime version*: i.e. node v14, deno, browser xy
- *i18

[2022-01-03 15:10] buyhighHippo opened #502 "cannot parse the keys from all my specified project files"
## 🐛 Bug Report

Can not manage to retrieve all my keys and write them in my output files, it is currently missing every keys called in my components/**/*.{ts,tsx}, the other keys are well retrieved as wanted

## To Reproduce

my config file is set with input as below
[code]

## Expected behavior

parse all my specified files and add the new found keys in my output: "public/locales/$LOCALE/$NAMESP

[2022-01-03 20:40] #490 closed

[2022-01-03 20:40] jcksonhe commented on #490
Closed because it can be fixed by modifying the lexers.

[2022-01-03 23:18] karellm commented on #490
@jcksonhe Can you share your solution or create a PR? I believe this would be a welcome addition.

[2022-01-04 01:26] wjramos commented on #219
This would be extremely helpufl

[2022-01-04 13:59] karellm commented on #219
Feel free to submit a PR

[2022-01-05 10:35] #501 closed

[2022-01-09 03:39] tanosugi opened #503 "Strange message was shown when I use i18next cli"
## 🐛 Bug Report

Strange message was shown when I use i18next cli

## To Reproduce

[code]

## Output
[code]
## Your Environment

- *runtime version*: i.e. node v17
- *i18next-parser version*: i.e. 5.3.0
- *os*: Linux

[2022-01-09 15:36] heymartinadams commented on #503
I can confirm the same happening to me. Also if I install a previous `4.0.1` version.

[2022-01-09 16:35] gelaechter commented on #503
This is because i18next-parser depends on the latest version of colors.js
https://github.com/i18next/i18next-parser/blob/054e29a7b0cae3860857cb0cd5b0d5eac2dd1d0a/package.json#L30

And since the author of colors.js is seemingly having a mental breakdown or something, this now happens to packages depending on the latest version of colors.js
https://github.com/Marak/colors.js/issues/285
https://githu

[2022-01-09 17:56] DanielRuf commented on #503
You can also use resolutions:

https://github.com/Marak/colors.js/issues/285#issuecomment-1008168237

[2022-01-09 21:23] karellm commented on #503
I've published `5.4.0` that fixes the issue by locking the dependency on `1.4.0`. It might be an invitation to lock all dependencies but I will wait for the dust to settle to make a decision on this.

[2022-01-09 21:23] #503 closed

[2022-01-10 01:06] tanosugi commented on #503
Thanks for your quick response.
It was solved for me by update i18next-parser by following command because you fixed as above.
[code]

[2022-01-11 10:37] tradingstratagem commented on #502
I have a similar problem, after updating to version 5.x.x it doesn't extract translation correctly

[2022-01-11 10:38] joepsyko commented on #502
I have a similar problem, after updating to version 5.x.x it doesn't extract translation correctly

[2022-01-14 15:43] raine commented on #249
Similar issue, but perhaps not exactly the same, with `<Trans i18nKey={reason} ...>`

Parser adds `"reason": ""` to JSON. It doesn't seem right to add the variable name.

[2022-01-21 08:57] davydspotnana opened #507 "`--fail-on-update` unknown option for 4.x.x version that support i18next JSON v3"
## 🐛 Bug Report

Please cherrypick this PR https://github.com/i18next/i18next-parser/pull/471/files for `4.x.x` version and released it!

as we have a huge code base and don't have enough time to migrate to a new format  i18next JSON v4(

## To Reproduce

[code]

## Expected behavior

work properly

## Your Environment

- *runtime version*: node 16
- *i18next version*:  19.5.3
- *os*:  Linux

[2022-01-21 12:38] karellm commented on #507
I don't maintain older version. If you want support with that, you can hire me to do it. You can contact me privately via my profile.

[2022-01-21 12:39] #507 closed

[2022-01-21 12:41] davydspotnana commented on #507
@karellm I can create PR for the older version? Do you release it for 4.x.x tag?

[2022-02-07 12:04] chiptus opened #509 "dynamically computed namespaces are parsed as the variable name"
## 🐛 Bug Report

When calculating the namespace dynamically (for example, if I want to use the same namespace for all Trans components), i18n-parser uses the namespace variable name as the namespace.

## To Reproduce

[code]

## Expected behavior

I expect to have a new json file names `my-own-ns.json` with the following:

[code]

## Your Environment

- *runtime version*: node v16
- *i18next versi

[2022-02-09 09:36] maciejregula opened #510 "Different numbers of plurals in polish between json v3 and json v4"
Hello,

When I extract translations in json v3 I have following types of plurals in polish language:
[code]
When I do the same but with option to extract in json v4
[code]

I have following result:

[code]

According to this tool https://jsfiddle.net/6bpxsgd4, there are 3 forms of plurals in polish, so why 4 suffixes are generated in JSON v4?

"i18next-parser": "^5.4.0"
"i18next": "^21.5.2"

[2022-02-09 09:38] jamuhl commented on #510
<img width="450" alt="image" src="https://user-images.githubusercontent.com/977772/153168012-9185bfa4-767f-4b07-ad7d-6befbacb3056.png">

there are four

[2022-02-09 09:40] jamuhl commented on #510
v3 vs v4 -> v3 used not cldr as source ---> cldr uses the "other" form for decimals - which was not supported in v3

[2022-02-09 10:01] maciejregula commented on #510
Thank you for your clarification. Ok, so the issue is in i18next-conv. Because when I convert the json in v4 format to the gettext, it produces only 3 suffixes:
msgstr[0]
msgstr[1]
msgstr[2]

Probably gettext doesn't support decimals.

[2022-02-09 10:39] jamuhl commented on #510
gettext come with own pluralrules as far i know - which are not based on cldr (but closer to v3 of i18next)

[2022-02-10 04:31] karellm commented on #509
The parser does not run or interpret your code. If you don't use a string literral it will not work. That said it should throw a warning and not grab the variable name.

[2022-02-11 19:51] Kolby-Udacity commented on #429
It would be nice if could make it clear that a translation includes a variable. It would help the translators knowing they have a variable available to use.

I agree that there isn't much you can do without more context, but one solution that comes to mind is making `defaultValue` type `string` | `(variableNames: string[]) => string`, and proving the variable names which we can then insert into ou

[2022-02-13 22:36] mquandalle commented on #497
Should be fixed by #508.

[2022-02-13 22:46] karellm commented on #497
@mquandalle You are right that v6 is supposed to fix this. I just have one bug that I haven't got around to solve yet.

[2022-02-23 23:37] kurt1288 opened #513 "Output files don't get created if any other language files already exists"
My config:

[code]

Expected: Output should be three folders (named en, fr, and es) and within each folder there to be a file named "translation.json".

To reproduce: Delete the translation.json file in the fr folder, and run the extract command.

Actual: The existing translation.json files are updated, but the missing fr file is not created.

The output in the console suggests that the file was c

[2022-02-28 16:58] Toilal commented on #497
For users migrating their project to ESM (using `type: module` in package.json), you have to rename your configuration file for it to have the `.cjs` extension, and specify the filename using the `-c` command line flag

[code]

[2022-03-11 21:35] igorsantos07 commented on #264
@jamuhl Could not help but laugh at your mention of react-routers (emphasis on the plural) and the likes. Definitely can relate lol

The thing is: the message passed by being under an Org and being a sponsored project isn't what really happens. And I understand why all that, but still it's not clear these projects are in PR-only mode. You come in for the battle-tested and 10yo stability, but end u

[2022-03-12 09:46] adrai commented on #264
**tldr;**
- i18next is not a real organization or company, it's a github organization: https://github.com/i18next
- 10yo stability is for [i18next](https://github.com/i18next/i18next) (https://github.com/i18next/i18next), not for all i18next related modules
- Regarding sponsoring: at least there is a bit of sponsoring. I don't think it would be better without any sponsoring?
- A bit of history:

[2022-03-12 16:30] karellm commented on #264
@adrai I'm still coding and fixing things for this project. Yet I'm at a different place in my life today and my priorities are organized differently. It means that it will evolve slowly when I can afford to put some time on it.

If someone need things fixed faster, one way would be to give a financial contribution. I've never received such a proposition in this project (beside the welcomed sponso

[2022-03-13 03:23] karellm commented on #497
I just publish `6.0.0`

[2022-03-13 03:24] #497 closed

[2022-03-13 03:51] #510 closed

[2022-03-13 03:57] karellm commented on #509
I double checked and it ignores the namespace if it is a variable so I'm closing this.

[2022-03-13 03:57] #509 closed

[2022-03-13 03:59] karellm commented on #498
@Heldenkrieger01 Can you provide me with a reproduceable example?

[2022-03-13 04:01] karellm commented on #502
@buyhighHippo  Can you provide a reproduceable example?

[2022-03-16 13:04] ArcanumLibella opened #525 "i18next-parser generates keys '_many' only for me (not my teammates)"
## 🐛 Bug Report

Since 2 weeks, for every commit, keys _many are added in all my translation files. But not for my teammates and I don't understand why it happens only for me (my teammates have the same node version v16).

I already saw this issue : [Missing 'many' suffix for language "fr"](https://github.com/i18next/i18next-parser/issues/460), but it is not quite the same problem. Have you ever e

[2022-03-19 11:08] simonnilsson opened #527 "[ERR_UNSUPPORTED_ESM_URL_SCHEME]: Only file and data URLs are supported by the default ESM loader."
## 🐛 Bug Report

Latest version (6.0.0) does not run on Windows. It fails while trying to open config file. Doesn't matter if you supply a custom path or it just tries to load default **i18next-parser.config.js**.

The following error is given while running the basic **i18next** command:

[code]

Where `c:` is the drive the project is in.

## To Reproduce

[code]

## Expected behavior

Command to

[2022-03-19 12:11] simonnilsson commented on #527
Changing

https://github.com/i18next/i18next-parser/blob/c2dccd51cf6a1a6de8fb78cfa3f87bd03e11d005/bin/cli.js#L51

to

[code]

fixes the issue. I can make a pull request for this change if wanted.

[2022-03-21 15:30] Laityned opened #528 "Bug: resetDefaultValueLocale not working for nested keys"
## 🐛 Bug Report

When using the `resetDefaultValueLocale: _locale_` setting, only keys at the highest level are reset in the other locales files. Nested keys are not reset when the the default locale is changed.

## To Reproduce

set option to
[code]

A [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example).
A [codesandbox](https://codesandbox.io/examples/packa

[2022-03-21 15:30] Laityned opened #529 "Bug: resetDefaultValueLocale not working for nested keys"
## 🐛 Bug Report

When using the `resetDefaultValueLocale: _locale_` setting, only keys at the highest level are reset in the other locales files. Nested keys are not reset when the the default locale is changed.

## To Reproduce

set option to
[code]

A [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example).
A [codesandbox](https://codesandbox.io/examples/packa

[2022-03-21 15:31] #528 closed

[2022-03-21 19:26] myl7 opened #530 "Entity encoding is not recognized by the lexer"
## 🐛 Bug Report

When using entity encoding in JSX like `&apos;`, i18next-parser can not recognize it and convert it to `'` in the extracted keys, causing `<Trans>` without i18nKey can not select the translated value.

## To Reproduce

A minimal reproducible example is available on [myl7/i18next-parser-mwe](https://github.com/myl7/i18next-parser-mwe)

## Expected behavior

`<Trans>I&apos;m myl7!</

[2022-03-23 14:43] alk-mandrianarijaona commented on #498
So as a workaround, I currently use a pinned commit version of i18next-parser by setting `"i18next-parser": "https://github.com/i18next/i18next-parser.git#d863cd188a0ae1da68ad455fe39ba33f7db75bc6",` in my `package.json`.

[2022-03-24 19:22] llevonick opened #531 "Nested plural key _zero not getting added to other translation files"
## 🐛 Bug Report

A nested plural key for `<key>_zero` doesn't get added to the translation files after running `npx i18next 'src/app/**/*.{ts,tsx,js,jsx}'` despite the key being in the `en.json` file

## To Reproduce

We have an `en.json` file with a bunch of nested keys, but this is the relevant piece with plural values:
[code]
`comment.commentCount` is referenced in the code in this Trans compon

[2022-03-25 01:39] jgonggrijp opened #532 "Please make it possible to import the lexer classes from the outside"
## 🚀 Feature Proposal

Currently the `exports` field in the `package.json` forbids importing anything from the package other than `dist/index.js`. I would like to request that either (1) the `exports` field is extended so that the classes in `dist/lexers/*.js` can be imported as well, or (2) those classes are re-exported from `dist/index.js` in the same way as is currently the case for the default

[2022-03-28 01:51] #532 closed

[2022-03-28 02:34] karellm commented on #532
This should be fixed in `6.0.1`. Please note that this version dropped support for Node 12 also.

[2022-03-28 02:34] karellm commented on #527
This should be fixed in `6.0.1`. Please note that this version dropped support for Node 12 also.

[2022-03-28 02:36] karellm commented on #498
Could you provide me with a reproducible project? This seems to be a severe bug and I will happily tackle it

[2022-03-28 11:50] #527 closed

[2022-03-28 13:16] jgonggrijp commented on #532
Thanks!

[2022-03-29 08:48] alk-mandrianarijaona commented on #498
@karellm I will try to create a reproduction project. Our project is a private app with 3k+ files and on a small CRA project, I could not reproduce it with the small amount of code there.

[2022-03-30 04:43] kevinsimper opened #545 "Vue packages version mismatch"
## 💥 Regression Report

It now throws this error while trying to pickup translations, and we do not use vuejs.

It also feels unfortunate to have a vuejs template compiler installed in a project that does not use vuejs at all.

Our config is this
[code]

[code]

## Last working version

Worked up to version: "^19.7.0"

Stopped working in version: "^21.6.14"

## Your Environment

- *runtime version

[2022-04-03 12:14] Laityned commented on #498
Possible related to the same origin of the bug as described in issue #489.

In that case PR #546 would fix this issue.

[2022-04-03 16:52] karellm commented on #489
This is likely fixed in `6.2.0`. Please not that `unique count` now includes plurals since it makes more sense with the new plural form.

[2022-04-03 16:52] #489 closed

[2022-04-03 16:52] karellm commented on #498
This is fixed in `6.2.0`. Please not that `unique count` now includes plurals since it makes more sense with the new plural form.

[2022-04-03 16:52] #498 closed

[2022-04-03 21:52] karellm commented on #545
This project uses `"vue-template-compiler": "^2.6.11"`, simply match that in your dependency and update your dependencies.

[2022-04-03 21:52] #545 closed

[2022-04-03 21:54] karellm commented on #525
@ArcanumLibella Please update to `6.x` and report back if the issue persists.

[2022-04-03 21:54] #525 closed

[2022-04-03 22:01] karellm commented on #494
@tylerrasor It is indeed a missing feature at the moment.

[2022-04-03 22:03] #145 closed

[2022-04-03 22:06] karellm commented on #247
Closing by lack of activity

[2022-04-03 22:06] #247 closed

[2022-04-04 02:32] karellm commented on #495
A warning is thrown if there is a key use twice with a conflict on the value. What you are proposition is not yet implemented though.

[2022-04-04 07:41] alk-mandrianarijaona commented on #489
@karellm unfortunately upgrading to 6.2.0 does not solve my issue yet but I was not able to reproduce it in a new project with the same config as my private project. I will reopen later if I can find a way to reproduce it. Thanks 🙏🏼

[2022-04-04 12:42] karellm commented on #485
This is implemented in `6.3.0`

[2022-04-04 12:42] #485 closed

[2022-04-06 07:58] glekner commented on #502
@karellm we have the same issue in our repo https://github.com/kubevirt-ui/kubevirt-plugin
if you check https://github.com/kubevirt-ui/kubevirt-plugin/blob/main/locales/en/plugin__kubevirt-plugin.json
you will see only 216 keys, for some reason the parser does not parse files inside `src/utils/**`

can you please help?

[2022-04-11 08:25] lazka opened #553 "More context for warnings"
it currently shows:

[code]

It would be nice if it would show some context for those warnings, like which file and which line triggered the warning.

[2022-04-14 16:46] tradingstratagem commented on #502
I found the problem, I had this in my source code:
`label: t(''),`
After removing it, the parser works perfectly

[2022-04-20 10:03] upalatucci commented on #502
I can confirm! Also in our repo https://github.com/kubevirt-ui/kubevirt-plugin

[2022-04-20 12:16] alk-mandrianarijaona commented on #502
I have just checked our project, I also found a `t('')`, this must be the root cause. I will remove that. Thanks @tradingstratagem @upalatucci

[2022-04-27 05:36] ogheneovo12 commented on #144
same issue, returns read but no write is actually carried out

[2022-04-28 17:55] alk-sdavid commented on #502
Hi 👋 indeed empty keys are resetting the namespace catalog here: https://github.com/i18next/i18next-parser/blob/master/src/helpers.js#L31 I'm not sure to understand the logic here 🤔 Is it really intended?
`t('')` can mess up all translations from a project, and there is another use case I found in our codebase:

[code]

It extracts an empty key too. After removing all the empty keys, it seems to w

[2022-04-29 01:39] #502 closed

[2022-04-29 01:40] karellm commented on #502
Thanks for finding the issue @alk-sdavid. I've pushed a patch as `6.4.0`

[2022-05-02 07:11] alk-sdavid commented on #502
thanks @karellm it seems to work as expected now 👍

[2022-05-02 15:41] tux21b commented on #494
I just discovered the same bug with key prefixes instead of namespaces. Looks like i18next-parser threads all t functions with the config that appeared last.

[code]

[2022-05-17 18:16] addiebarron opened #573 "Allow unrestricted plain-text keys alongside nested namespaces"
## 🚀 Feature Proposal

Allow for using plain-text keys (including any character, including key separators) when passing strings into `t`, while keeping nesting via key separator characters enabled for the namespace passed into `useTranslation`. This could be controlled by an optional config setting. See example & motivation below.

## Motivation

In order to keep translating simple and low-overhea

[2022-05-18 03:33] ytytsophia commented on #219
Same Problem

[2022-05-18 19:00] newbie78 commented on #262
this is object in Vue prototype. you must use it to send key-string.

[2022-05-23 09:08] sk-idwell opened #577 "Unable to run with config"
Getting this when trying to use with a config file.

[code]

## Environment

- *runtime version*: 16/17/18
- *i18next version*: 5.4.0
- *os*: Mac

[2022-05-23 12:37] #577 closed

[2022-05-27 20:38] addiebarron opened #580 "Does not parse plural default values from Trans component"
## Parser does not parse plural default values when using the Trans component

When generating translation files, the parser does not generate the default English string values for plurals when using the `Trans` component. The parser _does_ work this way when using `t`.

## To Reproduce

Use a `Trans` component with a `defaultValue_plural` passed into `tOptions` (this example uses JSON v3 plural r

[2022-05-28 12:28] karellm commented on #580
Would you be interested in making a PR for this?

[2022-05-29 13:56] Laityned opened #583 "CI: codecov not correct"
## 🐛 Bug Report

Codecov is not reporting any coverage.

## To Reproduce

Run CI and see that it uploads a report however it says nothing is covered

## Expected behavior

Correct reporting of code coverage by the yarn test

[2022-05-29 16:17] Laityned commented on #573
This is not related to the parser but to the [react-i18next useTranslation hook](https://react.i18next.com/latest/usetranslation-hook#optional-keyprefix-option).
This hook already supports plain-text keys alongside nested namespaces

[2022-06-02 23:44] karellm commented on #583
I'm wondering if this is not fixed thanks to your PR #581

[2022-06-03 11:45] #583 closed

[2022-06-08 16:22] JulioC opened #597 "failOnUpdate fails when no update happens, when using namespaces"
## 🐛 Bug Report

When using failsOnUpdates flag, the transformers emits an error even when no update is necessary. This only happens when using multiple namespaces.

It appears that the cause is that the namespaces won't be considered for the original number of tokens when calculating the change count (see below).

https://github.com/i18next/i18next-parser/blob/42b66c1dca5986f462825057e10db58222f5

[2022-06-09 02:09] karellm commented on #597
@JulioC Could you make a PR with proper testing to fix this? Thanks for reporting.

[2022-06-09 09:32] antoine-lapala commented on #531
Looking forward to this

[2022-06-10 14:40] leokolezhuk opened #599 "VueLexer with a custom function list does not use the configured functions when parsing the script block of Vue SFC files"
## 🐛 Bug Report

When using Vue SFC files with a custom VueLexer configuration specifying an array of supporting functions, the Vue Lexer does not look up the specified functions in the <script> block, but only default functions of the JavascriptLexer.

I believe it happens because the JavascriptLexer instance that parses the <script> block does not have the custom functions passed to its construc

[2022-06-13 17:47] JulioC commented on #597
@karellm I've added a new test in https://github.com/i18next/i18next-parser/pull/600, they should be failing as described in this thread.

---

As an additional note, I've also had some trouble running the CLI test suite on Windows because it's trying to run `yarn test:cli`, which has two commands sequentially run using `&&`. This is not valid in powershell nor in cmd.exe.

I suggest moving the `y

[2022-06-14 22:30] joshkel opened #603 "Support TypeScript type casts in JSX"
## 🚀 Feature Proposal

i18next-parser cannot currently handle TypeScript `as` casts within a JSX file. For example:

[code]

gets extracted as `"Hello, <1>{{ name } as any}</1>!"` instead of `"Hello, <1>{{name}}</1>!"`.

## Motivation

As discussed in https://github.com/i18next/react-i18next/issues/1483, React 18's type definitions cause TypeScript to start throwing errors for code such as

[code]

[2022-07-19 15:56] leokolezhuk opened #617 "Vue 3 support"
## 🚀 Feature Proposal

Currently the usage of vue-template-compiler in this package prevents using the parser in a vue 3 project.

Supporting both vue 2 and vue 3 versions would be very beneficial I believe.
## Motivation

## Example

Please provide an example for how this feature would be used.

[2022-07-21 09:38] christian1koch opened #618 "fail-on-errors"
## 🚀 Feature Proposal

The idea of this feature is for the parser to fail with exit code 1, in the same way that fail-on-warnings and fail-on-update works.

## Motivation

The reason for me to propose this option, is that there are times where the parser would find and error, but instead of not writing anything at the end, it overrides the translation files, resetting all the translations to defau

[2022-07-21 17:44] replygirl opened #619 "add LICENSE.md"
would be nice for legal to have the license text and your copyright listed in one place

[2022-08-17 12:19] TomABrook commented on #436
I'm using version 6.5.0 and it doesn't seem to support this still. Would be a useful one for us

[2022-09-22 11:20] christian1koch opened #634 "Empty Strings inside t function causes a false info of Added keys."
## 🐛 Bug Report

A clear and concise description of what the bug is.

When you use the t function inside an empty string, and then extract the keys, you get the information "Added keys: 1". But in reality nothing is added, causing then failOnUpdates always to fail. This can be troublesome if you use failOnUpdates for testing purposes, and then having it fail without knowing why is there a key bein

[2022-09-26 05:36] Toilal commented on #617
Maybe a simple solution would be to make `vue-template-compiler` a peerDependency.

[2022-10-05 12:37] #367 closed

[2022-10-05 13:06] #603 closed

[2022-10-05 13:14] karellm commented on #619
It's done

[2022-10-05 13:14] #619 closed

[2022-10-05 13:28] karellm commented on #553
I could agree more, a PR would be welcome!

[2022-10-05 13:37] karellm commented on #367
Deployed as part of 6.6.0

[2022-10-05 13:37] karellm commented on #603
Deployed as part of 6.6.0

[2022-10-05 19:32] Laityned commented on #597
Using the latest state of this repo, this issue can not be replicated. I wrote test cases directly in the parser.test.js as well. What I did found out is that this behaviour is probably related #634 . The number of added keys is wrong in case of an empty namespace.

[2022-10-05 22:26] boredland commented on #463
What would we expect here? a global flag to disable pluralization is probably not it. Perhaps a "if key exists without _suffix, don't assume _suffixes"?

[2022-10-06 00:41] karellm commented on #463
@boredland I think a flag to disable it entirely would work. Do you need this feature too?

[2022-10-06 06:39] boredland commented on #463
Well, not sure if disabling it would do the trick for me. We use pluralization in places, but have one particular place, where we only use one variant and have i18n formatting it. No problem for our i18n lib, but i18n parser doesn't like that.

[2022-10-06 11:55] karellm commented on #463
I don't think what you need is related to the original issue. I'm ok to introduce a flag to disable the entire pluralization but I'm not keen to add more complexity for specific needs (like yours) in the project. What I would consider is to introduce a post-processing hook for people to modify the files before they are written.

[2022-10-06 15:05] boredland-ioki commented on #463
understood. probably would use that, but on the other hand, duplicating a key is not the worst thing.

[2022-10-18 15:21] soullivaneuh opened #657 "@i18next-parser-warning-ignore tag"
## 🚀 Feature Proposal

Provide a `@i18next-parser-warning-ignore` (or equivalent if you don't like that name ha ha!) comment tag that will silent a warning on a specific code line.

## Motivation

For specific reasons, we may have sometime to use dynamic key and then say good bye to the automatic generation.

However, the only when to keep the parser working is to completely ignore any warning by

[2022-10-20 10:53] Cielquan opened #660 "TypeScript Types for Config"
## 🚀 Feature Proposal

For my typescript project I created a .d.ts file for the i18next-parser config file, which I just wanted to share. You may include it, use it, extend it or do whatever ;)

## Motivation

Just wanted to share.

## Example

[code]

[2022-10-20 17:21] bhr opened #661 "Empty translation string causes deletion of other translation(s)"
## 🐛 Bug Report

When `t('')` is used anywhere in code, other translations cannot be found/referenced by `i18next-parser`.

## To Reproduce

[code]

The key `TITLE` is removed form the translation.json

## Expected behavior

The key `TITLE` should not be removed from the translation.json.

## Fix / Workaround
Removing `{t('')}` fixes the issue. The `TITLE` key remains in the original translation

[2022-10-24 07:49] yoo2001818 opened #664 "Escaped string in JSX is not unescaped in defaultValue"
## 🐛 Bug Report
In JSX, you can specify HTML entities (`&lt;`, `&#34;`, `&quot;`, etc) in JsxText.

[code]

These HTML entities are unescaped while compile time - so it would end up like this in the compiled code:

[code]

However, i18next-parser's JsxLexer doesn't unescape JsxText properly, making `defaultValue` to be `&quot;Hello &amp; world!&#34;` in the example. Similiar to #663, if `i18nKey`

[2022-10-24 09:15] leokolezhuk commented on #617
Hi @karellm,

I am open to doing that.
But while thinking about how to approach it best, I am coming to the conclusion that this **VueLexer might not even be needed at all**. Please, correct me if I am wrong on this.

So in Vue SFC files you have the template and script sections that can contain localizable messages. Regardless of where the message is defined, template or script, it will still be

[2022-10-25 12:37] karellm commented on #660
Thanks! I will include it in the project eventually

[2022-10-27 08:15] ThomasF34 opened #666 "`keepRemoved` option makes the `failOnUpdate` fails without any update"
## 🐛 Bug Report

When using the `keepRemoved` option, set to true, the `failOnUpdate` is failing though no update is made

## To Reproduce

- Use `keepRemoved: true` option
- Have some unreferenced keys
- Run the cli with `--fail-on-update`
- The command fails though no update is made

## Expected behavior

As unreferenced keys are expected when you use the `keepRemoved: true` option, I would expe

[2022-11-02 20:26] JonathanSun opened #671 "`defaultValue` should take precedence over `useKeysAsDefaultValue` if present"
## 🚀 Feature Proposal

When `useKeysAsDefaultValue=true`, only apply the replacement if no `defaultValue` is specified.

## Motivation

Right now, there is no good way for `i18next-parser` to support code where some translations specify a default value and some want the key to be the default.  This is because the [current logic](https://github.com/i18next/i18next-parser/blob/345025312c825bfffc2909

[2022-11-06 01:20] guoyunhe commented on #660
It would be awesome if the i18next-parser.config.ts file can be supported. And users can import other ts files. For example:

[code]

[2022-11-08 06:41] JonathanSun opened #677 "Support `value` as a parameter to the `defaultValue` function option"
## 🚀 Feature Proposal

Support `value` as a parameter to the `defaultValue` function option.  This effectively replaces `useKeysAsDefaultValue` and `skipDefaultValues`, since those behaviors can easily be encoded in the function.

## Motivation

Right now, there is no good way for `i18next-parser` to support code where some translations specify a default value and some want the key to be the defau

[2022-11-08 06:50] JonathanSun commented on #671
Consider #677 as a better alternative.

[2022-11-08 06:50] #671 closed

[2022-11-08 10:49] Cielquan opened #678 "[Code Share] support `shouldUnescape` prop of `<Trans />` component from react-i18next"
## 🚀 Feature Proposal

Currently
[code]
would be extracted as `I&apros;m Cielquan` and not `I'm Cielquan`, because i18next-parser currently does not respect the `shouldUnescape` prop of the `<Trans />` component from react-i18next. I made a custom lexer which does.

## Motivation

Because I currently do not have the time to make a PR I wanted to at least throw the code out into the wild for others

[2022-11-09 11:54] pedrodlz opened #684 "High vulnerability in dependency package vinyl-fs > glob-stream > glob-parent"
## 🐛 Bug Report

High vulnerability found in package glob-parent
┌───────────────┬──────────────────────────────────────────────────────────────┐
│ high                               │ glob-parent before 5.1.2 vulnerable to Regular Expression                                                                   │
│                                       │ Denial of Service in enclosure regex

[2022-11-09 19:28] tran-simon commented on #666
I have the same issue

[2022-11-10 12:05] pasisavolainen commented on #74
I think this was a bad call, this introduces useless churn as code gets refactored and moved around.
Code order is mostly meaningless.

[2022-11-11 01:38] karellm commented on #74
Then set `sort: true`. Am I missing something ?

[2022-11-11 01:39] karellm commented on #666
Can one of you make a PR?

[2022-11-11 02:26] #660 closed

[2022-11-11 02:26] #678 closed

[2022-11-11 02:36] karellm commented on #678
Published as `7.0.0`

[2022-11-11 07:03] pasisavolainen commented on #74
No, I was blind and didn't see it. I do still argue it's a bad default (at least as per. README.md)

[2022-11-14 01:58] guoyunhe opened #688 "7.0.0 is not published on npm"
## 🚀 Feature Proposal

7.0.0 is released on GitHub, but not published on npm.

## Motivation

## Example

[2022-11-14 02:03] karellm commented on #688
Just released it

[2022-11-14 02:03] #688 closed

[2022-11-14 07:09] genox opened #690 "throw new Error('load must pass a non-empty string'); after upgrading to 7.x"
## 🐛 Bug Report

I was using 6.x and upgraded to 7.x, now I get this error when trying to run i18next from a package.json script:

[code]

I checked the changelog and edited `defaultValue` accordingly, but the error didn't change.

Here's my config:

[code]

## To Reproduce

Not sure if this is reproducible on a new install.

## Your Environment

- *runtime version*:  nodejs 18
- *i18next version*

[2022-11-14 10:42] metaworkstudio commented on #690
Has the same. Temporary switched back to the [6.6.0](https://www.npmjs.com/package/i18next-parser/v/6.6.0)

[2022-11-14 10:44] stasbamiza commented on #690
Had the same error. Temporarily switched back to the [6.6.0](https://www.npmjs.com/package/i18next-parser/v/6.6.0). After switching to the previous version, everything works like a charm.

[2022-11-14 10:50] SteveBruntwood commented on #690
Same issue with v7.

Replaced `useKeysAsDefaultValue: true` with defaultValue: `(locale, namespace, key, value) => value ? value : `${key}` `

Switched back to 6.6.0 with `useKeysAsDefaultValue: true` fixed issue.

[2022-11-14 14:36] karellm commented on #690
This is related to the support of multiple file format for the config. Can you tell me which command you use and whether you have a config file or not?

[2022-11-14 14:46] #690 closed

[2022-11-14 14:52] karellm commented on #690
I've published `7.0.2`, can you please try it and if it still doesn't work, share the command you run and whether you have a config file or not.

[2022-11-14 15:02] Zerebokep commented on #690
Doesn't seem to fix the issue:

[code]

config:

[code]

I'm using `yarn i18next` to run the parser.

[2022-11-14 17:56] karellm commented on #690
@Zerebokep  Please try `7.0.3` and if it doesn't work, I'd need to know what the `yarn i18next` actually does in your `package.json`.

[2022-11-14 18:02] Zerebokep commented on #690
That did the job, thank you. :)

[2022-11-14 22:00] pcorpet opened #693 "Add a config to keep some dynamic keys"
## 🚀 Feature Proposal

Add an option so that `i18next-parser` keeps some of the keys that are in the translation files but are not extracted from the code.

## Motivation

When using dynamic keys or dynamic contexts, there are multiple reasons for adding some keys that would be used at runtime while not easy to extract from the code statically. I'd like to be able to use `i18next-parser` to get al

[2022-11-15 08:34] gynekolog opened #694 "[7.0.3] TS file is missing in the build"
## 🐛 Bug Report

The current build is missing typescript definitions.

`Cannot find module 'i18next-parser' or its corresponding type declarations.`

## To Reproduce

https://codesandbox.io/s/i18next-parser-missing-ts-reproduction-2nkws7?file=/i18next-parser.config.ts

## Your Environment

- *runtime version*: node v16
- *i18next version*: 7.0.3
- *os*: Mac

[2022-11-17 18:12] fmilioni opened #698 "ERR_UNSUPPORTED_ESM_URL_SCHEME - received protocol 'd:' [v7]"
## 🐛 Bug Report

CLI command `i18next` throws the following exception:

[code]

## To Reproduce

- I think it is related to the fact that my project is in partition `D:`
- Must use .js (and maybe .ts) config file (related to esm loader)
- using pnpm as package manager
- Previous version (6.6.0) works fine

## Config file (.js)

[code]

## ➡️ Workaround ⬅️

If viable, convert your `.js` config file

[2022-11-18 08:50] pcorpet commented on #693
I'm happy to send a PR, if I get a nod that it would be welcome.

[2022-11-18 13:48] karellm commented on #693
@pcorpet There is another option that is to add a comment in the code with the possible values. That way the keys wouldn't be removed. Have you considered that solution?

[2022-11-18 14:41] pcorpet commented on #693
I have considered it, but don't want to add *all* the keys that could exist as comments in my code.

[2022-11-19 03:34] karellm commented on #693
Makes sense, feel free to make a PR and I'll review it.

[2022-11-21 16:07] ggalletty opened #702 "Extract namespace for `<Translation>` render prop"
## 🚀 Feature Proposal

Add coverage for `<Translation>` render prop component and support parsing default namespace from its props.

## Motivation

Currently the parser doesn't take into account `<Translation>` namespace for children expressions within the render prop.

## Example

With this feature we would extract namespace defined in `ns` prop.

Given

[code]

The JS lexer would be able to assi

[2022-11-21 16:32] ggalletty opened #703 "Parse namespace from `t` type arguments"
## 🚀 Feature Proposal

Extract namespace from `t` type definition.

## Motivation

This feature would extend the current javascript lexer to check for type arguments of `TFunction`, allowing the parser to set a default namespace for cases where the translation function is passed as param to other functions.

## Example

[code]

With the proposed feature, we would parse the function declarations to

[2022-11-25 10:47] mijamo commented on #703
I am also looking for this, is there currently a workaround that you are aware of?

For information, my use case is to have a single file collecting all the form error messages separated from the different form components here and there, and having something a bit like the `helper.ts` in this example was the most obvious way to have it working, but because of that all the error messages end up in

[2022-11-25 21:38] ggalletty commented on #703
Hey there @mijamo!

As workaround you could configure the lexer to use a custom `namespaceFunction`  which accepts a namespace as parameter. The parser will assign that parameter as default namespace for the whole file. That function could return the a `t` function with the right namespace (see `getFixedT` for that).

That will work fine as long as you have a single instance of `i18next`. When you

[2022-11-28 23:53] #677 closed

[2022-11-29 18:48] BenasB commented on #698
Facing same problem, converting to json makes using `defaultValue: function` unavailable

[2022-11-30 01:26] karellm commented on #698
I have limited bandwidth these days and no access to a windows machine. Can anyone facing this issue submit a PR to fix this?

[2022-11-30 22:58] steveartfx opened #708 ".mjs extension is no longer supported on the config file"
## 💥 Regression Report

After upgrading from version 6.4.0 to 7.0.3 I get an error:

/node_modules/lilconfig/dist/index.js:84
        throw new Error(`No loader specified for extension "${ext}"`);

Error: No loader specified for extension ".mjs"

## Last working version

Worked up to version: 7.0.3

Stopped working in version: 7.0.3

## To Reproduce

Steps to reproduce the behavior:

[code]

## Ex