[2014-03-09 11:08] bitfundit opened #1 "got an error on 1st launch"
Hi,

thank you for awesome step towards i18next translation easiness!!!

However here is what I got on my 12.04 Ubuntu:

[mainuser@mainuser:~/test-app]$i18next ~/test-app/client/ -r -l en -f t,tt
## i18next Parser

Target: /home/mainuser/test-app/client
Output: undefined

[parse] /home/mainuser/test-app/client/changeLang.html
[parse] /home/mainuser/test-app/client/changeLang.js
[parse] /home/mainu

[2014-03-09 22:20] #1 closed, assigned to nobody

[2014-03-10 15:01] karellm opened #2 "JSON.parse error management"
If `JSON.parse` crashes, so does the parser.

[code]

[2014-03-27 03:55] karellm opened #3 "Do not remove plural keys"

[2014-03-27 16:28] karellm opened #4 "Handle dynamically computed keys"
**Idea 1**
Have a file `keys.json` with translation keys we want to force or remove in the library:

[code]

We could also have a file per namespace : `translation_keys.json`, `namespace_keys.json`...

[2014-03-31 15:25] karellm opened #5 "Gulp task sometimes crashes unexpectidly"
Error log:

[code]

[2014-04-02 11:55] karellm opened #6 "EMFILE, too many open files"
[code]

[2014-04-05 02:53] #2 closed, assigned to nobody

[2014-04-05 02:55] #5 closed, assigned to nobody

[2014-04-05 03:26] #3 closed, assigned to nobody

[2014-04-05 03:31] #6 closed, assigned to nobody

[2014-05-20 04:21] zzzworm opened #7 "I‘d like there is custom separator for the parser"
sometimes, we will use custom separator for namespace or keys, for the use '.' and ':' may conficit with some text string.
I have use this parser for ourr project,and thanks for your greate job! In practice, we just encounter above problem.So I readed the source code,and add custom separator for our convienience.Also I fork it to my repositories, and commit my fix.
I'd like to share my fix to othe

[2014-05-20 22:13] #7 closed, assigned to nobody

[2014-07-07 21:09] shkomg opened #10 "how to parse i18n.t("some key") ?"
Hi,

I try to parse next code in .js file:
`i18n.t("Change lang 2");`

I've tried
`[mainuser@mainuser:~]$i18next ~/my-app/client/ -r -l en,ru,ua -f t,tt,i18n.t`
and
`[mainuser@mainuser:~]$i18next ~/my-app/client/ -r -l en,ru,ua -f t,tt`

both do nothing with that code form .js file.

What I'm doing wrong?

Thanks a lot, Karel! This awesome parser helps me a lot!

[2014-07-08 03:19] karellm opened #11 "Handle trailing dot in translation keys"
If the key looks like: `t('bla.'+variable)`, then the `json` file get filed with an empty translation:

[code]

[2014-07-08 03:23] #11 closed, assigned to nobody

[2014-07-08 12:14] #10 closed, assigned to nobody

[2014-07-26 00:08] ganchenkor opened #12 "How to keep my old keys"
With default gulp setup as
Gulpfile.coffee

[code]

it completely overrides whole directories without even saving the old keys.

What is wrong? How do I keep old keys + keeping my actual values.
it overrides with empty values.

[2014-07-31 13:00] szepgergo opened #13 "Parse data-i18n attributes in html element"
Hello,
I am trying to parse 'data-i18n' attributes from html files with custom regex:
`i18next modules/ -o lang/ -r '[^a-zA-Z0-9](?:(?:t)|(?:i18n\\.t)|(?:data-i18n))(?:\\(|\\s|=)\\s*(?:(?:\'((?:(?:\\\\\')?[^\']+)+[^\\\\])\')|(?:"((?:(?:\\\\")?[^"]+)+[^\\\\])"))'`.
It doesn't seem to work. How to do it properly?

[2014-08-02 22:17] ganchenkor opened #14 "Doesn't escape context"
Looks like this parser doesn't support context

example:

[code]

in  html

[code]

it will delete keys with male and female and move it to _old.json

[2014-08-03 14:41] #12 closed, assigned to nobody

[2014-08-03 15:18] #14 closed, assigned to nobody

[2014-08-06 16:36] #13 closed, assigned to nobody

[2014-08-25 14:57] jamuhl opened #15 "moving related projects to organisation"
having done: https://github.com/i18next

so if anyone want to move his i18next related project contact me - so we could plan that.

let's discuss this: i18next/i18next#99

[2014-08-26 09:02] szepgergo opened #17 "keep the values in the translation file"
Hello, it's me again.
Was wondering, maybe I am doing something wrong, but the values in the translation.json file which I filled out manually are always overwritten by empty strings when I re-parse my html/js.

Is it a normal behavior, and if so, is it possible to keep the values somehow?
Thank you

[2014-08-26 09:38] #17 closed, assigned to nobody

[2014-10-13 08:49] redking opened #19 "Problem understanding treatment of plural forms"
Hey,

I have a problem understanding how the parser handles plural forms.

Ordinarily, I would crate a plural key in the following way

[code]

And use it in a script via `i18n.t('contacts', {total: total})`, with the plural selected by i18next according to the value of `total`.

The parser does not detect such usages (I get only a "contacts" key in the outputted JSON). (I don't see how it _could_

[2014-10-13 10:04] #19 closed, assigned to nobody

[2014-10-21 20:10] redking opened #21 "Parser hangs when a translation key ends with an escaped inverted comma followed by a dot"
Hey,

I've found that the parser cannot handles translation keys of the following form

[code]

The parser will hang if a file containing this string is passed to it. The problem is the final dot; remove this and the parse works correctly.

The issue is in the regular expression on line 99 of `index.js`. For the function `i18n.t` it creates the following regex

[code]

With this regex, you can see

[2014-10-22 00:51] #21 closed, assigned to nobody

[2014-10-29 19:38] 1bw opened #22 "read error with CLI"
Can't seem to get this to work.  I'm on win7 using version 0.3.4. Throws an error trying to read in the locales dir.  It will create the dir and leave it empty.

[code]

[2014-12-03 17:05] #15 closed, assigned to nobody

[2014-12-16 08:53] rhulshof opened #23 "Include values as default translations"
As already partially discussed in https://github.com/i18next/i18next-parser/issues/13 and related to my implementation as described here http://stackoverflow.com/questions/26561879/i18next-best-practice/26737839?noredirect=1, I wonder if it will be possible to:

Parse `i18n.t('namespace.example', 'Default value');` methods and insert `Default value` into the locales/translation files whenever `nam

[2014-12-25 19:08] MartijnR opened #24 "filterFolder exclude not working"
This example from the readme.md does not appear to be working in the cli:

[code]

Whenever I try to exclude a folder I get this error:

[code]

[2014-12-25 21:08] #24 closed, assigned to nobody

[2014-12-26 17:24] MartijnR opened #25 "Array values are replaced with {}"
Am sending test in PR.

[2014-12-26 17:31] #25 closed, assigned to nobody

[2015-02-02 17:32] karellm commented on #22
Has I didn't hear back from you I will consider this error solve. Please open a new ticket if it is not.

[2015-02-02 17:32] #22 closed

[2015-02-25 15:59] shkomg opened #27 "Parse full meteor app folder"
Hi,

while trying to parse all meteor app folder got such a mistake:
[parse] /home/username/.meteor/packages/webapp/.1.1.6.6iir9q++os+web.browser+web.cordova/npm/node_modules/connect/node_modules/multiparty/node_modules/readable-stream/test/simple/test-stream2-writable.js
fs.js:113
      throw er;
      ^
Error: Path must be a string without null bytes.
    at nullCheck (fs.js:111:14)
    at Objec

[2015-02-25 16:05] shkomg commented on #27
well, with filters ```i18next ~/HostApp/ -r -l en,ua -f t,tt --fileFilter '*.html,*.js' --directoryFilter '!.git, !.meteor'``` it works just great!

Thank you

[2015-02-25 16:05] #27 closed

[2015-04-07 17:17] limdauto opened #29 "Support for extended handlebars helper"
As described in http://i18next.com/pages/doc_templates.html, to use context and option variables in Handlebars, we need an extended helper

[code]

Is it sensible to support this along with the standard `t`?

[2015-04-07 17:18] limdauto commented on #29
I suppose I can write my own parser, but I would imagine that many people will need this `tr` to support pluralization.

[2015-04-07 19:44] karellm commented on #29
Support would be great but I am currently limited in time.

The easy solution is to use the `regex` option and create your own. If you have some more time, a PR would be welcome!

[2015-04-09 10:29] antwan1986 commented on #29
I'm in the exact same boat as of today, so if someone does invent a regex that works, please post!

[2015-04-10 12:23] limdauto commented on #29
Sorry for not getting back a bit late. I have thought this through. I think the `{{tr }}` setup is a bit mad. I have normalized everything to work with a single `{{t }}`. Work for me in my case.

[2016-02-26 12:12] megapctr opened #35 "Allow to disable separators"
[You can use `false` to disable separators in 18next](http://i18next.com/translate/keyBasedFallback/#key-based-fallback). I think this library should behave the same way.

[2016-02-26 12:14] megapctr commented on #35
Even better, it would be super nice if `i18next-parser` could read config from an i18next instance.

[2016-02-26 12:36] megapctr opened #36 "Use the same option names as i18next does"
I noticed a small difference between i18next and this library regarding the option names - i18next uses `nsSeparator`, whereas i18next-parser uses `namespaceSeparator`.

We should probably check other option names as well.

[2016-02-26 15:11] karellm commented on #36
@megapctr Please consolidate similar requests together, this feels too close to #35 to justify 2 open issues.

[2016-02-26 15:14] karellm commented on #35
@megapctr I agree that matching i18next option is a good idea but that would be a non backward compatible change so I'm not sure it is worth it.

As to allowing to disable it and or read the config, I invite you to do a PR. I'm not sure how a build tool could read the config (unless there is a config file format I'm not aware of).

[2016-02-26 16:11] megapctr opened #37 "Incorrect handling of \n in messages"
I noticed that strings with `\n` get converted to `\\n` in the output files :(

[2016-02-26 16:14] karellm commented on #37
Can you please detail your issues, provide reproducible step, example, failing tests... This is an OS project, open a PR or at the very least make the job of maintainers easier.

[2016-02-26 16:18] megapctr commented on #37
Of course, I'd be happy to make some PRs when I have some free time.

About the issue, there's not much to add. When you have `i18n.t("Hello\nWorld!")` in your input files and run i18next-parser, the output json will look like this:
[code]

[2016-02-26 16:23] megapctr commented on #37
Here's how I use i18next-parser
[code]

[2016-02-26 16:39] megapctr opened #38 "Collect concatenated strings"
i18next-parser doesnt collect concatenated strings, e.g. `i18n.t("Foo: " + "Bar")`. It would be awesome if it did.
[i18n-extract](https://github.com/oliviertassinari/i18n-extract/blob/master/index.js) does this, so maybe it won't be difficult to reimplement?

[2016-02-26 19:17] megapctr commented on #37
I've written a [test which confirms this bug](https://github.com/megapctr/i18next-parser/commit/321f2891e15da9fea21de210f2735ce454911595), but I couldn't decipher the regexes to find out what's causing the problem.

[2016-02-27 08:33] megapctr commented on #38
I tried to port it and some of the tests pass, but most of them fail as babel raises syntax errors (e.g. invalid jsx). Also there's a problem with html and other templates, I'm not sure if babel can handle that

[2016-02-28 22:31] karellm commented on #38
Do you actually need that? If so what is the use case?

[2016-02-29 06:22] megapctr commented on #38
The use case is breaking very long strings into a few lines for readability

[2016-02-29 06:26] megapctr commented on #38
Although I don't really need that, because I decided to go back to using i18n-extract, since the problem I had with it turned out to be a simple change. Sorry for making a mess here

[2016-05-03 17:41] scags9876 commented on #38
+1   We have the same issue... it would be great if i18next-parser could handle concatenated strings.

[2016-05-03 20:20] karellm commented on #38
@scags9876 I'm maintaining this project for bugs but don't plan to add features to it. I will review a PR with documentation and test and publish a new version though.

[2016-05-27 17:03] MartijnR opened #41 "0.8.0 finds non-existing issues of translation functions using variables."
E.g. in this string

The function added to index.js in [this commit](https://github.com/i18next/i18next-parser/commit/4985f4249306cce2253a01ab020ac298a80abf04) finds a match and outputs an "i18next-parser does not support variables in translation functions" error.

match[1] is `"t in the defaults parameter"`

[2016-06-08 13:48] mogelbrod commented on #41
Having the same problem, possible fix:
[code]

Changed regex requires the function name to be followed by parentheses, optionally prefixed by whitespace.

[2016-06-09 13:10] #41 closed

[2016-06-09 13:12] karellm commented on #41
I have published `0.8.1` with a fix. Let me know if it got you covered. If not, please share any other string causing the issue.

@mogelbrod I have excluded any quote (single, double, back-tic) from the authorized characters before the `fnPattern`.

[2016-06-09 16:32] MartijnR commented on #41
Thanks. The next false error I'm encountering is with this:

[code]

matches[1] is "_t = function( key, options ))_"

Maybe this question doesn't belong in this issue, but would a warning (instead of a terminating error) perhaps be better for the use of variables? I use them a few times, for good reasons, and now I'll have to create copies of t, to allow i18next-parser to run. It just seems a litt

[2016-06-10 16:08] wong2 commented on #41
I'm still having this issue after upgrade to 0.8.1, the string is similar with @MartijnR

[2016-06-13 10:29] wong2 commented on #41
@karellm please have another look

[2016-06-13 11:09] mogelbrod commented on #41
@karellm: I suggest using a stricter regex that only considers function call-like strings using parentheses to avoid false positives. Since it's meant to catch function calls it easier to look for function calling syntax (parentheses) rather than relying on a more liberal approach and then having to manually think of any exclusions.

[2016-06-13 14:25] karellm commented on #41
@wong2 @mogelbrod  I just published `0.8.2`.

I followed your suggestion and removed tests for string literal without a parenthesis.

[2016-06-13 14:27] karellm commented on #36
I agree it would be better but since it would introduce an API change it would be non backward compatible. I don't think it is worth it. Closing for now

[2016-06-13 14:27] #36 closed

[2016-06-13 14:48] wong2 commented on #41
@karellm it works now, thanks a lot!

[2016-06-26 16:20] Mankee opened #43 "i18next-parser applying wrong translation value from original locale files"
Suppose I have a key 'foo_bar' in my application and it is currently translated for locale EN  but not for FR, ES (which are also supported locales in this app). The parser will grab the value from the EN locale and apply that value to FR, ES parsed locales.

I am trying to use the i18next-parser as a coverage report tool to see what key-value pairs still need translations for other locales other

[2016-06-27 12:24] karellm commented on #43
@Mankee Thanks for the detailed issue. Could you make a PR? I don't have the time currently to implement this but will review PRs.

[2016-06-27 15:41] Mankee commented on #43
@karellm I have not digged too much into the source but if I have time I will try and submit a PR for this. Just wondering if you were able to reproduce my findings? I think the workaround for this in the meantime is to just run the i18next-parser per locale instead of specifying an array of locales in the config.

[2016-06-27 21:57] Mankee commented on #43
@karellm I think I found the issue. The for loop that generates the translationHash object needs to run for each locale, otherwise you get translation values from whatever locale had a matching key value pair for that translation. I hope this makes sense. I am going to submit a PR that basically just moves the translationHash for loop inside the for loop that iterates over each locale. Feel free t

[2016-06-29 11:42] danieljuhl commented on #37
Could we close this issue? I think it is fixed in #42

[2016-06-29 11:50] megapctr commented on #37
I don't use this project anymore, but if it's fixed then yeah

[2016-06-29 11:50] #37 closed

[2016-07-06 23:20] duanbw opened #45 "Scan data-i18n-options in HTML"
When data-i18n and data-i18n-options coexist in a DOM only data-i18n is recognized, suppose I wanted a translation with context, I couldn't get it with this tool

[2016-07-08 16:57] birdy- opened #46 "Doesn't handle context via { context: 'male' }"
We are trying to keep our translations in "real" english to have a acceptable fallback if a string isn't translated (`Do you want to continue ?` looks better than `modal.question.continue` when the string is not available in your language at the moment).
i18next doesn't handle `i18n.t('From', { context: 'date' })` but `i18n.t('From::date')`. It's an issue when you rely on key for fallback.
I quick

[2016-07-08 16:59] jamuhl commented on #46
should work...like http://i18next.com/translate/keyBasedFallback/

[2016-07-11 12:09] birdy- commented on #46
It seems context is not stripped from the "key" if the key includes context directly :
[code]

[2016-07-11 12:15] jamuhl commented on #46
did you change the context seperator? Else it should be `i18next.t('My key_mycontext')`

[2016-07-11 13:32] karellm commented on #46
First of all, I'm maintaining this project because there are a lot of users but I'm not building new features. Basically if you write a PR, I will merge it but can't put development time at the moment.

@birdy- The way the parser work, it should prepopulate other language with the default translation of your first locale (see https://github.com/i18next/i18next-parser/issues/43). This might address

[2016-07-11 14:04] birdy- commented on #46
The problem isn't the ctxSeparator (it could be `:` or `_` or `d-.-b` for some fun). It's just a missing feature which could be very useful in my case.
I totally understand it would be some work to handle this since we don't parse options atm. I posted this issue mainly to see if I get some :+1:. I'll try to push a PR this week.

[2016-07-28 14:46] birdy- commented on #46
Done in the PR above.

[2016-08-06 15:30] arjanvanderleden opened #50 "in jade file attributes preceded with ( are not matched"
For example:

`.my-title(t="home.title")` is not matched by attribute regex on line 144 of index.js
`var attributeWithValueRegex = new RegExp( '(?:\\s+' + attributes + '=")([^"]*)(?:")', 'gi' );`
the regex requires a preceding space (as is always the case in html)

suggested fix:
instead of space class `\s` use non-word class `\W`
`var attributeWithValueRegex = new RegExp( '(?:\\W+' + attributes +

[2016-08-06 20:58] karellm commented on #50
@arjanvanderleden Can you please make a PR with a test to cover this example? I will review and publish a new version but I don't really spend time actually coding this project anymore. Thanks!

[2016-08-25 12:40] #46 closed

[2016-08-25 12:41] birdy- commented on #50
I think I fixed this with https://github.com/i18next/i18next-parser/pull/52
Can you check it ?

[2016-08-25 13:34] arjanvanderleden commented on #50
I closed pull request #51 which also fixed the issue
Regards Arjan

From: Clément Danjou [mailto:notifications@github.com]
Sent: Thursday, 25 August, 2016 14:41
To: i18next/i18next-parser <i18next-parser@noreply.github.com>
Cc: Arjan van der Leden <arjan.vander.leden@stepup.nl>; Mention <mention@noreply.github.com>
Subject: Re: [i18next/i18next-parser] in jade file attributes preceded with ( are n

[2016-08-25 13:38] karellm commented on #50
Should be fixed in `0.10.1`

[2016-08-25 13:38] #50 closed

[2016-09-02 09:21] bitkeeper opened #53 "Starting from version 0.8.0 scanning i18n.t(var1 + var2) is broken"
Scanning
[code]
Will result in:
[code]
Version 0.7.0 or lower doesn't have this issue.
Is this construction is deliberately not supported anymore or did something break ?

btw thanks for this great scanner !

[2016-09-02 09:35] bitkeeper commented on #53
I see that is introduced in PR #40 by @laszlopandy .

We use a mix of `i18n.t("mykey")` and `i18n.t(myvar)`
i18n.t support both, using the variable is typically for translating dynamic texts. Which is very common in general programs.

We use the scanner only to extract the string version and are completely fine with the fact that the scanner ignores the one with the variable.  I can imagine that y

[2016-09-02 10:47] laszlopandy commented on #53
Can you explain to me how you translate dynamic texts? I mean, how will the translated string be available for the `I18n.t()` to return if the scanner cannot identify that this string is one to be translated?

[2016-09-02 11:29] bitkeeper commented on #53
Typically the dynamic strings aren't part of the frontend, but the backend.
In our case the dynamic returned strings are in the form of a i18next key.

We provide a separate namespace file for those items (no conflict with the namespaces generated by the scanner ). Those namespace files can be either generated from master data or manually put together.

The separate namespace files are merged and

[2016-09-02 11:56] laszlopandy commented on #53
If you anyway have the strings in a different namespace, why don't you use a different function to get the translation for them? `I18n.t` for literals and `I18n.v` for variables for example. Then the scanner would still give you a warning if you accidentally did this:
[code]

[2016-09-02 12:35] bitkeeper commented on #53
Your suggestion make sense. Only now you force existing code to be changed, to support the detection.

The scanner behaves different after the patch then before, rather I would prefer that in such cases that new behavior can be enable or disabled by command-line.

[2016-09-02 12:51] laszlopandy commented on #53
I'm ok with having a command line switch as well. That is a reasonable solution.

[2016-09-02 14:12] bitkeeper commented on #53
In that case I made a buzz about nothing &#x1F62A;.  @karellm already added comment-line switch --ignoreVariables with version 0.10. Then it provides a warning instead of an error.

[2016-09-02 14:18] jamuhl commented on #53
@bitkeeper You shoudn't use  https://localise.biz/ but our own service http://locize.com -> this way you support the future of i18next ;)

[2016-09-02 14:28] #53 closed

[2016-09-28 04:49] zecho opened #54 "Parser does not put newline at the end of the file"
When parser runs at the end of the generated file the newline is cut. It ends immediately after the closing bracket.

[2016-09-28 12:50] karellm commented on #54
You are welcome to make a PR to fix this. I won't code new features into the project but will review and merge PRs.

[2016-09-28 15:33] sanbor commented on #23
Some of us use keys as default translations. e.g.:

[code]

But the current behavior is:

[code]

It would be nice to at least have the option to use the key as the value.

[2016-10-04 22:25] MartijnR commented on #41
Thanks for adding the ignoreVariables option!

[2016-10-06 23:17] sourceRS commented on #23
I'm interested in how this could also apply to pluralized values:

[code]

[code]

or perhaps, if you're using the key as a default value:

[code]

[code]

[2016-10-07 03:18] karellm commented on #23
@sourceRS I'm not actively maintaining this project but I will merge PRs if you feel like tackling it

[2016-10-12 18:12] sourceRS opened #55 "Tracking file path references for each key"
## tldr:

Wanting to add the functionality to track file path references to each key for the purpose of having those comments end up in .po files for our translators to get better context as-needed, requiring modifications both in this repo and in the [i18next-gettext-converter](https://github.com/i18next/i18next-gettext-converter), and curious how amenable you'd be to merging that sort of thing i

[2016-10-13 18:03] karellm commented on #55
My first reaction is that this is highly specific and I'm a little reluctant (but not opposed) to complicate the code for something your project likely be the only one to use. If you think there is a use case that applies to more people, please let me know.

As to the way you structured the changes, it makes total sense to me. It definitely must be opt-in. I would probably have the parser generate

[2016-10-14 22:27] sourceRS commented on #55
I can certainly understand that reaction, although I don't think it's specific to just us. It seems to be a common thing for translators to desire file path information to see more context around the string they're translating.

I like the idea of generating both a .json and .po.json, it does seem less hacky than putting it in /tmp and relying more on the other repo. I think our initial thoughts w

[2016-11-02 22:07] jeremyosborne commented on #55
I'm a little late to the party but I did a google search for this specific item today. I have low to average experience setting up multiple languages in an app, but in two previous companies and in an open source project I've (sort of) contributed to, having the file references helped debug context.

In my current project it will be helpful because we're using keys-as-English-defaults (except wher

[2016-11-02 23:33] karellm commented on #55
@jeremyosborne see https://github.com/i18next/i18next-parser/pull/56

[2016-11-30 15:00] isld opened #57 "Doesn't extract keys from Interpolation component with react-i18next"
Can't be much more descriptive than in the title. Here is a code snippet:

[code]

Sadly, the string 'Total {{amount}}' never makes it to the JSON output of the parser.

[2016-12-25 04:10] karellm commented on #54
Closing for lack of activity. Feel free to reopen with more details or a PR.

[2016-12-25 04:10] #54 closed

[2016-12-25 04:14] karellm commented on #45
Can you detail the issue a little bit more? Or even better, provide a failing test?

[2016-12-25 04:14] #4 closed

[2016-12-25 05:08] karellm commented on #57
@isld I looked into this. It wouldn't be too hard to add but I'm somewhat reluctant to add more trackers to the code. It might be time to have a better configuration to support different needs (people using react likely don't care about html parsing or handlebars). Would you be interested in submitting a PR?

[2016-12-25 15:32] zecho commented on #54
Hi,

I'm not a javascript developer, that's why I didn't provide PR request. It was just matter of a single line (event ugly looking) which I can't create a pull request for (temporary disabled) but the patch is:

`
diff --git a/bin/cli.js b/bin/cli.js
index 9b1b64c..ad0541f 100755
--- a/bin/cli.js
+++ b/bin/cli.js
@@ -150,7 +150,7 @@ stream

     mkdirp.sync( path.dirname(file.path) );

-    fs.w

[2016-12-25 16:33] karellm commented on #54
@zecho `0.11.1` now supports that feature. Thanks!

[2017-02-09 10:42] balazserdos opened #58 "Some nice to have features"
I'm using your tools to automatize the translation process. Like to say thank you at first.
I'd like to share some nice to have features for the future.

- Write result to the STDOUT
- If you write to the hard drive, could force the file creation even if there is no key in the file. (empty json)

Hope it was helpful.

[2017-02-09 15:14] karellm commented on #58
@balazserdos Thanks for sharing. You are welcome to make a PR with these changes if they are important to you!

[2017-03-23 22:01] hotdang-ca commented on #57
I may take this on as well...

[2017-04-11 17:30] davelandry commented on #57
I was able to override the default regex to grab both <Interpolate> components and translate functions. It's rudimentary, and assumes the codebase enforces double-quotations, but it should be a start:
[code]

[2017-04-21 13:36] tkrugg opened #59 "Context is not detected when not on the same line as translation key"
In this case, key goes undetected.

[code]

[2017-04-22 17:25] rijk opened #60 "More options for tweaking file names"
For another i18n library I'm trying to use in combination with this (awesome) scanner, it's required the JSON files are in a structure like `i18n/en.i18n.json`. However, it seems besides the folder the files are placed I have no ability to tweak the file naming of the generated JSON files. I have browsed through the source, but cannot find if/how to do this. Is this possible, and if not, could it

[2017-04-22 19:28] rijk commented on #60
Looking through [the code](https://github.com/i18next/i18next-parser/blob/master/test/parser.js#L174-L176), I found two options that would enable this I think: `prefix` and `extension`. Would it be possible to add these to the CLI options?

[2017-04-27 10:22] bonesoul opened #61 "yaml output?"
i'm using https://github.com/i18next/i18next-node-fs-backend with yaml files, is it possible for i18next-parser to output yaml files too instead for json?

[2017-05-23 17:17] karellm commented on #61
@bonesoul It is possible but if you want it soon, you should make a PR for it.

[2017-05-23 17:19] karellm commented on #60
@rijk If you make the PR I will review it. I will get to improve this project soon but can't commit to any deadline.

[2017-05-23 17:29] #60 closed

[2017-05-23 17:30] karellm commented on #60
This is now in `0.12.0`.

[2017-05-30 13:52] birdy- commented on #59
Is your `{date: date}` works ? I think the regexp read only one line, so it's not related to context parsing but general parsing limited to one line.

[2017-08-04 18:47] viktorstrate opened #64 "Keys as content"
I'm using i18next with React ([react-i18next](https://react.i18next.com/)), and this parser is working fine, except that the i18next keys are the same as the content. Like [this example](https://www.webpackbin.com/bins/-KoCD3kvA-4QJNaHpkxi).

Right now, when I run the parser, the new keys stores empty values in the JSON files, as default and I have to copy / paste the key to the value. Is there an

[2017-09-10 11:37] reiz opened #65 "License"
Under which license is this code published? MIT? Apache-2.0?

[2017-09-11 14:13] karellm commented on #65
MIT but I have no time to update the repo to showcase that at the moment, if you make a PR I'll gladly merge it in.

[2017-09-11 14:13] #65 closed

[2017-09-11 14:27] reiz commented on #65
OK. Fair enough. I just send a PR.

[2017-10-24 16:51] burgerboydaddy opened #67 "Problem with : (colon) inside text"
Hello,
I'm trying to parse text with : (colon) inside it.
For example: "Hello, I have: one, two, three"
Parser will separate this into 2 strings. "Hello, I have" and "one, two, three".
Any suggestion how to handle this case (without splitting into separated strings)?
Thanks

[2017-10-24 16:56] karellm commented on #67
It looks like a bug. Can you make a PR with a failing test case? Thanks!

[2018-01-26 18:52] karellm commented on #45
Closing this by lack of activity. It will be included in the rewrite. To track progress, look at #72

[2018-01-26 18:52] #45 closed

[2018-01-26 19:01] karellm commented on #29
I can't see any use case that could not be handled with `{{t }}`. I'm currently rewriting this package and the new Handlebar lexer will support things like `{{t "key" defaultValue="bla"}}`. You can track the progress at #72.

If this is every an issue, please make a case for it and I will consider it. Until then, I'm closing this.

[2018-01-26 19:01] #29 closed

[2018-01-26 19:07] karellm commented on #35
I'm really not sure what the use case is for this and can't find it in the docs anymore. If you still need this please describe the issue with greater details. I'm currently working on a rewrite, you can follow the status at #72. Closing this in the meantime.

[2018-01-26 19:07] #35 closed

[2018-01-26 19:16] karellm commented on #23
This will be added to #72. Track changes there, closing this for now.

[2018-01-26 19:16] #23 closed

[2018-01-26 19:19] karellm commented on #64
This will be added to #72. Track changes there, closing this for now.

[2018-01-30 23:55] karellm commented on #38
I'm currently working on a big update for this project. This will be supported in `1.0`. You can follow the progress at #72 and see the [test case here](https://github.com/i18next/i18next-parser/pull/72/commits/6d7ee6c902cda3cc7de954298cccca5a4f63e996#diff-d52940a0daabaea11867b1531aa2e029R127)

I'm closing this issue, if you have question please have them on the PR regarding `1.0`

[2018-01-30 23:55] #38 closed

[2018-01-30 23:56] karellm commented on #59
I'm currently working on a big update for this project. This will be supported in 1.0. You can follow the progress at #72 and see the [test case here](https://github.com/i18next/i18next-parser/pull/72/commits/6d7ee6c902cda3cc7de954298cccca5a4f63e996#diff-d52940a0daabaea11867b1531aa2e029R53)

I'm closing this issue, if you have question please have them on the PR regarding 1.0

[2018-01-30 23:56] #59 closed

[2018-02-02 00:14] opposite-bracket commented on #67
@burgerboydaddy I had the same issue but this can be solved by defining a different `namespaceSeparator`. Here's an example of what my function call in gulp looks like:

[code]

Of ocurse, we're not using namespaces but it is up to you to configure it as you want it. Hope that helps.

[2018-02-02 00:17] karellm commented on #67
This will also be addressed in `1.0.0`. You can follow progress in #72. It should be ready with a week or two.

[2018-02-05 15:19] tkrotoff commented on #57
The problem is more complex, you have multiple cases in order to support react-i18next:
[code]

[code]

[2018-02-05 15:25] karellm commented on #57
I will write a React Lexer for the `1.x` release. I'm currently working on matching existing features and should land a beta this week.

[2018-02-05 15:27] tkrotoff opened #74 "Do not sort keys"
Keys are currently sorted alphabetically `translation.json`:
[code]

Would be nice to have the keys without order, as they appear inside the source code (e.g. in the order  they are parsed):
[code]

This way the keys follow the source code logic.

I even believe the "source code order" should be the default one and a `--alphabetical-order` option should be added.

[2018-02-05 15:30] karellm commented on #74
Noted, I've added this to the `1.0.0` roadmap. Should land in beta this week. You can track the progress at #72

If you need it promptly in `0.x` I invite you to make a PR.

[2018-02-05 17:04] tkrotoff commented on #74
Sort is done here: https://github.com/i18next/i18next-parser/blob/0dd40a99942035e42a6f1ad14a721ed5a9e0ca7f/index.js#L211

Can be replaced by: `self.translations = _.uniqBy( self.translations, getKey )`

[2018-02-05 17:24] karellm commented on #74
I know but it would need to be an option to preserve backward compatibility. It is a wanted feature for many, so I won't just remove it. I'm ok making it optional though in `0.x`.

In `1.x`, it will be opt in. But `1.x` will have many breaking changes.

[2018-02-18 19:10] asghol opened #76 "Deprecated dependency gulp-util"
This guide can be followed to migrate away from gulp-util: [https://medium.com/gulpjs/gulp-util-ca3b1f9f9ac5](https://medium.com/gulpjs/gulp-util-ca3b1f9f9ac5)

[2018-02-21 22:47] #76 closed

[2018-02-22 01:01] karellm commented on #67
I second what @opposite-bracket suggested. After looking into it, this is not a bug but a feature. If you rely on keys that are sentences and might use `:`, you should disable or change the `namespaceSeparator` option.

[2018-02-22 01:01] #67 closed

[2018-02-22 01:08] karellm commented on #43
This is addressed in #72, I wrote a passing test case. Closing this for now.

[2018-02-22 01:08] #43 closed

[2018-02-23 02:53] karellm commented on #74
This is addressed in `1.x`. You can track progress at #72. Closing this for now as I won't add it as part of `0.x`.

[2018-02-23 02:53] #74 closed

[2018-02-24 17:14] karellm commented on #58
Closing by lack of activity. Please open one ticket per feature request if you still want this and detail what is the use case (especially for stdout).

[2018-02-24 17:14] #58 closed

[2018-02-24 17:27] karellm commented on #61
This is addressed in #72. In `1.x`, set `extension` to `.yml` to get a yml output.

[2018-02-24 17:27] #61 closed

[2018-03-01 03:28] karellm commented on #57
I just published `1.0.0-beta2` which adds support for react. I invite you to test it and open a new ticket if there are issues.

[2018-03-01 03:28] #57 closed

[2018-03-05 11:43] razielidog opened #79 "On cli usage -l de extracts to folder fr on 1.0.0 beta2"
Hello there, i have this problem i am using the cli with this command:
i18next "src/**/*.js" -o . -l en,de
and i get ./locales/en and ./locales/fr
Is there an issue with the german language or am i doing something wrong
Thank you

[2018-03-05 14:52] karellm commented on #79
Which version `i18next version` are you running?

Please note that `1.0.0-beta` is now published under the `next` tag on npm. If you are using that version, please read the documentation. the `-l` option was deprecated in favour of a config file.

[2018-03-05 15:15] razielidog commented on #79
I followed your advice to make a config file and it works as expected.
Thank you for the quick reply.

[2018-03-05 15:17] #79 closed

[2018-03-09 16:59] purepennons opened #80 "Extraction behavior is not correct when paring the react file in <Trans> component."
- Is this a bug or a feature request?
  - bug
- What version are you running (`0.x` or `1.x`)?
  - 1.x (1.0.0-beta2)
- Which runner (cli, gulp...)?
  - cli
## What I'm trying to do?
I try to extract json files from react-i18next examples ([react_withHOC](https://github.com/i18next/react-i18next/tree/master/example/react_withHOC) & [react_renderProps](https://github.com/i18next/react-i18next/tree/m

[2018-03-10 13:42] karellm commented on #80
@purepennons I think it's because the lexers are not properly configured. Can you try adding this to your `i18next-parser.config.js`:

[code]

The default behaviour is that `.js` file do not get parsed for React related code. Only `.jsx` file do that. That said I will update the code so that when `reactNamespace=true`, it is done automatically.

[2018-03-13 13:30] dqunbp commented on #80
I try it in 1.0.0-beta4, but Trans key doesn't grabbing.

[2018-03-13 15:42] karellm commented on #80
@dqunbp Did you try my other suggestion too? Does it work if you set the `lexers` option?

[2018-03-14 18:06] #80 closed

[2018-03-14 18:09] karellm commented on #80
Fixed in `1.0.0-beta6`

[2018-03-22 14:06] coyotte508 opened #81 "Using keySeparator: false in the config breaks things"
Version: **1.0.0-beta-6**

I'm using `"keySeparator": false` so I can use strrings rather than key: `t('Hello! How are you?')` instead of `t('welcome.message')`.

The reason is so that this can be extracted: `t('Logging in...')`. With `keySeparator` set to false, the dots should not cause problems.

However doing that causes a bunch of weird files to popup: locales/en/translationfalseKey1.json, lo

[2018-03-22 14:24] karellm commented on #81
@coyotte508 Thanks for the ticket. I will add support for `keySeparator: false` next time I fix bugs and prior releasing `1.0.0`. As you mentioned, right now the workaround is to set it to something that is unlikely to be used in keys (like `__NO_KEY_SEPARATOR__`).

[2018-03-24 15:22] coyotte508 opened #83 "Templated strings not parsed"
Version: **1.0.0-beta-6**

I'm not sure if this is a bug (not handling all quote formats) or a feature (handling new quote format).

This gets parsed properly:

[code]

Neither of those gets parsed:

[code]

Config file:

[code]

Usage through cli.

[2018-03-24 16:55] karellm commented on #83
It is a feature. There is NO valid reason to use &#96; instead of ' or " for a string that doesn't actually interpolate. And if there is interpolation, then it is not supported by this library. The reason is that if we extract `Hello ${name}` as a key, it won't work at runtime, since at run time it will look for `Hello John` for instance, which won't exist in the catalog.

If you need variables in

[2018-03-27 00:47] SPAHI4 opened #84 "Bug with Trans component without children"
1.0.0-beta6
cli

I'm trying to use `Trans` component as self-closing tag.

`<Trans i18nKey="Foo" />`

 CLI just do nothing without any error.

`<Trans i18nKey="Foo"></Trans>`

This works fine

[2018-03-27 14:16] #81 closed

[2018-03-27 14:16] #84 closed

[2018-03-27 14:20] karellm commented on #84
Thanks for the bug report. I've just published `1.0.0-beta7` that address that issue.

[2018-03-27 14:20] karellm commented on #81
I've just published `1.0.0-beta7` that address that issue.

[2018-03-27 21:13] SPAHI4 commented on #84
@karellm I still have this error on `1.0.0-beta7`

[2018-03-28 00:09] karellm commented on #84
@SPAHI4 Can you detail this please. Here is the [test](https://github.com/i18next/i18next-parser/blob/master/test/parser.test.js#L173) and the associated [template file](https://github.com/i18next/i18next-parser/blob/master/test/templating/react.jsx#L14). A reproducible failing test case or more details would help.

[2018-03-28 07:38] coyotte508 commented on #81
Thank you!

[2018-03-28 21:59] SPAHI4 commented on #84
@karellm

the code below, `templating/react.jsx`
[code]

test, look at `foo` value
![image](https://user-images.githubusercontent.com/1670998/38058646-46ba70f8-32ec-11e8-83a7-a9257927c180.png)

[2018-03-29 01:14] karellm commented on #84
Thanks, it helped. I just published `1.0.0-beta8` that should fix it for good.

[2018-04-10 13:25] valos opened #86 "Gulp syntax error: Unexpected token import"
- Is this a bug or a feature request?
Bug

- What version are you running (`0.x` or `1.x`)?
1.0.0-beta9

- Which runner (cli, gulp...)?
gulp

## What I'm trying to do?

Extract translations from JS and HTML (pseudo handlebars templates) files

## How am I doing it?

Here is my config (extracted from gulpfile.js):

[code]

The command I'm running:

[code]

## What was the result?

An error:

[code]

[2018-04-11 08:08] valos commented on #86
I got a new error:

[code]

### Versions
[code]

### Gulp code
[code]

[2018-04-20 09:44] jare-talend opened #87 "weird behavior when the output option is set"
- Is this a bug or a feature request? bug
- What version are you running (`0.x` or `1.x`)? 1.0.0-beta10
- Which runner (cli, gulp...)?cli

## What I'm trying to do?

run cli with the output option

## How am I doing it?

i18n.json
[code]

The command I'm running:

[code]

## What was the result?

i18nTransform get the existing catalog from **src/en/namespace.json** and write the transform catalog

[2018-04-20 17:25] karellm commented on #87
I will be afk this weekend, if it is blocking I invite you to make a PR. Otherwise I will look at it next week.

[2018-04-23 00:30] karellm commented on #86
This was fixed and test in `1.0.0-beta11`. Please note that the README was also updated. Here is the proper way to make it work with gulp:

[code]

[2018-04-23 00:30] #86 closed

[2018-04-23 00:30] karellm commented on #87
I just published `1.0.0-beta11` that should fix this. Thanks for the bug report!

[2018-04-23 00:32] #87 closed

[2018-04-25 12:40] jare-talend opened #88 "i18next-parser don't handle the interpolated defaultValue"
- Is this a bug or a feature request? bug
- What version are you running (`0.x` or `1.x`)? 1.x
- Which runner (cli, gulp...)? cli

## What I'm trying to do?
I want to parse a file with t called with a Interpolated defaultValue.

e.g.

src/test.js

[code]

## How am I doing it?

*Replace this section with your config file or cli command*

Here is my config file:

[code]

The command I'm running:

[

[2018-04-25 13:12] karellm commented on #88
Thanks for the bug report, I will investigate this tonight.

[2018-04-26 02:58] #88 closed

[2018-04-26 02:59] karellm commented on #88
This is fixed in `1.0.0-beta12`

[2018-04-26 07:28] jare-talend commented on #88
thank you

[2018-04-30 12:51] jare-talend opened #89 "i18next-parser don't handle a key with multi-line"
- Is this a bug or a feature request? bug
- What version are you running (`0.x` or `1.x`)? 1.x
- Which runner (cli, gulp...)? cli

## What I'm trying to do?
I want to parse a file with options on multiline

e.g.

src/test.js

[code]

## How am I doing it?

*Replace this section with your config file or cli command*

Here is my config file:

[code]

The command I'm running:

[code]

## What was the

[2018-05-01 21:46] alexshurik opened #91 "Errors with setting js lexer"
- Bug
- 1.0.0-beta12
- cli

## What I'm trying to do?

*Configure js lexer*

## How am I doing it?

Here is my config file:

[code]

The command I'm running:

[code]

## What was the result?

*Getting this error:*

[code]

## What was I expecting?

*Succesful translations parsing*

## Thoughts and results of my experiments:

1. Commented this line (/usr/local/lib/node_modules/i18next-parser/bin/cl

[2018-05-02 00:05] #91 closed

[2018-05-02 02:09] karellm commented on #89
This will require a rewrite using a parser. This is done for Javascript but now I need to rewrite it for React to have all the test to pass.

[2018-05-02 02:25] karellm commented on #89
Progress can be followed here: https://github.com/i18next/i18next-parser/pull/92

[2018-05-03 22:40] karellm commented on #89
This should be addressed in `1.0.0-beta13`

[2018-05-03 22:40] #89 closed

[2018-05-12 13:27] alexshurik opened #94 "Can't parse meta-tag with data-i18n attribute"
- Is this a bug or a feature request? Bug
- What version are you running (`0.x` or `1.x`)? 1.0.0-beta12
- Which runner (cli, gulp...)? cli

## What I'm trying to do?

*Parse HTML file with meta-tags with data-i18n attribute such as* `<meta data-i18n="site-content" name="content">`

## How am I doing it?

[code]

Here is my config file:

[code]

## What was the result?

*Parsers just stops at the m

[2018-05-13 15:10] karellm commented on #94
Can you please provide the full HTML file or a failing test case? Thanks!

[2018-05-14 13:02] alexshurik commented on #94
I can not understand what the problem is

For example this code doesn't work:
[code]

This works but takes about 10 seconds (shorter text in title):
[code]

And this works instantly (no <mata name="yandex-verification content="yandex-key"/> tag
[code]

[2018-05-16 17:51] doncarron opened #95 "Exception when trying to parse Trans element JSX with interpolation"
- Is this a bug or a feature request? bug
- What version are you running (`0.x` or `1.x`)?  1.0.0-beta13
- Which runner (cli, gulp...)? cli

## What I'm trying to do?

Extract translations from a Trans tag that uses interpolation

## How am I doing it?

./node_modules/.bin/i18next 'trans-tmp/components/*.jsx' -c i18n.config.js

Example React code being parsed:

...
                    <DialogHeade

[2018-05-16 18:14] karellm commented on #95
@MynockSpit Could you take a look at this one by chance?

[2018-05-18 13:57] MynockSpit commented on #95
Taking a look.

[2018-05-18 17:43] MynockSpit commented on #95
@doncarron

The namespace is being clobbered by... something. Are you using the translate function to insert translations? i.e. `export default translate('my-translations')(App);` Also, Is that the first string that it fails to translate, or do some succeed before?

[2018-05-18 17:47] MynockSpit commented on #95
@karellm

Potentially related -- I noticed that we're splitting the keys on `.` by default and storing them as nested objects. Meaning, if you happen to have several dots in your keys, you'll end up with a translation file looking something like...

[code]

Is that right?

[2018-05-18 20:43] doncarron commented on #95
@MynockSpit That's the first string that fails causing the exception. All the others work fine and if I remove the string with the interpolation the process finishes without issue.

I'm not sure I follow the namespace being clobbered - it works for everything else. It's just the interpolation that seems to be causing a problem. I am not using the translate function yet - just the Trans component.

[2018-05-19 03:02] MynockSpit commented on #95
Bizarre. I can't reproduce this -- even with an identical string.

Some questions:
- What happens when you add an i18nKey? For example...
[code]
- What happens if you add translate to your exponent's export? For example...
[code]
- Does interpolation work in any other strings?

Alternatively, if you can reproduce this in something like https://stackblitz.com or https://codesandbox.io, that would b

[2018-05-21 13:53] jare-talend opened #96 "JsxLexers doesn't support destructing objects"
- Is this a bug or a feature request? bug
- What version are you running (`0.x` or `1.x`)? 1.x
- Which runner (cli, gulp...)? cli

## What I'm trying to do?
I want to parse a file with destructing objects in.

e.g.

src/test.js

[code]

## How am I doing it?

*Replace this section with your config file or cli command*

Here is my config file:

[code]

The command I'm running:

[code]

## What was

[2018-05-21 21:17] doncarron commented on #95
@MynockSpit To answer your first and third questions:

1) Adding a key does cause the extract to succeed, yes. However one of my primary motivators for using i18next was the simple setup for "keyless" (content keyed) translation.

As an aside are React users supposed to change the default interpolation prefix / suffix to just a single curly ({ })? I noted that the double-curlys work for the i18n f

[2018-05-22 02:32] MynockSpit commented on #95
Nah. Single curly is still normal React interpolation. You can use it for i18next-react if you use a key with it. If you're using the content-as-keys, the value will be inserted BEFORE the key is 'generated'.

i.e.
[code]

Yeah, keyless is a nice plus. I have a couple of theories of what might be wrong. In the meantime, try setting `namespaceSeparator` and `keySeparator` to `false` in the i18next-

[2018-05-22 15:47] doncarron commented on #95
@MynockSpit First of all thanks so much for your continued support. I'm really hoping we get this working!

After updating my config as requested the key generates without throwing an exception, however the key generated is wrong. The key produced is:

  "Consumer information for <1>{{name: name}}</1>"

When the debug mode for i18next is looking for:

  "Consumer information for <1>{{name}}</1>"

[2018-05-22 17:42] MynockSpit commented on #95
Woohoo! Progress! That's (likely) it. `{ name }` is ES6 object shorthand for `{ name: name }`. Seems like the transpile to TypeScript is expanding that out.

i18next-parser (and i18next-react and i18next) have a `namespaceSeparator` value that indicates a separator that you use to split along namespace boundaries. We write different namespaces into different files. The default is `:`.

Meaning, a

[2018-05-23 14:54] karellm commented on #96
@MynockSpit I really appreciate your help. Thanks a lot, it's so much more fun to have contributors than doing it all alone 😄

While you are investigating the other issue, if this seems like an easy fix that would be great if you could tackle this too. Otherwise I will have a look later this week.

[2018-05-25 04:00] MynockSpit commented on #96
This could be a tough one. Means either a) we need to bug the authors of (or make a PR for) acorn-jsx b) switch parsers or c) write a pre-processor that removes the ...'s from files (and adds them to strings if the appear in keys?

Alternatively, we just say we don't support `...` like it seems like React did. 😕

[2018-05-25 05:03] MynockSpit commented on #95
Got a PR (above) out that should fix this.

[2018-05-25 08:34] jare-talend commented on #96
@MynockSpit

A solution possible: inject the plugins acorn-object-rest-spread in acorn. It seems manage destructing objects. I didn't test if they are a impact with the JSX parser.

[code]

[2018-05-25 23:49] doncarron commented on #95
@MynockSpit We are getting closer. With your PR the key generates closer to being correct but I noticed that it generates with an (extraneous?) space around the variable being passed in:

`Consumer information for <1>{{ name }}</1>`

Instead of

`Consumer information for <1>{{name}}</1>`

Unfortunately the extra space apparently causes the translation to fail to "map" so the string ends up with th

[2018-05-26 02:05] MynockSpit commented on #95
Oh wow. Yup. Should be a small fix.

[2018-05-26 03:26] karellm commented on #95
@MynockSpit Did I merge to PR to quickly or was this fixed? I'll wait before I make a release.

[2018-05-26 03:43] MynockSpit commented on #95
I'll have one minor tweak here soon, just as soon as I confirm the behaviour of i18n-react.

[2018-05-26 13:19] karellm commented on #96
@jare-talend or @MynockSpit Can you make a PR?

[2018-05-27 22:09] karellm commented on #94
I just published `1.0.0-beta14` which fixes this issue. The old lexer wasn't support self-closing tags

[2018-05-27 22:09] #94 closed

[2018-05-27 22:10] karellm commented on #95
I just published `1.0.0-beta14` with the fixes

[2018-05-30 18:13] nickasd opened #99 "Merge old translations"
- Is this a bug or a feature request? Feature request
- What version are you running (`0.x` or `1.x`)? 1.0.0-beta14
- Which runner (cli, gulp...)? gulp

1) I think it would be nice if the `translation_old.json` file wasn't replaced each time the parser runs, but instead existing old keys were merged with new old keys. This way the developer could keep running the parser without worrying that old t

[2018-05-30 20:22] nickasd opened #100 "Multiple matches on a single line"
- Is this a bug or a feature request? Bug
- What version are you running (`0.x` or `1.x`)? 1.0-beta14
- Which runner (cli, gulp...)? gulp

## What I'm trying to do?

I'm trying to extract this Handlebars template:
[code]

## What was the result?

Only key1 appears in the output json file.

## What was I expecting?

I expected key2 to appear as well.

If this is not on purpose, the lexers would hav

[2018-05-30 20:28] nickasd opened #101 "Log added and removed keys"
- Is this a bug or a feature request? Feature request
- What version are you running (`0.x` or `1.x`)? 1.0.0-beta14
- Which runner (cli, gulp...)? gulp

It would be nice if the parser would output a list of keys that have been added and removed. This way one can immediately see if new additions were correctly parsed and translate them immediately without first having to compare the output json fil

[2018-05-31 03:46] karellm commented on #101
Is there a reason you cannot look at the git diff?

[2018-05-31 03:48] karellm commented on #99
I'm ok with a `removeOldKeys` option that would default to `true`. I'm also ok not creating the old files if empty. Another thing I've meant to implement for a while is to store all the old translations into an array.

If you feel like tackling this, a PR is welcome. My focus is on something else at the moment.

[2018-05-31 03:52] #100 closed

[2018-05-31 03:53] karellm commented on #100
Addressed in `1.0.0-beta16`

[2018-05-31 06:46] nickasd commented on #101
I knew this was coming ;-) It's not meant as a replacement for the git diff, rather as a quick way of ensuring that everything went smooth. I guess once you know that everything is set up correctly you will only make use of the git diff, but for new users it would be a nice feedback to know if anything is going on.

Scenario: as I was trying to figure out how this whole thing works, I hadn't set u

[2018-05-31 07:06] nickasd commented on #100
After updating to 1.0.0-beta16 I have the following error:
[code]

I think this was introduced in beta15 and it's because the package `fs-extra` should be moved from devDependencies to dependencies, or did I miss something?

[2018-05-31 16:27] karellm commented on #101
If you feel like making a PR I will review it. I would require this to be an option though.

[2018-06-01 12:13] daniel-rabe opened #102 "[Request] parameter count support"
It would be nice if an string with argument "count" is found

e.g. t('Delete file', {count: someValue})

all plural forms would be added

{
  "Delete file": "",
  "Delete file_plural": "",
  "Delete file_1": "",
  "Delete file_2": "",
  "Delete file_3": "",
  "Delete file_4": "",
  "Delete file_5": "",
}

[2018-06-03 09:14] nickasd commented on #99
Ok, I will do that.

What do you mean? Would you rather not preserve the nested json structure?

[2018-06-06 00:44] karellm commented on #99
I mean:

[code]

[2018-06-06 00:49] karellm commented on #102
This would pollute the catalog in most cases.

1. Run the parser > find a `count` and add `*_plural`
2. Manually remove the `*_plural`
3. Run the parser again > add `*_plural` back

This kind of war is suboptimal imo. Also I wouldn't add the `*_n` ones because in my experience they are very rarely used and it would create blank translations.

Can you describe your use case for this feature?

[2018-06-10 18:14] nickasd commented on #99
I'm now writing a custom merge function to be used instead of the currently used lodash function `extend` when creating the old catalogue. I have noticed that in `mergeHashes` you are checking if the source and target hashes contain arrays. Can you please explain in what situation this can happen? Because if arrays can really appear in the translation hashes, I would have to structure my update a

[2018-06-11 15:06] karellm commented on #99
@nickasd I think this will require a deeper rewrite of the codebase to get this working. First the answer to your question is [here](https://www.i18next.com/translation-function/objects-and-arrays).

I believe that this parser should maintain some sort of a hidden catalog with a specific format. It is currently a limitation for storing all old values, it is also a limitation in implementing #55

H

[2018-06-15 16:42] #99 closed

[2018-06-15 16:45] nickasd commented on #55
I thought that the parser would output at most one json file per parsed source file. If this is really the case, why would you need to store the path for each key?

[2018-06-15 16:49] nickasd commented on #101
I was working on this today and wondering if in `mergeHashes()` it's really necessary to add removed keys to both the current and old catalogs when the option `keepRemoved` is set. I think that this is not expected behaviour, but the reason why I'm asking is that this kind of messes up the counts of added/merged/removed keys. What do you think?

[2018-06-17 03:15] karellm commented on #55
A key can appear in multiple files. The idea was for translator to know where the key come from to look for context.

[2018-06-17 03:18] karellm commented on #101
I think it's ok have it only part of the current catalog. The point of the `_old` catalog is really to avoid loosing data.

[2018-06-17 10:02] nickasd commented on #55
Right, I forgot that multiple files can be merged together.

[2018-06-26 15:57] MynockSpit commented on #96
I'll try to take a look at this this weekend.

[2018-07-03 22:32] nickasd commented on #101
Ok great. I also have another question. Is there a specific reason why in `populateHash` you only restore an old key if the current value is the empty string? While testing I noticed that if I remove a key with a default value in the html, run the parser, restore the key with the default value in the html, and run the parser again, the key is kept in the old catalog and never restored. I would hav

[2018-07-06 20:48] karellm commented on #101
@nickasd I think your assumption is correct. If you want to make a separate PR with test addressing this issue, I will merge it. Thanks!

[2018-07-07 17:13] ledfusion commented on #96
It looks like decorators are not supported as well (easily workaround-able), but static class properties also fail to parse.

[code]

[code]

Is there an easy way to add a flag for them?
Thank you!

[2018-07-08 13:40] karellm commented on #101
@nickasd I merged #105. In the future, please create a new ticket for new issues. It was not really related with #101. On that note, should we close this or do you plan on making a PR for it? Thanks!

[2018-07-08 13:41] karellm commented on #96
@MynockSpit Is there any update on your end? If you are too busy I might take a stab at it this week.

[2018-07-08 13:41] nickasd commented on #101
Thanks. Ok, I will. A PR for #101 will follow shortly.

[2018-07-09 09:43] ledfusion commented on #96
I had some advance by using this fragment in the config file:

[code]

This config is tightly coupled with acorn, so I think that there should be at least a clear example in the Readme

[2018-07-09 10:10] ledfusion commented on #96
However, the problem is still not solved.

Now, the parser complains about the plugins not being installed.

So I installed them manually:

[code]

But still, the same.

So digging into the code, I saw that `i18next-parser` would need to register them before they can be used. I can make a pull request with the equivalent of:

javascript-lexer.js

[code]

But then, acorn fails like so:

[code]

Aco

[2018-07-09 10:48] ledfusion commented on #96
PR #108 is ready

[2018-07-09 21:38] karellm commented on #101
Fixed in `1.0.0-beta21`

[2018-07-09 21:38] #101 closed

[2018-07-10 22:05] karellm commented on #96
This is fixed in `1.0.0-beta22`. Thanks for all the contributions!

[2018-07-10 22:05] #96 closed

[2018-08-04 16:44] HamidAghdaee opened #114 "Appending, not replacing the contents of the destination file"
- Is this a bug or a feature request?
Feature Request.

## What I'm trying to do?

*Replace this with a description of what you are trying to do*

Hi there,

Thank you for this wonderful library.

The ideal scenario for me would be:

1. The developer inserts call to `i18next.t` in their code with a key `ns:key`, i18next-parser job is run.
2. If the job finds the `key` with a non null value in the

[2018-08-04 19:54] karellm commented on #114
This should be the default behaviour, if not it's a bug, not a feature request. Can you provide some reproducible steps (follow the template for filling the issue)? If you feel confortable writing a failing test case that's even better.

[2018-08-05 00:10] HamidAghdaee commented on #114
@karellm You're absolutely right. My fault. closing this ticket. Thanks for your help.

[2018-08-05 00:10] #114 closed

[2018-08-10 04:16] cgomezmendez opened #115 "More info in case config can't be loaded"
https://github.com/i18next/i18next-parser/blob/ae18bfbeb822bb818fff9a6b85d536117f045acf/bin/cli.js#L32

Spent a lot of time debugging cause it said that config file didn't exist, tried even with linux (I'm using windows) in case it was an OS path problem, well the thing is that the config filed I copied I think it was from some issue here or something had this:
  "lineEnding": auto
instead of this

[2018-08-10 12:32] karellm commented on #115
Thanks, I've updated the README!

[2018-08-10 12:32] #115 closed

[2018-08-23 19:27] frassinier opened #116 "Be able to ignore namespaces from an extract"
- Is this a bug or a feature request? `question` (I can propose a pull request obviously)
- What version are you running `0.x`
- Which runner `cli`

## What I'm trying to do?

I would like to extract keys with a specific namespace from a folder, but if I use another namespace once, its keys will be extracted too.

## How am I doing it?

[code]

## What was the result?

`src/app/locales/en/my-app.j

[2018-08-23 19:42] karellm commented on #116
Yes `-n` is the default namespace, not a filter.

I understand the need though I think it is pretty niche and would be concerned to overcomplicate the API. Have you considered running a command that cleans the file? `i18next ... && rm the-namespace-you-do-not-want.json`?

It also looks like you are running `0.x` and I really don't have time to maintain the old version. Unless it is a bug, I will n

[2018-08-23 19:59] frassinier commented on #116
Ok, thanks for your answer.

I can't clean it since it's extracted by another command (from another source).

I will duplicate my keys and will just use my default namespace in code. Best workaround, I guess.

But I still wondering why `the-namespace-I-do-not-want.json` has all its values becoming empty?

[2018-08-24 00:16] karellm commented on #116
It shouldn't, if you create a failing test case and PR I will happily merge it. That said I still recommend you to upgrade.

[2018-08-29 19:37] tstirrat15 opened #119 "Running the i18next command with input and output flags in config but not in command errors out"
- Is this a bug or a feature request?
Bug
- What version are you running (`0.x` or `1.x`)?
1.x
- Which runner (cli, gulp...)?
Yarn cli

## What I'm trying to do?
The existence of `input` and `output` configuration keys makes it seem as though it should be possible to run the `i18next` command without giving it input or output strings.

## How am I doing it?

Here is my config file:

[code]

The co

[2018-08-29 21:45] karellm commented on #119
@tstirrat15 `1.0.0-beta26` should address this issue. Thanks for the bug report

[2018-08-31 16:40] tstirrat15 commented on #119
It does. Thank you!

[2018-08-31 16:40] #119 closed

[2018-08-31 17:33] tstirrat15 opened #121 "Add static properties acorn plugin"
# Proposal
My project uses static property syntax, which Acorn doesn't parse natively, which means this package is throwing errors. I'd like to add this to the project.

## One approach
It'd be pretty easy to include this in the same way that the other plugins are already included, which would fix my issue right now.

## Another approach
Provide a way to inject plugins through the configuration fi

[2018-08-31 23:40] karellm commented on #121
On the one hand I like the idea to reduce dependencies of the project. On the other hand I like the simplicity of a boolean config.

I think my vote would go to the `injectors` though. As you said it is future proof and lower the number of dependencies for most people. Would you be open to make a PR?

[2018-09-01 15:52] tstirrat15 commented on #121
Sure thing. I'll get around to this next week.

[2018-09-03 14:58] phatgolo opened #122 "Failing unit tests for object spread operator in v 1.0.0-beta26"
- Is this a bug or a feature request?
Bug
- What version are you running (`0.x` or `1.x`)?
1.0.0-beta26
- Which runner (cli, gulp...)?
cli

## What I'm trying to do?
Parse object spread operator

## How am I doing it?
By running your unit tests :)

The command I'm running:
[code]

## What was the result?
1) JavascriptLexer
       supports the spread operator in objects plugin:
     TypeError: Cann

[2018-09-04 01:04] karellm commented on #122
I can't reproduce this. Please run the following and let me know what you get:

[code]

[2018-09-04 06:46] phatgolo commented on #122
Removing the node_modules didn't help. I cloned this repo yesterday so pulling the latest version didn't help either. I've tried updating node to both latest stable and most recent version as well but without any luck.

Im on the latest commit on the ```master``` branch: ```a9c4442a204b2fb319e0d4b4c3a5571fda154c6a```.

[2018-09-04 13:58] herrlax commented on #122
I have the same issue as @phatgolo

[2018-09-04 14:02] karellm commented on #122
That's weird, I just a clean clone and it works. The test also pass on the CI. I'm on `Node 8.11.4`. What are your node versions?

[2018-09-04 14:06] karellm commented on #122
Ok so I was using `yarn` not `npm`. If I run the tests with `npm`, I can reproduce the bug. Is it an option for you to use `yarn` for the time being? I have little time today to investigate this.

[2018-09-04 14:12] phatgolo commented on #122
We have installed an older version to mitigate this issue (1.0.0-beta22) which still contains the ```acorn-object-rest-spread``` plugin so we have a workaround in place.

Thanks!

[2018-09-04 14:53] phatgolo commented on #122
I've made a PR for this

[2018-09-04 15:03] karellm commented on #122
Thanks for the PR, I'll test it shortly. I think the `package.lock` (used by yarn but not npm) is at fault. The library is still listed in it when it shouldn't.

[2018-09-04 16:04] karellm commented on #122
This should be fixed in `1.0.0-beta27`.

[2018-09-15 07:33] dcworldwide opened #127 "[Question] Emit typescript interface"
- Is this a bug or a feature request? Question
- What version are you running (`0.x` or `1.x`)? 1.x
- Which runner (cli, gulp...)?
cli

## What I'm trying to do?
Any thoughts on how I could leverage il8next-parser to emit a typescript interface for every namespace?

#E.g.
I want to run this tool to produce a series of translations... i.e. en.nsA.json, en.nsB.json, es.nsA.json, es.nsB.json

For eac

[2018-09-15 21:50] tkrotoff opened #129 "Multiple failures on JSX/TSX with 1.0.0-beta28"
Configuration:
[code]
[code]

- First bug:

[code]

i18next-parser does not like line `{t('Language:')}{' '}` and generates a new empty file `locales/fr/Language.json` instead of adding `"Language:": "Langue :"` to `locales/fr/translation.json`

See https://github.com/tkrotoff/react-form-with-constraints/blob/v0.9.3/examples/SignUp/App.tsx#L207

- Second bug:

[code]
i18next-parser generates `loca

[2018-09-17 18:01] #121 closed

[2018-09-17 18:14] karellm commented on #129
These shouldn't have been introduced with beta28. These are features, not bugs.

`.` and `:` are respectively the key and namespace separators. Please read about them in the REAMDE if you want to use plain english keys.

[2018-09-17 18:30] karellm commented on #127
I'm not familiar with TS and what you seem to need is an event for every namespace file being written. You could probably write a transform that you pipe after the Parser depending on what your setup looks like. Another option is to emit an event on write. I would merge a PR supporting this.

[2018-09-17 18:33] tkrotoff commented on #129
Oh sorry, forgot to report `--namespace-separator '__NS' --key-separator '__KS'` from the command line to the configuration file:

[code]

It works perfectly!! (except for React fragments)

[2018-09-17 18:33] #129 closed

[2018-09-20 00:52] dcworldwide commented on #127
I think the later option, emitting an event on write would be simpler and more in-line with the existing implementation?

I'm fine to submit a PR for this. Before I do that though, I just want to make sure what I am trying to do will be supported overall by this lib.

Basically, I want to emit a TS interface from my the translation files emitted from il8n-parser. Where each property in the interfa

[2018-09-20 12:05] dcworldwide commented on #127
@karellm I've answered my own question.

t() only extracts keys correctly if the first argument is a string literal.

So...  t(Keys.SomeKey), where Keys is an enum or object or t(SomeKey) where SomeKey is a variable does not extract keys,

Can this be fixed?

[2018-09-20 14:42] karellm commented on #127
As I said, I'm not familiar with TS and Interfaces so I'll answer to the best of my understanding.

This library doesn't parse variables on purpose, it actually should throw a warning via the event `warning:variable`. The reason is pretty obvious, the variable name doesn't necessarily match the actual key. To address this situation, I advice people to have a file somewhere with all the keys covere

[2018-09-21 07:17] dcworldwide commented on #127
You can ignore the whole ts part of my question, that was just for background.

I may have to fork this lib to achieve this. Is it even possible with acorn to resolve a string variable?

[2018-09-21 18:50] karellm commented on #127
I'm sure it is possible but you'll have to do your own investigation. If you fork and find that the code make sense, I'll be happy to look at a PR

[2018-10-09 07:13] dcworldwide opened #130 "Does this support react-il8next 8?"
I've just upgraded to the latest version of il8n react and switched over to the new HOC design. I've noticed that reactNamespace: true is no longer working with the following.

export default withNamespaces("createA", { usePureComponent: true })(Form)

[2018-10-09 11:33] dcworldwide commented on #130
See fix https://github.com/i18next/i18next-parser/pull/131

[2018-10-09 11:33] #130 closed

[2018-10-10 11:54] dcworldwide commented on #127
Closing.

FYI. Acorn can't resolve variables so I'm going to look to write my own solution for this.

[2018-10-10 11:54] #127 closed

[2018-10-10 11:59] dcworldwide opened #133 "Emits missing keys with translations from another locale"
- Is this a bug or a feature request?

Bug imo

- What version are you running (`0.x` or `1.x`)?  Latest
- Which runner (cli, gulp...)?

## What I'm trying to do?

I'm extracting keys for various locales. I've noticed the following....

- Run 1. This lib emits es.json and pt.json with keys correctly
- I then add transcriptions to both files (using a google translate api script that populates **onl

[2018-10-16 20:28] connor4312 opened #136 "acorn-jsx@5 is incompatible with i18n-parser"
- Is this a bug or a feature request? *Bug*
- What version are you running (`0.x` or `1.x`)? *beta30*
- Which runner (cli, gulp...)? *gulp*

When trying to parse jsx, a message comes up suggesting you install acorn-jsx in order to do so. However, doing so grabs the latest `5.0.0` which lacks `acorn-jsx/inject`. This causes the message to _still_ show up, because the exception is still captured whe

[2018-11-07 23:40] steevhise opened #137 "trying to get working with swig-templates rather than handlebars"
- Is this a bug or a feature request?

feature request? but also clarification?

- What version are you running (`0.x` or `1.x`)?

1.x

- Which runner (cli, gulp...)?

cli

## What I'm trying to do?
I'd like this to work with swig-templates, which is similar to handlebars.
I'm about to try writing a lexer, but want to make sure there's not some easier, configuration way.

## How am I doing it?
in

[2018-11-08 16:56] steevhise commented on #137
update: i've started delving into writing a swig lexer. the architecture of how your code makes the lexers available is pretty specific.  might be useful to refactor for a more extensible system where people can add "plugin" lexers and stuff. but i'll submit a (limited) version of a swig-lexer PR soon..

[2018-11-10 14:30] karellm commented on #137
Thanks for working on this. My first pointer would to look for an existing swig parser. Is there a npm package for parsing swig templates? For instance, we have `acorn` to parse JS files. It does all the heavy work for us, we don't need to write complex regexes.

If that doesn't exist, then writing regex is your second best guess. The handlebar lexer uses regexes. I recommend the [Regxr tool](http

[2018-11-14 16:37] jsomsanith opened #138 "Generate plural keys"
- Is this a bug or a feature request?
Feature request

- What version are you running (`0.x` or `1.x`)?
0.x

- Which runner (cli, gulp...)?
cli

## What I'm trying to do?

I want to propose a solution to #19. I'm having the same issue. I want to set only 1 key in my code. But it relies on a `count` value, and I want the parser to generate those keys.
- `_plural`
- '_x' (x from 0 to 5) as those are

[2018-11-15 13:40] monvillalon opened #141 "Add support for jsx-fragments"
- Is this a bug or a feature request?
Feature Request

- What version are you running (`0.x` or `1.x`)?
1.0.0-beta30

- Which runner (cli, gulp...)?
cli

## What I'm trying to do?

Extract translations when using jsx fragments shorthand syntax

## How am I doing it?

Using the cli

Here is my config file:

[code]

The command I'm running:

[code]

## What was the result?

It errors out when parsin

[2018-11-15 13:41] monvillalon commented on #141
I created a PR to fix this issue #140

[2018-11-15 13:54] monvillalon commented on #136
I actually ran into this issue and while trying to fix it I ended up upgrading the code for `acorn@6`.
But it comes with a big caveat.  `acorn-es7` is not working yet with `acorn@6`. So this might be a deal breaker for some.

Since then I found out that I really didn't need it and that my problems were related to #140 and misunderstanding how you actually used `acorn-stage3` that also has to be do

[2018-11-19 15:52] karellm commented on #136
The main reason I didn't do the upgrade myself is that the plugins we use didn't implement the new plugin structure last time I checked.

I do invite you to use the older version until all plugins are updated. Thanks for the code snippet @monvillalon

[2018-11-19 15:53] karellm commented on #141
Thanks, I'm closing this in favour of the PR #140, let's keep the conversation there.

[2018-11-19 15:53] #141 closed

[2018-11-19 16:03] karellm commented on #138
I'm a bit confused by your proposal though I find the idea interesting. Do you want to detect the `count` option and when it's present, add the plural keys based on a configuration like so:

[code]

and then the following code:

[code]

would create this in English:

[code]

and this in Dutch:

[code]

If so, I would be open for a PR. I think it has value.

[2018-11-19 16:36] jsomsanith commented on #138
Hi @karellm,

I haven't thought of that details you brought.
In fact my need is that I have only english extracted file. Based on this file I can request a translation to any language. So I need all the plural keys.

I will not have the time (really) soon, to work on that, but when the time comes, I can propose a PR. For now I want to clarify the idea.

Perhaps we can have a default that outputs a

[2018-11-19 17:22] karellm commented on #138
There could be a simpler version of the config that works for all languages:

[code]

I don't have the time either at the moment but a PR is welcome!

[2018-11-19 17:30] jsomsanith commented on #138
The shortcut can be handy, the problem is that it's not really explicit. (Not sure it's a problem).

[2018-12-06 11:53] sebdiem opened #143 "Why duplicate translations with context ?"
- Is this a bug or a feature request? Question
- What version are you running (`0.x` or `1.x`)? `1.x`
- Which runner (cli, gulp...)? `cli`

## What I'm trying to do?

I am trying to extract a message with context.

## How am I doing it?

Here is my config file:

[code]
Here is my component:

[code]
i18next "src/**/*.tsx" --config i18next-parser.config.js --output public/locales/\$LOCALE/\$NAMESPAC

[2018-12-06 14:06] karellm commented on #143
I invite you to read about the `context` feature in the [i18next documentation](https://www.i18next.com/translation-function/context). If you add a context, it is supposedly that the translation should change based on that context, otherwise why would you even put a context?

[2018-12-06 15:13] sebdiem commented on #143
But if you use the same message with and without context, the message without context will in any case be handled separately by the parser, so I don't see why you need to add it when parsing the message with context.

[2018-12-10 17:01] jsefiani opened #144 "Doesn't extract translations"
- Is this a bug or a feature request?
/
- What version are you running (`0.x` or `1.x`)?
1.0.0-beta31
- Which runner (cli, gulp...)?
cli
## What I'm trying to do?

Extract translations from a React app. Components are situated in the `src` folder.

## How am I doing it?

Here is my config file:

[code]

The command I'm running:

[code]

## What was the result?

Nothing happens

Terminal output:
 i

[2018-12-13 09:23] mrkvon opened #145 "Use namespace from react-i18next's NamespacesConsumer"
- Is this a bug or a feature request?
Feature request
- What version are you running (`0.x` or `1.x`)?
1.0.0-beta32
- Which runner (cli, gulp...)?
cli

## What I'm trying to do?
I extract translations from a React component wrapped in `NamespacesConsumer` imported from `react-i18next` library. [Documented here](https://react.i18next.com/components/namespacesconsumer).
[code]
I want `Some natural k

[2018-12-15 00:15] pinkynrg opened #146 "Export in yml"
If I needed for my project's translations to be in yml format? Is there an easy way to do it that you guys can think of?

Thanks

[2018-12-15 00:35] karellm commented on #146
This is natively supported though it is not documented apparently. See the [associated test](https://github.com/i18next/i18next-parser/blob/84d47903ac6a5837ad688358453f394b45161c8d/test/parser.test.js#L732).

[2018-12-15 00:35] #146 closed

[2018-12-15 00:41] karellm commented on #144
Nothing jumps to my eyes, can you share a repo reproducing the error?

[2018-12-15 00:42] karellm commented on #145
@mrkvon I will merge a PR with this feature though I don't have the bandwidth to code it myself.

[2018-12-15 01:01] pinkynrg commented on #146
That's great it works!

I noticed though that once yml files are created, and I run a second command to update the translation files I get an error i write like the following:

[code]

[2018-12-15 01:40] karellm commented on #146
I could pretend that's premium service but you caught me at the right time ;) I'll be online for couple more hours so let me know.

[2018-12-15 05:55] pinkynrg commented on #146
Fantastic just made it work. Something weird was going on with npm.

Basically I had to install the package using this `1.0.0-beta33` instead of this `^1.0.0-beta33`.

If I used `^1.0.0-beta33`, `1.0.0-beta9` was installed instead and nothing was working of course.

Weird.

[2019-01-09 21:03] tfaieta commented on #64
Hey! Thanks for this great library! I just wanted to ask if this feature was ever implemented?

[2019-01-10 14:34] karellm commented on #64
It looks like it fell into the cracks, I'll try to have a look this weekend.

[2019-01-10 15:36] tfaieta commented on #64
You think it’d be very hard to implement? I definitely have some time this weekend and am interested in helping out with this feature!

[2019-01-10 16:51] karellm commented on #64
I believe it's gonna be very easy to do, a good project for a first contribution to the project. Feel free to open a PR! If you have doubts about the implementation, you can open a WIP PR too and we can move the conversation there. My only request is that you add proper documentation and tests. Thanks!

[2019-01-10 19:13] tfaieta commented on #64
Sounds good! Hope to have that PR up soon 👍

[2019-01-17 11:00] jsomsanith commented on #138
For info, I'll drop this proposal because I won't have the need anymore (and no time for that). If someone wants to take it, I'm sure i18next-parser users would be find it useful.

[2019-01-17 14:45] karellm commented on #138
Then I will close this, if anyone feels to tackle this, feel free to reopen

[2019-01-17 14:45] #138 closed

[2019-02-04 16:15] karellm commented on #64
Added to `1.0.0-beta34`

[2019-02-04 16:15] #64 closed

[2019-02-06 13:33] Akiyamka opened #148 "Bug: class fields not supported and broke parser"
- Is this a bug or a feature request?
This is a bug
- What version are you running (`0.x` or `1.x`)?
`1.0.0-beta34`
- Which runner (cli, gulp...)?
cli

## What I'm trying to do?
Try look at list of used keys in React components (where used react-i18next)

## How am I doing it?
I install next packages:
`i18next-parser`, `acorn-jsx`, `acorn-stage3`

Here is my config file:
[code]

The command I'm ru

[2019-02-06 14:37] Akiyamka commented on #148
look like [acorn-stage3](https://github.com/acornjs/acorn-stage3) support class fields so I can't understand, why it doesn't work ?

[2019-02-07 06:58] karellm commented on #148
It looks like your config file is at fault. You want the key to be `lexers.js.acorn.injectors` where you have `lexers.js.injectors`. See [here](https://github.com/i18next/i18next-parser#javascript)

[2019-02-07 08:56] Akiyamka commented on #148
@karellm thank you, you're right. I corrected the config and now it looks like this:
[code]
But after this changes i got error

[code]

I put some console.log-s in parser.js and see strange behavior:
[code]
For some reason lexer name `lexer: 'JsxLexer'` disappears on second file.
I experimented a bit, it seems it does not matter which file will be the second.

[2019-02-07 10:04] Akiyamka commented on #148
I created minimal reproduction example in this repo:
https://github.com/Akiyamka/i18next-parser-reproduce

[2019-02-17 23:17] #122 closed

[2019-02-17 23:18] karellm commented on #144
Closing by lack of activity. Feel free to reopen may this happen again.

[2019-02-17 23:18] #144 closed

[2019-02-18 00:09] karellm commented on #148
It drove me nuts for a while but your command is wrong. You defined the `-c` option twice.

`"i18next": "i18next ./src/components/**/*.js -oc ./i18next-parser.config.js"`

[2019-02-18 00:10] #148 closed

[2019-02-19 14:17] Akiyamka commented on #148
@karellm great thanks!

[2019-02-19 14:29] Akiyamka opened #149 "Variables in output path ignored"
- Is this a bug or a feature request?
This is a bug
- What version are you running (`0.x` or `1.x`)?
`1.0.0-beta34`
- Which runner (cli, gulp...)?
cli

## What I'm trying to do?
Try create translation file

## How am I doing it?
I install next packages:
`i18next-parser`,

Here is my config file:
[code]

The command I'm running:
[code]

## What was the result?
[code]

## What was I expecting?

I ex

[2019-03-19 15:03] undsoft commented on #149
I could swear I had this working on my project just a week ago, but now it stopped.

It looks like the documentation on github is for version 1.0.0-beta36, while npm has 1.0.0-beta34 and they've [changed the config file syntax](https://github.com/i18next/i18next-parser/commit/ae18bfbeb822bb818fff9a6b85d536117f045acf).

So, until repo maintainers do something about it, the options are:
1. Try to ge

[2019-03-19 19:53] karellm commented on #149
@undsoft I haven't pushed anything in weeks. The latest version is `1.0.0-beta34`. Where did you see a mention for `1.0.0-beta36`?

[2019-04-18 14:34] vityukBogdan commented on #91
Can try to use this version
"i18next-parser": "1.0.0-beta29",

[2019-04-28 17:25] vincaslt opened #151 "Disabling separators breaks output"
- Is this a bug or a feature request?
Bug

- What version are you running (`0.x` or `1.x`)?
i18next-parser@1.0.0-beta34

- Which runner (cli, gulp...)?
CLI

## What I'm trying to do?

I want to use keys as values, but without any characters being interpreted as namespace or key separators.

## How am I doing it?

Here is my config file:

[code]

The command I'm running:

[code]

## What was the re

[2019-04-28 21:03] vincaslt opened #152 "Interpolating in Trans is incorrect when used without key"
- Is this a bug or a feature request? **Bug**
- What version are you running (`0.x` or `1.x`)? **1.0.0-beta34**
- Which runner (cli, gulp...)? **CLI**

## What I'm trying to do?

Use <Trans> element with interpolated value.

## How am I doing it?

[code]

Here is my config file:

[code]

The command I'm running:

[code]

## What was the result?

[code]

## What was I expecting?

[code]

[2019-05-10 13:36] huanglijiao opened #154 "i18next-parser for gulp is not work"
gulpfile.js:
const i18nextParser = require('i18next-parser');
const gulp = require('gulp');

gulp.task('i18next', function() {
  gulp.src(['./pages/**/*', './components/**/*'])
    .pipe(new i18nextParser({
      locales: ['en'],
      namespace: 'common',
      output: 'static/locales/$LOCALE/$NAMESPACE.json'
    }))
    .pipe(gulp.dest('./'));
});

gulp.task('t', ['i18next']);

err:
[21:37:20] U

[2019-05-14 12:46] externuz opened #155 "Can't parse dynamic imports"
- Is this a bug or a feature request?
`bug`
- What version are you running (`0.x` or `1.x`)?
`"i18next-parser": "1.0.0-beta34"`
`"acorn-jsx": "4.x"`
`"acorn-stage3": "0.6.0"`

- Which runner (cli, gulp...)?
`cli`

## What I'm trying to do?
I am trying to parse my `ts` and `tsx` files

## How am I doing it?
`i18next \"./src/**/*.{ts,tsx}\" -o \"./locales\"`

Here is my config file:

[code]

The com

[2019-05-14 13:05] externuz commented on #155
I tried to use this config, but no changes

[code]

[2019-05-15 10:04] tquiroga commented on #155
Same problem for me, I'm looking into `acorn-dynamic-import` right now

[2019-05-20 13:09] tquiroga commented on #119
Still have the issue in `1.0.0-beta34`, even worth, to be honest I have no clue how to run it... Doc doesn't tell much, I have tried as many ways as possible

[code]

[2019-05-31 18:36] nickasd opened #159 "Using same namespace in different parser instances"
I have a Gulp task which runs 2 different `i18next-parser` instances, each one for a different folder representing a different namespace. Let's call these namespaces/folders `A` and `B`, which are also run in this order in the Gulp task. Now in namespace `B` I would like to reference a key from namespace `A`, but unfortunately when running the Gulp task the json file generated by parsing folder `A

[2019-05-31 19:53] nickasd commented on #159
Now I think this radical solution may not be necessary. Since all references to namespace `A` from folder `B` should already be defined in folder `A`, it would be sufficient to have an option `skipNonDefaultNamespaceKeys` when running the parser for folder `B`. Optionally, the parser could check if all the references to the non default namespace are really defined in the previously generated json

[2019-06-06 09:26] blmoore opened #160 "Support for shared namespace or ignoring a namespace"
- Is this a bug or a feature request? Feature request
- What version are you running (`0.x` or `1.x`)? `1.x`
- Which runner (cli, gulp...)? CLI

## What I'm trying to do?

* Use i18next-parser with a common namespace, shared across langs, alongside their own namespaces, e.g.:
[code]

The rest of the i18next stack supports this pattern but i18next-parser doesn't seem to.

## How am I doing it?

in

[2019-06-26 02:43] luisrudge opened #161 "reactNamespace doesn't support `useTranslation` hook"
## What I'm trying to do?

https://github.com/i18next/i18next-parser/blob/46301c7d9cb8e37d832d2259db77b0b01ca365ec/src/transform.js#L250-L258

This code won't evaluate `useTranslation` hooks.

## How am I doing it?

[code]

Here is my config file:

[code]

The command I'm running:

[code]

## What was the result?

`t.json`
[code]

## What was I expecting?

`home.json`
[code]

[2019-07-08 15:20] korsarNek opened #162 "Allow defining custom lexers"
At the moment, the available lexers are restricted by the entries in the lexersMap and I think there is currently no way to extend this list.

I wanted to add a lexer for Vue-Templates, because the normal javascript lexer isn't able to parse the i18n namespace on the component level.

[code]

[2019-07-17 09:02] bitttttten commented on #155
It's strange as `acorn-stage3` should be including dynamic imports already:

https://github.com/acornjs/acorn-stage3/blob/f88a220fa6fbf20e77fdc0f5cb100e44f4cd2d99/index.js#L5

But where does 'acorn-stage3/inject' come from? The package does not have this file, only an index.js file.

[2019-07-17 09:26] bitttttten commented on #155
I figured it out. You must install `acorn-stage3@0.6.0`.

So I ran: `yarn add acorn-stage3@0.6.0` then:

[code]

[2019-07-17 09:37] bitttttten opened #163 "Namespaces are not respected"
- Is this a bug or a feature request?
- What version are you running (`0.x` or `1.x`)?
- gulp runner

## What I'm trying to do?

Input file:

[code]

Gulpfile:

[code]

Dependencies

[code]

The command I'm running:

[code]

## What was the result? / What was I expecting?

common.json includes my translations, and no home.json file is created. `src/i18n/locales/en/common.json`:

[code]

I only see

[2019-07-17 11:13] bitttttten commented on #161
Did you make any progress on this? I am trying to read the source about how it extracts the namespace but I am not having too much luck!

[2019-07-17 12:05] bitttttten commented on #161
I have a very crude implementation of this :)

I am using https://www.npmjs.com/package/patch-package and i18next-parser@1.0.0-beta34 for this. Include the following as `patches/i18next-parser+1.0.0-beta34.patch`.

[code]

[2019-07-17 14:44] bitttttten commented on #163
Closing in favour of https://github.com/i18next/i18next-parser/issues/161

[2019-07-17 14:44] #163 closed

[2019-07-17 19:59] connor4312 commented on #155
It might be worth investigating using the TypeScript compiler/ast for all code. It's a superset of Js/Jsx, and it supports modern constructs as soon as they pick up adoption. It'd also let us streamline the lexers a bit, using one toolchain instead of many + manual patching in acorn.

[2019-07-17 20:13] bitttttten commented on #155
It would seem to simply the lexers a lot! And way less to maintain. Sharing configs would become a lot easier too.

[2019-07-17 20:56] connor4312 commented on #155
@karellm thoughts? I'm happy to put in a PR if you've interest. (We're still using this library at my company :) )

[2019-07-18 03:14] karellm commented on #155
Sorry guys, I've not been very present recently, I don't really code anymore but if you write a PR to improve this mess, I will absolutely review it!

Long story short, last time I checked and touched this project, I couldn't update to the latest acorn because many plugins were lagging behind. This probably changed.

[2019-07-18 03:16] karellm commented on #162
You are welcome to make a PR with new lexers.

[2019-07-18 17:52] ValeryVS opened #164 "ParsingError is not imported"
https://github.com/i18next/i18next-parser/blob/8743169cfcf6a08d26dd63d4c42f8611b99fc456/src/lexers/jsx-lexer.js#L112
`ParsingError` is not imported in 1.0.0-beta34

[2019-07-25 15:12] benmonro opened #165 "Unexpected token error"
- Is this a bug or a feature request?
both?
- What version are you running (`0.x` or `1.x`)?
@1.0.0-beta34
- Which runner (cli, gulp...)?
CLI
## What I'm trying to do?
extract translations from a file

## How am I doing it?

[code]
module.exports = {
    lexers: {
        js: ['JsxLexer'],
        jsx: ['JsxLexer'],
        default: ['JsxLexer']
    },
    output: 'locales/$LOCALE/$NAMESPACE.yml',

[2019-07-25 15:15] benmonro commented on #165
after some investigation it appears to be having issues with static props:

[code]

[2019-07-27 16:14] bitttttten commented on #165
I think it's because acorn doesn't support stage 3 proposals. Check out my comment here to see if it helps: https://github.com/i18next/i18next-parser/issues/155#issuecomment-512177013 and the discussion in this thread.

Although following my comment above may lead you into other problems with webpack if you are using it as it'll mess up the dependencies and webpack will break with the version of a

[2019-08-07 10:40] blmoore opened #166 "Parsing translation keys from comment blocks"
- Is this a bug or a feature request? Potential bug
- What version are you running (`0.x` or `1.x`)? 1.x
- Which runner (cli, gulp...)? cli

## What I'm trying to do?

As described in https://github.com/i18next/i18next-parser/issues/83#issuecomment-375907625, I have a dynamically generated translation key and so am hard-coding all possible values the key will hold at runtime in a comment block, ho

[2019-08-16 15:37] blmoore commented on #166
Anyone solved this? Maybe I misunderstood [your comment](https://github.com/i18next/i18next-parser/issues/83#issuecomment-375907625) @karellm?

[2019-08-22 08:43] filozofer opened #167 "Parse.extend is not a function - acorn-stage3"
- Is this a bug or a feature request? bug
- What version are you running (`0.x` or `1.x`)? 1.0.0-beta34
- Which runner (cli, gulp...)? cli

## What I'm trying to do?

Launch the parser throught cli on my React source code.

## How am I doing it?

Here is my config file:

[code]

The command I'm running:

[code]

Some line of my package.json :

[code]

## What was the result?

I got the following e

[2019-09-07 00:39] hgezim opened #168 "If source language has plural, translation cannot replace them"
- Is this a bug or a feature request?
Bug, I think.
- What version are you running (`0.x` or `1.x`)?
1.0.0-beta34

- Which runner (cli, gulp...)?
cli

## What I'm trying to do?
Have my strings pulled from source and in sync with translation even after files are translated.

## How am I doing it?
In my code, I have this:
[code]

i18next-parser pulls out `RatingsWithCount` without issue. Manually, I

[2019-09-07 00:46] hgezim opened #169 "Plural keys are not sorted properly (they appear at bottom)"
- Is this a bug or a feature request?
Bug

- What version are you running (`0.x` or `1.x`)?
1.0.0-beta34

- Which runner (cli, gulp...)?
cli

## What I'm trying to do?
Sort my keys.

## How am I doing it?
By setting `sort` to true in config.

Here is my config file:

[code]

The command I'm running:

[code]

## What was the result?

`RatingsWithCount` has a bunch of keys after it and then we see `

[2019-09-26 18:08] uqee commented on #155
sadly, has happened to me also ) kinda solved it by parsing `*.tsx` files only, where I don't have dynamic imports and - hopefully - I don't have translations in `*.ts` files

[2019-09-28 23:16] karellm commented on #169
I tried to duplicate and write some failing tests cases without success. Can you please provide a failing test case or a git repo where I can reproduce this?

[2019-09-29 01:05] karellm commented on #167
I feel like you are trying to use `acorn` with the `6.x` or `7.x` api but this project is stuck on `5.x`. I'd love to update but tbh, `acorn` is a big mess and updating would mean that we loose features that currently work like decorators and jsx support. The `acorn-stage3` is not support with the new `acorn-walk`. Long story short, if someone want to submit a PR that fix this mess, I will review

[2019-09-29 01:05] #167 closed

[2019-09-29 01:07] karellm commented on #165
I'm closing this in favor of #155. This issue seems related to acorn which is really a big mess atm.

[2019-09-29 01:07] #165 closed

[2019-09-29 01:14] karellm commented on #155
I'm very aware of the situation. Here is what's happening:

This project uses `acorn@5.x` and as a result we are stuck with old plugins: `acorn-stage3@0.6.0`, `acorn-es7@0.1.0` and `acorn-jsx@4.1.1`. Don't try to update them, it will fail.

**Why don't I update?** Because the new version of the plugins are not supporting `acorn-walk`. So it's a pita to update this parser.

**What do we do?** We pa

[2019-09-29 01:15] karellm commented on #162
Closing by lack of activity. Feel free to reopen to reactivate this.

[2019-09-29 01:15] #162 closed

[2019-09-29 01:18] karellm commented on #166
It should work. I suspect that it's yet another bug in acorn. Please see this for more info: https://github.com/i18next/i18next-parser/issues/155#issuecomment-536237811

You are welcome to tackle this if you want.

[2019-09-29 01:36] #164 closed

[2019-09-29 16:26] karellm commented on #151
Thanks for the pointer and PR. This was fixed in `1.0.0-beta35`.

[2019-09-29 16:26] #151 closed

[2019-09-29 16:38] karellm commented on #143
Indeed, thanks for the pointer and it will be added in `1.0.0-beta36`

[2019-09-29 16:38] #143 closed

[2019-09-29 16:43] karellm commented on #160
I'm not opposed to the idea but I will not implement it. I'm closing this for now, if you want to work on it, I invite you to open a PR.

[2019-09-29 16:43] #160 closed

[2019-10-01 12:20] karellm commented on #137
Closing for lack of activity

[2019-10-01 12:20] #137 closed

[2019-10-01 12:21] karellm commented on #154
Please format your request with the given template and reopen an issue.

[2019-10-01 12:21] #154 closed

[2019-10-01 12:41] karellm commented on #136
I'm closing this because in favour of this issue. You can see the [latest update here](https://github.com/i18next/i18next-parser/issues/155#issuecomment-536237811)

[2019-10-01 12:41] #136 closed

[2019-10-05 23:52] ermik commented on #161
Using `@next` I have no issues parsing
[code]
but same usage with backticks:
[code]
is not parsed.

[2019-10-07 08:29] vincaslt commented on #161
Backticks are not supported afaik, that's due to how tagged literals are defined in the AST. Does [i18next](https://www.i18next.com/) support that way of calling it?

[2019-10-07 14:11] karellm commented on #161
This is intended. Please read my [answer here](https://github.com/i18next/i18next-parser/issues/83#issuecomment-375907625)

[2019-10-17 09:19] #152 closed

[2019-10-20 13:55] Niklas81 opened #181 "Cannot override default name of functions to parse"
Possible bug when running i18next-parser@1.0.0-beta35 through Gulp.

## What I'm trying to do?
I'm trying to make the parser parse functions that uses `__` rather than `t` for defining key names that should be localized.

## How am I doing it?
Here is my `gulpfile.js` file:

[code]
Contents of client/components/test.js

[code]

The command I'm running:

[code]

## What was the result?

First run w

[2019-10-20 14:09] Niklas81 commented on #181
Also, just realized that it seems to ignore the `.on('warning:variable', (path, key) => {console.log(path, key)}))` bit as well, though that is of lesser importance to me.

[2019-10-22 19:07] MartinMxnn opened #182 "SyntaxError: Unexpected token"
Hey, there. I tried to use parser but I'm not sure whether I missed some steps or did sth wrong, it shows sth I can't understand.

## How am I doing it?
Basically similar with the issue in this page https://github.com/i18next/i18next-parser/issues/148
I install the i18next-parser, acorn-jsx, acorn-stage3, I write jsx in js file, not sure does it matters?

Here is my config file:
[code]

The comman

[2019-10-23 16:09] karellm commented on #182
@MartinMxnn I just published `1.0.0-beta36` that merges the work of @vincaslt allowing us to remove acorn. It should work now, and if it doesn't please reopen this issue.

[2019-10-23 16:09] #182 closed

[2019-10-23 16:10] karellm commented on #166
#180 was merged and `1.0.0-beta36` published. Acorn is dead, long live Typescript.

[2019-10-23 16:10] #166 closed

[2019-10-23 16:11] karellm commented on #155
#180 was merged and `1.0.0-beta36` published. Acorn is dead, long live Typescript. Thanks a lot @vincaslt

[2019-10-23 16:11] #155 closed

[2019-10-23 21:52] MartinMxnn opened #183 "Do we have support for ignore the function and variable?"
Firstly, really thx for the update which removes the acron and my last issue is solved.

And do we have or could we add another config option for ignoring the t function contains variable or function? I guess it may be useful.

[error] i18next-parser does not support variables in translation functions, use a string literal: t(capitalization(this.props.pathname.slice(1)

[2019-10-23 21:52] #183 closed

[2019-10-24 02:57] karellm commented on #183
I'm not sure why you closed the issue? Did you find a solution to it?

In all cases, you are welcome to submit a PR with any improvement.

[2019-10-25 13:50] vincaslt commented on #181
I believe `functions` is a lexer parameter, so your config should look more or less like this:

[code]

[2019-10-26 21:54] Niklas81 commented on #181
Thanks, much appreciated! :+1:

[2019-10-26 21:54] #181 closed

[2019-10-28 22:10] MartinMxnn opened #184 "Do we have any setting for default en?"
For default English I don't need to translate, is there any way to set it not translate when language to en or generate the same key: value in JSON file of English?

[2019-10-29 20:20] jmccarrell-lmi opened #185 "i18next doesn't generate plural forms when count is present"
- Is this a bug or a feature request? Feature
- What version are you running (`0.x` or `1.x`)?
- Which runner? cli

## What I'm trying to do?

get plural forms when i specify count

## How am I doing it?

How to do this?
if { count } exists, then add `_plural` key (note: if ONLY count: with greater than 1, then don't include BASIC key).

[2019-10-29 22:58] MartinMxnn commented on #184
Thx @vincaslt, I didn't find it when I looked at npm document, but it works.

[2019-10-29 22:58] #184 closed

[2019-10-30 15:00] timomeh commented on #161
Why was this issue closed? The original issue by @luisrudge was about namespaces inside `useTranslation`, not about backtick support. `useTranslation('home')` still doesn't seem to work.

[2019-10-30 21:15] karellm commented on #161
Indeed, my bad. That said it looks like you could use the `functions` option no? Have you tried: ` functions: ['t', 'useTranslation']`?

[2019-10-30 21:39] timomeh commented on #161
Setting `lexers.js.functions` to `['t', 'useTranslation']` will just cause `useTranslation` to be recognized as translate-function, which it isn't, and thus will add the namespace of the `useTranslation` hook as translation key.

Input:

[code]

Generated file:

[code]

Expected:

[code]

[2019-10-30 21:40] karellm commented on #161
Got it, thanks for the clarification. PR is welcome!

[2019-10-30 21:43] timomeh commented on #161
will take a look at the javascript lexer [tomorrow](https://time.is/de/Cologne)

[2019-10-31 13:37] miluxmilux opened #187 "parsing the t function returns a single empty key"
- Is this a bug or a feature request?
Bug

- What version are you running (`0.x` or `1.x`)?
1.0.0-beta36

- Which runner (cli, gulp...)?
cli

## What I'm trying to do?

Extract keys out of my React App

## How am I doing it?

Here is my config file (nothing special):

[code]

The command I'm running:

[code]

## What was the result?

i18next-parser copies all my keys to the _old.json file and gene

[2019-10-31 17:08] vincaslt commented on #187
Could I get more of the code, or better yet a small reproducible example of the bug? From the looks of it, it should work.

[2019-11-01 09:13] miluxmilux commented on #187
Hey vincaslt, thanks for your answer. The problem was due to the use of the ":" character in my key. I thought that i18next-parser would get the namespaceSeparator from the main i18next-config. Once I specified an other character in the i18next-parser config file with `namespaceSeparator: '~',`, it worked great.

[2019-11-01 09:13] #187 closed

[2019-11-01 11:07] vincaslt commented on #187
You can also specify `false` to not use any.

[2019-11-08 08:39] edizcelik opened #188 "TypeError with 1.0.0-beta36"
- Is this a bug or a feature request?
Bug
- What version are you running (`0.x` or `1.x`)?
1.0.0-beta36
- Which runner (cli, gulp...)?
CLI

## What I'm trying to do?

I am trying to parse my `ts` and `tsx` files.

## How am I doing it?

Here is my config file:

[code]

The command I'm running:

[code]

## What was the result?

I'm getting a TypeError. Here is the details:

[code]

## What was I ex

[2019-11-13 18:58] dougsmith1000 opened #189 "The word "false" in a string breaks the parser"
- Is this a bug or a feature request?
Bug
- What version are you running (`0.x` or `1.x`)?
0.13.0
- Which runner (cli, gulp...)?
cli

## What I'm trying to do?
Extract a string that contains the word "false".

## How am I doing it?
My command:
`i18next ./src --fileFilter *.js,*.jsx -r --ignore-variables -o ./src/locales -c false -k false -s false -n common -l de_DE,es_LA,fr_FR,pl_PL,pt_BR,ru_RU,tr

[2019-11-22 02:29] raygerrard opened #190 "additional seperator config option"
- Is this a bug or a feature request? Feature request
- What version are you running (`0.x` or `1.x`)? Latest
- Which runner (cli, gulp...)? Cli

## What I'm trying to do?

I would like to be able to use a namespaceSeperator and keySeperator only when manually providing a key as an attribute such as:

[code]

When using plain text translations I would like to ignore the seperators. This way I can

[2019-11-28 10:20] bors-ltd commented on #182
Hi, I installed `1.0.0-beta36` because of the error above, and got a new one:
[code]
Is there is configuration change or something? I didn't find anything in the release notes.

I cannot reopen this issue, probably because I'm not the OP.

[2019-11-28 15:47] vincaslt commented on #182
Yes! Please use `JsxLexer`. Since the last update, typescript is handled by default: https://github.com/i18next/i18next-parser#tsx

[2019-11-28 15:49] vincaslt commented on #189
Could you give a code example and the result you're getting, so I could check?

[2019-12-01 04:48] JounQin commented on #96
It seems `2.1.0` breaking usage of `<div {...props}></div>`?
@karellm @mysticatea @marijnh @RReverser
Downgrading to `2.0.1` works to me.

[2019-12-04 20:16] vincaslt commented on #185
Yeah, the same for me. I see that it says `Plural: keys of the form key_plural and key_plural_0` but I can't find it ever being implemented looking through commit history. I think this is a nice feature to have, will try to implement it.

[2019-12-04 20:41] vincaslt commented on #185
From looking at the code it seems that if you add plurals manually, it wouldn't override, but it doesn't have any logic to add them automatically when needed.

[2019-12-10 17:40] vincaslt commented on #188
Thanks for the report, it would've helped to get a code example which fails with this error. #191 will fix this error.

[2019-12-10 17:46] vincaslt commented on #169
I haven't checked how it behaves with the current version, but I don't see this effect in #191 and it changes a how plurals are handled, so try the next version when it's merged.

[2019-12-10 17:50] vincaslt commented on #168
So what happened for you is i18next added plurals based on the locale you were using, and it so happens that czech have more plural forms than one which are mapped by `key_0, key_1, key_2`, instead of `key, key_plural`. This will be handled in the next version by the parser: #191

[2019-12-11 13:27] karellm commented on #169
I never got around to finish this. If I remember correctly, if you have a file with existing catalog with `_plural` keys in it, they are not taken into account for the sorting. I doubt that the new PR will fix that. I wanted to find a solution a little more elegant than looping through the entire catalog again to sort it.

[2019-12-11 13:31] #185 closed

[2019-12-11 14:14] vincaslt commented on #169
I tried it both with existing and new catalogs, but maybe you're right, I haven't tested this extensively.

[2019-12-11 14:15] #168 closed

[2019-12-11 14:15] #188 closed

[2019-12-12 12:52] externuz opened #192 "<Trans ns="namespace">...</Trans> and t("...", { ns: "namespace" })"
- Is this a bug or a feature request?
bug
- What version are you running (`0.x` or `1.x`)?
1.0.0-beta37
- Which runner (cli, gulp...)?
cli

## What I'm trying to do?

Im trying to parse .tsx file with such content:
[code]

Here is my config file:

[code]

The command I'm running:

[code]

## What was the result?

`src/locales/$LOCALE/translation.json` files

## What was I expecting?

`src/locales/

[2019-12-12 18:17] vincaslt commented on #192
Namespaces in `Trans` component might not be supported or might be broken, will have to check.
And the second way you used it, I don't think is possible in i18next itself, could you give a link to the docs for it? I checked and couldn't find. The only way I saw is `i18next.t('namespace:myKey')`, which should be supported by this parser.

[2019-12-13 09:12] externuz commented on #192
`t` - TFunction
[code]

TOptions
[code]

TOptionsBase
[code]

[2019-12-13 09:18] externuz opened #193 "i18next -c path/to/config.js is not working"
- Is this a bug or a feature request?
bug
- What version are you running (`0.x` or `1.x`)?
1.0.0-beta37
- Which runner (cli, gulp...)?
CLI

## What I'm trying to do?
Im trying to run i18next-parser with specified config file

## How am I doing it?

`i18next -c /config/i18next/help/config.js`
`i18next -c ./config/i18next/help/config.js`
`i18next -c config/i18next/help/config.js`

## What was the re

[2019-12-13 09:26] externuz commented on #193
Ok, I found a reason. I have two config files:

config/i18next/help/config.js
[code]

and

config/i18next/config.js (as main config)
[code]

As I said early, error looks like file does not exist, but actually the error is that `import` syntax is bad. If I changed it to `const configGlobal = require("../config.js");` it works fine.

[2020-01-09 16:04] heivo commented on #161
Any progress on this?

[2020-01-13 10:16] heivo commented on #192
I created 2 PR's to address those namespace issues.

[2020-01-13 15:31] karellm opened #197 "Getting out of beta"
The project has been in beta for a very long time. I feel it is stable enough to remove the beta tag. @vincaslt Is there anything you'd like to address before that?

[2020-01-13 15:33] karellm commented on #192
Thanks @heivo for the good work! I released `1.0.0-beta38` with your changes.

[2020-01-13 15:33] #192 closed

[2020-01-13 18:21] vincaslt commented on #197
I think it's a good time to move out of beta.

[2020-01-16 15:28] karellm commented on #197
We are out of beta 🎉

[2020-01-16 15:28] #197 closed

[2020-01-20 13:47] latuszek opened #199 "Cannot read property 'text' of undefined in javascript-lexer"
- Is this a bug or a feature request?
Bug
- What version are you running (`0.x` or `1.x`)?
1.0.0
- Which runner (cli, gulp...)?
gulp

## What I'm trying to do?

I trying to run following gulp task:
[code]

## How am I doing it?

Via `yarn gulp i18n`

## What was the result?

[code]

## What was I expecting?

Not throwing an error?

[2020-01-21 15:20] latuszek commented on #199
It may help, that the only place in which I am using translation in the `Stlot.jsx` is this:
[code]
So it may be the spread operator.

[2020-01-21 16:03] vincaslt commented on #199
It could be. Would you be able to post more of the code, like how `slot` is constructed? It seems to me that cases like this could be simplified, and writing it this way may be unnecessary.

[2020-01-21 16:17] latuszek commented on #199
`slot` has following shape:
[code]

[2020-01-29 12:55] Vovan-VE opened #201 "Glob negation doesn't work in config.input"
Hello!

i18next-parser.config.js:
[code]
Due to following resolving:
https://github.com/i18next/i18next-parser/blob/bb1d82074591ab1cc2ce885d4ea6be26ba0f36d1/bin/cli.js#L66-L68
the negation in `config.input` doesn't work, since the lines above produces glob like
`.../!src/`.

[code]

[2020-01-31 05:09] #201 closed

[2020-02-01 03:17] spiderchi opened #204 "change the translation function"
- Is this a bug or a feature request? bug
- What version are you running (`0.x` or `1.x`)? Latest
- Which runner (cli, gulp...)? cli, gulp both

## What I'm trying to do?
I would like to use different translation function.

## How am I doing it?
i18next /path/to/file/or/dir -f T

Here I would like to replace 't' with 'T', but it do not allow me to use 'T'.

[2020-02-01 07:17] karellm commented on #204
`-f` is not a valid option of the CLI. Please read the docs to use the options via a config file.

[2020-02-01 07:17] #204 closed

[2020-02-04 13:34] rwieruch opened #205 "Trans Component, with or without key, isn't picked up"
- Is this a bug or a feature request? **Bug**
- What version are you running (`0.x` or `1.x`)? **^1.0.2**
- Which runner (cli, gulp...)? **create-react-app**

## What I'm trying to do?

I am using this library with ***react-i18next* in its latest version. Everything works fine for the extraction when using the `useTranslation` hook. However, when I use the <Trans> component, it doesn't pick up the

[2020-02-07 13:04] rwieruch commented on #205
Okay, I used the wrong lexer. Since the Trans component is used in JSX in a .js file, it should be the `JsxLexer`:

[code]

[2020-02-07 13:04] #205 closed

[2020-02-10 12:09] ramiel opened #206 "Default value is not respected for <Trans>"
- Is this a bug or a feature request?
Bug
- What version are you running (`0.x` or `1.x`)?
1.0.2
- Which runner (cli, gulp...)?
cli
## What I'm trying to do?

Trying to extract key from
`<Trans>A text</Trans>`

## How am I doing it?

`i18next --config i18next-parser.config.js`

Here is my config file:

[code]

The command I'm running:

[code]

## What was the result?

[code]

## What was I expecti

[2020-02-10 20:08] otaviobps commented on #161
I'm using `i18next-parser 1.0.0-beta38` and couldn't make it work with the `{t}` hook in react.

Here is my config file:
[code]

Running `i18next './src/**/*.js' -c src/locales/i18next-parser.config.js` will create just the `main.json` file, while the expected would be the `main.json` file and the others namespaces files. All keys are in this file.

@ermik said that he was using the `@next` (which

[2020-02-10 21:45] karellm commented on #161
Please move out of beta. If this still doesn't work, feel free to open a PR with tests.

[2020-02-10 22:01] karellm commented on #206
Without seeing the parsed file, not much I can do. Please create a failing test case.

[2020-02-11 09:16] ramiel commented on #206
You can find a complete example at https://github.com/ramiel/parser-test

Look at the generated locale files: the key is also the value but it should not be

[2020-02-11 09:19] ramiel commented on #206
For comparison I added also the case with the `t` function that behaves correctly, producing only the key and not the value

[2020-02-11 15:00] karellm commented on #206
I'm not using react so I'm not sure what the behaviour should be. If you check the tests, that's seems to be on purpose: https://github.com/i18next/i18next-parser/blob/master/test/lexers/jsx-lexer.test.js#L27

@vincaslt Can you advise on this?

[2020-02-11 15:03] ramiel commented on #206
To me it seems the tests starting from [line 54](https://github.com/i18next/i18next-parser/blob/master/test/lexers/jsx-lexer.test.js#L54) are wrong. They says to test the key but they also do some assumption on the value, which is wrong

[2020-02-11 20:34] vincaslt commented on #206
Yeah, I think the test might not be entirely correct, as @ramiel said. It assumes that defaultValue is always key. There should be two separate tests, one with the flag that sets the default value as key, and the other without.

[2020-02-22 00:07] vincaslt commented on #206
Frankly, not sure why having a default value is not expected in your case. That's exactly the output I get from react-i18next:

[code]

gives me `test: "test"`

[2020-02-24 13:21] MichaelDeBoey opened #208 "Drop Node 8 support"
Because it's [EOL](https://nodejs.org/en/about/releases).

[2020-03-11 22:11] danielduan commented on #206
Picking up on this:

```<Trans key="123" defaultValue="hello world" />```
gets extracted as
```123: ""```

Is this the expected behavior?

[2020-03-28 21:57] dwalintukan opened #209 "namespaceSeparator not working"
- Is this a bug or a feature request? bug
- What version are you running (`0.x` or `1.x`)? 1.0.2
- Which runner (cli, gulp...)? cli

## What I'm trying to do?

The `namespaceSeparator` for `i18next-parser.config.js` is not working properly. I had to set it in `i18n.init()`.

## How am I doing it?

Here is my config file:

[code]

The command I'm running:

[code]

## What was the result?

Removes t

[2020-04-19 11:55] kirrg001 opened #211 "Custom output JSON format"
- Is this a bug or a feature request?
Maybe a feature request or a help question.

- What version are you running (`0.x` or `1.x`)?
1.0.2

- Which runner (cli, gulp...)?
gulp

## What I'm trying to do?

[code]

app.en.json
[code]

## How am I doing it?

I cannot find a way to do it. Went through almost all issues and docs, but there is no hint.
Trying to pass on validation hints for translators as

[2020-04-19 14:40] karellm commented on #211
Hey, I guess that would be a feature request but I don't really have time to code anything like that. If you can explain why you need this, I'd be happy to review a PR.

[2020-04-20 09:22] kirrg001 commented on #211
Trying to pass on validation hints for translators as a description field.
Workflow improvements. Having a translator translating keys, sometimes breaks layouts. If we can forward restrictions in some way, we would improve development time.

Any hint where to look and where to change this? I don't know the code base at all :)

[2020-04-20 11:08] matsgm opened #212 "Plural key and default value is not created"
- Bug
- 1.0.2?
- Cli

## What I'm trying to do?

* Creating locale files with plural. The default value works when testing without language files and single plural count.

## How am I doing it?

* t('vessel:assistance.attachedMembershipTitle', 'Tilknyttet medlemskap', { count: vessel.memberships.length, defaultValue_plural: 'Tilknyttede medlemskap' })

Here is my config file:

[code]

The command

[2020-04-20 14:00] karellm commented on #211
I'll review a PR. The codebase is quite simple to get into. You have some [guidelines here](https://github.com/i18next/i18next-parser/blob/master/docs/development.md).

The biggest complexity is that you need to make sure every lexer will extract the information properly. Then you probably want to do something [around here](https://github.com/i18next/i18next-parser/blob/master/src/transform.js#L22

[2020-04-20 14:04] karellm commented on #212
I wasn't aware of the `defaultValue_plural` option. A PR with a failing test case is welcome.

[2020-04-20 15:18] vincaslt commented on #212
Yeah, haven't seen it as well, the docs don't explicitly show `default_plural` use case at least. Is it the same with numbered plurals like `default_1`, `default_3` and so on?

[2020-04-20 15:41] matsgm commented on #212
Yes: https://www.i18next.com/translation-function/essentials#overview-options

[2020-04-23 07:11] mzvonar opened #213 "Custom lexers"
- Is this a bug or a feature request?
Feature request
- What version are you running (`0.x` or `1.x`)?
1.0.2
- Which runner (cli, gulp...)?
cli

## What I'm trying to do?

I would like to use custom lexers

## How am I doing it?

I suggest passing a class in config instead of string. I looked into the code and it's not possible to achieve right now.

Here is my proposed config file:

[code]

I can

[2020-04-23 08:14] vincaslt commented on #213
Sure

[2020-04-23 10:38] mzvonar commented on #213
Hi @vincaslt
I noticed that when running yarn test it's using glob pattern `test/**/*.test.js` and file `test/parser.test.js` is not run.
Is this by design or is it a typo?

[2020-04-23 14:26] mzvonar commented on #213
I stumbled upon this problem before.
Sadly, glob pattern`test/**/*.test.js`does not match files right in the `test` folder.
For this there need to be two glob patterns declared, eg. `mocha -r babel-register -r babel-polyfill --recursive test/*.test.js test/**/*.test.js`
Should I submit different PR with fix for this?

[2020-04-23 19:40] kirrg001 commented on #193
I was running into the same problem today.

CLI said

`Config file does not exist: /path/to/config`

But my actual problem was, that my require path to a JSON file was wrong. Would be great if the CLI would not hide the actual error. Thanks!

[2020-04-24 09:33] simoneb opened #215 "Support variables in translation function"
- Is this a bug or a feature request?

Feels like a fairly common use case, so I believe it's a bug.

- What version are you running (`0.x` or `1.x`)?

1.0.3

- Which runner (cli, gulp...)?

CLI

## What I'm trying to do?

Generate the output for non-literal translation keys in React components.

[code]

## How am I doing it?

Here is my config file:

[code]

The command I'm running:

[code]

## W

[2020-04-24 14:21] karellm commented on #215
Not a bug and not happening as it would complicate the lexers too much when it is even possible. Often when a variable is used, it's not assigned in the same file and there is no way to know what it even resolve to. This parser reads static files, there is no runtime. If you want to do that, you need to add a comment in your code:

[code]

[2020-04-24 14:21] #215 closed

[2020-04-24 14:23] karellm commented on #215
I would add that it [should throw you an error](https://github.com/i18next/i18next-parser/blob/master/test/parser.test.js#L1228) and if that's not the case, that would be a bug.

[2020-04-24 14:33] simoneb commented on #215
No error thrown and no warning even in verbose mode.

[2020-04-24 14:48] karellm commented on #215
I've tested and it works for me with your file. Please open a PR with a failing test case so I can look at it.

[2020-04-24 14:51] simoneb commented on #215
By works you mean it's throwing an error?

[2020-04-24 14:53] karellm commented on #215
Yes it does throw an error and it logs it to the console when `verbose: true`

[2020-04-24 14:55] karellm commented on #209
Can you please provide a sample of the code you are trying to parse?

[2020-04-24 14:56] karellm commented on #213
Both the update test command and custom lexers will be in `1.0.3` released within an hour.

[2020-04-24 14:56] #213 closed

[2020-04-24 14:57] #193 closed

[2020-04-24 14:57] karellm commented on #193
This will be part of `1.0.3`

[2020-04-24 15:05] #208 closed

[2020-04-24 15:07] macfanatic commented on #215
Was investigating this issue just now: so the recommended way is to just use a comment to translate the key?

[code]

I'm considering just using the comment approach on the line immediately after defining the exported constant in our case, but I can't get the comment approach to work no matter where I place it in our codebase.

[2020-04-24 15:12] karellm commented on #190
This is not possible indeed. I'm not keen to add this feature as it complicated the options. My recommendation is that you use a separator that is not part of common language. You can maybe double the colon like so `<Trans i18nKey='mainpage::heading.description'></Trans>` which will prevent your issue.

[2020-04-24 15:12] #190 closed

[2020-04-24 15:13] karellm commented on #189
I'm closing by lack of activity, please reopen if you can provide the information asked by @vincaslt

[2020-04-24 15:13] #189 closed

[2020-04-24 15:18] karellm commented on #212
Plural need some love apparently. It might be a good time to look at #169 too. @vincaslt do you have the bandwidth for this?

[2020-04-24 15:41] karellm commented on #215
Well I believe you are right, it doesn't work anymore since we've moved to typescript for our lexers. @vincaslt do you know if it would let us parse comments?

[2020-04-27 07:18] kirrg001 opened #216 "How to tell parser to ignore default values in t function?"
- Is this a bug or a feature request?

Help question

- What version are you running (`0.x` or `1.x`)?

1.x

- Which runner (cli, gulp...)?

CLI

## What I'm trying to do?

How to tell i18nparser to **not** use the t function default value?

[code]

[code]

results in

en.json
[code]

But i want

en.json
[code]

**Background**: Default values are very useful for developers when working on MVP. Par

[2020-04-27 09:39] kirrg001 commented on #211
Will do in a couple of days. Thanks 👍

[2020-04-27 13:31] macfanatic commented on #215
I managed just by referencing it directly, not ideal but works.

From my above example:

[code]

[code]

[2020-04-27 13:34] simoneb commented on #215
We're considering to contribute to the parser with support for the following logic:

What do you think @karellm?

[2020-04-27 17:06] karellm commented on #215
@simoneb I like the idea, could you also look into parsing comments while at it? In all cases, feel free to open a PR and thanks for the contribution!

@macfanatic Yes, that's because comments are simply not parser atm but regular code still is. It's actually an ok solution even though not super elegant.

[2020-04-27 23:28] karellm commented on #216
I'm confused by this, if you [look at the tests,](https://github.com/i18next/i18next-parser/blob/master/test/parser.test.js#L11) it doesn't provide a default value by default. I also ran a test with your options and it seemed to work just fine.

Could you provide a failing test case?

[2020-04-28 08:51] kirrg001 commented on #216
Sorry if I wasn't clear.

Not having said that :)

I've asked how to disable using the t functions default value if defined by developer.

I add this to my code as a developer

```t("headline", {defaultValue: "This is a headline"})```

And i18next Parser will create

[code]

I would like to disable this and get an empty string instead. Is this possible using a parser option? Or is this a feature r

[2020-04-28 14:06] karellm commented on #216
That would be a feature request indeed. I believe I would be ok with a `skipDefaultValues` option. Can you make a PR?

That would be a better first contribution than your other suggestion as this should be a fairly simple code change.

[2020-04-28 15:46] kirrg001 commented on #216
Will do thank you!

[2020-04-28 19:56] kirrg001 commented on #211
Just realised that

[code]

[code]

is not supported using an option right now. Cannot find a test for this. Am I right?

I would suggest to first make this possible and then add support for other custom fields, which you can configure to pass through. Let me know what you think 😀

[2020-04-28 23:46] karellm commented on #211
That's correct, that would need to be an option since it would be a breaking change. It might impact some parts of the code that rely on checking that `headline` in your example is a string. Might be worth double checking that too.

[2020-04-28 23:57] #216 closed

[2020-05-02 16:24] #211 closed

[2020-05-04 13:26] kirrg001 commented on #161
I was running into the same problem. I would be interested in resolving the issue.

[2020-05-05 18:11] kirrg001 commented on #161
I think I am not sure I 100% understand `reactNamespace` option.

When I set this option to false, the parser will use the namespace defined in `useTranslation("ns")` and creates `ns.json`. Which seems to work fine.

When I set this option to true, it wont. It will create `translation.json`.

The README docs for `reactNamespace` option points to https://react.i18next.com/components/translate-hoc.h

[2020-05-06 07:23] kirrg001 commented on #161
I resolved my issue by using `reactNamespace: false`. Please let me know if there is still a need for a fix.

[2020-05-06 14:13] karellm commented on #161
@kirrg001 I'm not using any of these options so I'm not of good advice here. It was introduce [here,](https://github.com/i18next/i18next-parser/issues/192) with PRs #195 and #196

@vincaslt do you rely on these? Could you run the tests?

[2020-05-06 15:28] vincaslt commented on #161
Sorry I haven't used namespaces, so not really sure what that option does. From what I gather from here: https://github.com/i18next/i18next-parser/blob/b12e9c479298f8ec435686ea61ccff7fb734624a/src/transform.js#L104 it enables parsing of `translate('namespace')`, I don't understand the point of it, since the namespace declaration in hook seems to be `useTranslation('namespace')`

[2020-05-06 15:47] karellm commented on #161
I'm currently running some tests. I'm also not sure about the necessity of this option `reactNamespace` altogether. It looks like it duplicate what is done here:

https://github.com/i18next/i18next-parser/blob/master/src/lexers/javascript-lexer.js#L105

@luisrudge I'm curious why you set this option to true? You code doesn't seem to rely on that feature at all. Do you need the `translate()` HOC as

[2020-05-07 10:30] ramiel commented on #83
Backticks are not used for interpolation only, but also to have new lines in the text. Interpolation is not supported regardless of the quotes used (you posted an example of interpolation with normal quotes). I think this should be reviewed

[2020-05-07 10:43] vincaslt commented on #83
Is is a case where you can't use `<Trans>` component?

[2020-05-07 10:45] ramiel commented on #83
No, I'm talking about `t` functions

[2020-05-07 10:47] ramiel commented on #83
Oh sorry, I wouldn't make any assumption on what and why a user can or cannot use one of the available tools, there will always be a case for something. Also, i18next can be used outside of react projects where you only have the translation function, not the component

[2020-05-07 11:57] karellm commented on #83
@ramiel You have a valid point about multi line strings. Are you willing to make a PR for this?

[2020-05-07 13:20] ramiel commented on #83
Not at the moment, I'm pretty busy. In case I can in the next weeks, any hint at where to look?

[2020-05-12 08:18] salockhart opened #219 "Parsing translation with `returnObjects: true` replaces the object with a string"
- Is this a bug or a feature request?
Bug

- What version are you running (`0.x` or `1.x`)?
1.0.6

- Which runner (cli, gulp...)?
cli

## What I'm trying to do?

I have a namespace for translating country names. I want to request this as an object, so that I can simply iterate through the countries.

[code]

[code]

## How am I doing it?

Here is my config file:

[code]

The command I'm running:

[2020-05-13 01:07] karellm commented on #219
It's not per say a bug but a missing feature. The parser doesn't support the `returnObjects` option, I didn't even know it existed. You are welcome to submit a PR with the change, I don't have lots of time to work on this project atm.

[2020-05-13 07:33] salockhart commented on #219
Okay, good to know! I will see about submitting a fix

[2020-06-24 15:08] tienpham94 commented on #166
@karellm I have the same issue, I can't parse translation keys from comments, even though I added the comments already
[code]

[2020-06-25 02:55] karellm commented on #166
I believe this is still broken indeed. See here https://github.com/i18next/i18next-parser/issues/83

A PR is welcome.

[2020-06-25 09:17] vincaslt commented on #215
I don't see any code in the lexer before rewrite that would parse the translations from comments. Acorn parser AST ignores comments altogether at https://astexplorer.net

I can try to make the comments work though

[2020-06-25 18:16] karellm commented on #215
@vincaslt I believe it worked beforer Acorn when the parser was basically complex regexes I had handwritten. We've come a long way since then!

[2020-06-25 18:23] #83 closed

[2020-07-04 16:04] Niklas81 opened #226 "[DEP0097] DeprecationWarning: Using a domain property in MakeCallback is deprecated. Use the async_context variant of MakeCallback or the AsyncResource class instead."
## 🐛 Bug Report
After latest upgrade of Node to version `v14.5.0`, I receive the warning according to title of this report: `[DEP0097] DeprecationWarning: Using a domain property in MakeCallback is deprecated. Use the async_context variant of MakeCallback or the AsyncResource class instead.`.

This occurs when running `i18next-parser` through `Gulp` with the following task:

[code]

Where `lang` a

[2020-07-04 16:26] Niklas81 commented on #226
Sorry, this is an error in Gulp, see: [Deprecation warning since Node `14.5.0` #2460](https://github.com/gulpjs/gulp/issues/2460)
Closing this.

[2020-07-04 16:26] #226 closed

[2020-07-16 20:47] mareksuscak opened #227 "Parser mangles unicode escape sequences"
## 🐛 Bug Report

This is probably better explained with an example so here you go:

![image](https://user-images.githubusercontent.com/613647/87720932-fca68180-c7b5-11ea-8e01-05b30adb93de.png)

Notice, how `\u00A0` got turned into a mangled sequence of characters.

## To Reproduce

In order to reproduce, just add `\u00A0` to any of your strings in a translation file and run the parser. This is a u

[2020-07-16 20:48] mareksuscak commented on #227
For anyone who picks this up - if there's a better way to add a non-breaking space, I'm all ears. Tried a slew of different approaches and most of them didn't work well.

[2020-07-23 06:59] NethmiRodrigo opened #230 "Parser throws an error 'TypeError: Cannot read property 'numbers' of undefined' when locales parameter is present"
## 🐛 Bug Report

I can't set locales with an array of locales it throws an error  `TypeError: Cannot read property 'numbers' of undefined`  from `node_modules\i18next-parser\dist\transform.js:130:99`. It works perfectly when I remove locales but uses the defaults `en` and `fr`.

## To Reproduce
Here's my config file

[code]

## Expected behavior
To have the translation file written in the locale f

[2020-07-23 15:39] Yuripetusko opened #231 "parsing <Trans> in tsx, no value is extracted"
##  🐛 Bug Report

Calling  `save-missing` on Trans with new synthax in tsx does not extract values

## To Reproduce

[code]

`"downloadLocizeTranslations": "i18next 'components/**/*.tsx' && locize save-missing --api-key XXX --project-id XXX --format json --path ./public/static/locales"`

[code]

And output I get is:

[code]

## Expected behavior

A clear and concise description of what you expecte

[2020-07-24 05:21] kristian-puccio commented on #230
I'm also getting the same error but for me it's only happening when I try to extract the `iw` locale.
All other seem to work for me

[2020-07-24 10:03] Yuripetusko commented on #161
Sorry but what is the status of it?

If I set `reactNamespace: true` then namespaces in `withTranslation` hoc are parsed correctly but not namespaces in `useTranslation ` (instead keys are saved to wrong global default ns)

But if I set `reactNamespace: false` then it's other way around `useTranslation` saves key in correct ns but `withTranslation` doesn't

[2020-07-24 12:22] karellm commented on #161
You only should set `reactNamespace` to true if you use the [HOC](https://react.i18next.com/latest/withtranslation-hoc). If not, stay away from that option.

If you want more help, please provide more code samples or event better a failing test case.

[2020-07-24 12:34] Yuripetusko commented on #161
We have mix of class components and function components in our react app, hook cannot be used in class components, so what should I use if I cannot turn them into function components for some reason?

[2020-07-24 12:47] #230 closed

[2020-07-24 12:47] karellm commented on #230
The code shouldn't crash but it's basically because the language you selected isn't know by `i18next`. We use the [plural resolver](https://github.com/i18next/i18next/blob/master/src/PluralResolver.js) to determine how many plurals a language has. I've fixed this by setting a default to 1 plural form for "unknow" languages.

This was deployed as `2.1.3`

[2020-07-27 13:33] karellm commented on #161
I'm not using react nor familiar with it. I don't think I'm the right person to implement this. Maybe @vincaslt can assist you here.

[2020-07-27 13:47] Yuripetusko commented on #161
For now I chose to explicitly define namespace with every t function call

[2020-07-27 17:58] vincaslt commented on #161
Can I get a small code example that doesn't work right that I could run tests on? From the code I can't see that reactNamespace value has any effect on how namespace is extracted, so it's weird.

[2020-07-27 18:40] Yuripetusko commented on #161
Thanks, ok sure will try to make an example today

[2020-07-27 21:10] Yuripetusko commented on #161
I looked at code breifly and noticed that you don't even use the latest HOC name when getting namespace? https://github.com/i18next/i18next-parser/blob/a2ec228648c2af2786aed1ceac71a04d3f43e07d/dist/transform.js#L302 this should be

[code]

Right? I can create a PR if this is indeed a mistake

[2020-07-28 06:12] vincaslt commented on #161
I'm not exactly sure of the purpose of that regex. The APIs were probably changing at some point and there are some leftovers and broken stuff. I would expect this to handle your case: https://github.com/i18next/i18next-parser/blob/a2ec228648c2af2786aed1ceac71a04d3f43e07d/src/lexers/javascript-lexer.js#L147

But I would need to make some tests to see what's overriding it or preventing it from work

[2020-08-02 13:55] simoneb commented on #215
I finally got around to spending some time on introducing simple support for constant variables initialized to string literals, which are safe to replace as they can't change.

I'd appreciate some feedback on the PR: #234

[2020-08-04 05:26] NethmiRodrigo commented on #230
So the only soultion would be to use a known language?

[2020-08-04 13:19] karellm commented on #230
If you want plural to be determined by the plural resolver, then yes you must use a known language.

If you don't use a known language, it won't crash anymore and will default to a single plural form.

[2020-08-04 13:45] NethmiRodrigo commented on #230
Gotcha. Thanks! :)

[2020-08-06 23:31] karellm commented on #161
Fix deployed with `2.2.0`

[2020-08-06 23:31] #161 closed

[2020-08-07 22:43] vincaslt commented on #231
I've checked the relevant code, and it seems this case is not handled. Let me know if you'd like to submit a PR for this, or I could fix it sometime soon. For now it seems the only way to override a default value in Trans component is to pass children to it - it will be the default value.

[2020-08-07 22:49] vincaslt commented on #206
Seems related to: #231

According to https://react.i18next.com/latest/trans-component:
`defaults` is supposed to override children, currently parser doesn't handle it at all, and children field is empty.

[2020-08-08 02:24] karellm commented on #149
Closing for lack of activity. Please reopen if it happens again in `3.x`

[2020-08-08 02:24] #149 closed

[2020-08-08 02:30] karellm commented on #209
Closing for lack of activity and I couldn't reproduce.

[2020-08-08 02:30] #209 closed

[2020-08-08 02:33] karellm commented on #159
I realize I never answered. This seems to me as a very far fetch use case and I'm not really sure I fully understand the point. I will close this for now and if you happen to still need it, feel free to reopen and argue for it.

[2020-08-08 02:33] #159 closed

[2020-08-08 02:36] karellm commented on #199
@vincaslt Do you think you could have a look?

[2020-08-08 02:43] karellm commented on #133
Can you please report if this still happens with the latest `3.x` version?

[2020-08-08 02:43] #133 closed

[2020-08-08 02:45] karellm commented on #145
I'm closing this for now. Can you report if this still happens in `3.x` versions and if so feel free to reopen this.

[2020-08-09 15:24] Yuripetusko commented on #231
I'm not that familiar with the code yet to know what to change exactly to fix this. 🤔  If I find a time to look into it then I'll submit a PR in next week or so

[2020-08-17 13:41] #231 closed

[2020-08-17 13:45] karellm commented on #231
This is deployed as `3.1.0`.

[2020-08-17 13:46] karellm commented on #206
This should be fixed in `3.1.0`.

[2020-08-17 13:46] #206 closed

[2020-08-18 21:41] Yuripetusko commented on #212
Bumping this. Running parser creates same value for singular and plural version without respecting `defaultValue_plural`. And if we then run locize sync - we will overwrite locize value with singular form

[2020-08-21 21:35] jordangarcia opened #241 "Parser doesn't recognize plural when using t(key, defaultValue, options)"
## 🐛 Bug Report

Only plural keys are extracted when the t function uses the method overload of two arguments `t(key, options)` and not when using `t(key, defaultValue, options)`

## To Reproduce

[code]

Does not produce the translation key of `all-products_plural`

However doing the following does:

[code]

## Expected behavior

Expected that both examples would produce the proper plural keys.

[2020-08-21 21:37] jordangarcia opened #242 "Using customValueTemplate has incorrect namespaceSeparator in ${K"
🐛 Bug Report

When using the following configuration:

[code]

The key is output as `ns.keypart1.keypart2` instead of `ns:keypart1.keypart2`

I believe the issue lies here: https://github.com/i18next/i18next-parser/blob/master/src/transform.js#L113

[2020-08-22 19:03] #241 closed, assigned to nobody

[2020-08-22 19:32] #242 closed, assigned to nobody

[2020-10-12 06:35] ngdangtu-vn opened #246 "Export as 1 file"
## 🚀 Feature Proposal

I would like to export the translation as 1 language file with all the namespace in it.

## Motivation

Not every project are big enough to necessarily make multiple files per a language.

## Example

I think if the output only have one `$LOCALE`, the parser should export 1 file contains all the namespace and translation in it. If it have `$LOCALE` and `$NAMESPACE`, the pars

[2020-10-13 02:27] karellm commented on #246
What is the issue with having multiple files? My assumption is that if the project is so small then it probably isn't changing much either.

[2020-10-13 06:36] ngdangtu-vn commented on #246
Some translation tools doesn't support multiple files :D

[2020-10-13 18:33] karellm commented on #246
I'm not a fan of obscure configurations that trigger a behaviour like you suggested. That said you are welcome to open a PR with a configuration option name 'concatenateNamespaces` or something like that.

[2020-10-13 19:30] ngdangtu-vn commented on #246
I'm busy currently, but I would love to learn the source code and contribute it. (Kinda busy in this month, maybe next month? Does it sound good? 😁)

[2020-10-16 10:16] mmelyp opened #247 "unable to parse keys using i18next pipe"
translation keys in Typescript/javascripts as well as html attributes with data-i18n attribute, are well parsed. The problem is when using a key and a pipe in a html. example:

`<ion-list-header>{{ 'test' | i18next }} </ion-list-header>
`

or even with:

`<p>{{ 'test' | i18next }}</p>
`

the key is not being parsed into the $NAMESPACE.json.

[2020-10-18 00:41] karellm commented on #247
I'm not aware of this syntax. You are welcome to open a PR with a fix!

[2020-11-10 15:49] Ichag opened #248 "Parser overwrites existing translations"
- Is this a bug or a feature request?
Bug
- What version are you running (`0.x` or `1.x`)?
3.3.0
- Which runner (cli, gulp...)?
gulp 4
## What I'm trying to do?

I'm having existing translation and template files.
If a key gets added to the template I want to extract it and add it to the existing translation file.

Instead of just adding the new key to the existing file it adds the new key, but al

[2020-11-11 03:23] karellm commented on #248
Can you make a reproduceable repo?

[2020-11-11 08:39] Ichag commented on #248
The project is here:
https://github.com/Ichag/parser-demo

The gulp job starts at line 66:

[2020-11-11 08:48] Ichag commented on #248
If I change the output path
`output: `locales/$LOCALE/$NAMESPACE.json`,`
to something like
`output: `${dirs.locales}/$LOCALE/$NAMESPACE.json`,`
It produces new files under
`src/resources/locale/src/resources/de/translations.json`
Those files contain all translations as expected, but the files are new and not edit the existing ones inline.

[2020-11-11 15:31] khodich-dmitriy commented on #193
Its helped to me. Just add the empty space before i18next-parser.config
<img width="525" alt="Screenshot 2020-11-11 at 18 30 10" src="https://user-images.githubusercontent.com/18570283/98830861-efd82880-244b-11eb-8aac-f49ba00cc11b.png">

[2020-11-11 15:33] khodich-dmitriy commented on #119
@tquiroga Try this! Just add an empty space before i18next
<img width="525" alt="Screenshot 2020-11-11 at 18 32 50" src="https://user-images.githubusercontent.com/18570283/98831192-4e9da200-244c-11eb-98b3-072f32d96e4f.png">

[2020-11-12 03:31] karellm commented on #248
The `output` option is used to parse the existing catalog and doesn't replace the `dist()`. It seems to me that you should update the path to `${dirs.resources}/$LOCALE/$NAMESPACE.json`. Can you try that and report back?

[2020-11-12 12:16] Ichag commented on #248
With that it creates two new files (with empty values inside) instead of updating the existing ones
![image](https://user-images.githubusercontent.com/951372/98938492-42ffb900-24e8-11eb-9cb9-50782132fdea.png)

If I change the path to `${dirs.resources}/locales/$LOCALE/$NAMESPACE.json` it creates files unter `src/resources/src/resources/locales/$LOCALE/translation.json`. Those files include the mes

[2020-11-16 23:38] Caerbannog opened #249 "Trans defaults cause variable names to be treated as keys"
## 🐛 Bug Report

The Trans component can be used to interpolate a line with i18next-react templates ("...<1>..."), but not to translate keys (what the `t()` function does). Although I am aware that the Trans component can also perform key translation, there are cases where this is not desired.

In this case, parsing mistakenly extracts a key when nothing should be extracted.
This is a regression t

[2020-11-17 00:04] karellm commented on #249
@vincaslt Can you have a look?

[2020-11-17 00:08] karellm commented on #248
I can't figure it out. It might be a bug. You are welcome to open a PR to fix it. I don't currently have the bandwidth to code on this.

[2020-11-17 08:22] vincaslt commented on #249
I can take a look sometime this week. It would really help to have a PR with a failing test case.

[2020-11-17 09:36] Caerbannog commented on #249
Here you go: https://github.com/i18next/i18next-parser/commit/18fa6457605555512af9082405d65fa684e0be8f

[2020-11-24 05:48] velosipedist opened #250 "Warn about any missing / empty translations"
## 🚀 Feature Proposal

Add an execution flag to report any missing / empty translations. Like this:

[code]

## Motivation

Should be useful for CI needs, to prevent untranslated builds.

## Example

1. I got some new keys translated to Hindi, but forgot to add them also to Suahili strings
2. I open a PR, build starts
3. I see warnings about missing Suahili locale keys
4. I finish all the unfinish

[2020-11-24 13:13] karellm commented on #250
It sounds like a good idea to me. You are welcome to open a PR and I will review it.

[2020-12-07 18:16] karellm commented on #227
This should be fixed as part of `3.4.0`. Thanks @jamesots for the fix.

[2020-12-07 18:16] #227 closed

[2020-12-08 15:45] alk-mandrianarijaona commented on #199
I also have the same issue on code where there is a spread operator. Have you found a solution for this?

[2020-12-08 15:53] latuszek commented on #199
Only a workaround of not using a spread operator.

[2020-12-10 13:55] kaaboaye opened #252 "Crash when directory name matches file pattern with no explanation"
## 🐛 Bug Report

If any of directories in project matches file pattern it crashes without any explanation. Only after running with the debugger I was able to determine which directory was causing problem.

[code]

## To Reproduce

1. Create project with dir `Foo.ts`
2. Run `i18next 'src/**/*.{ts,tsx}'`

## Expected behavior

Crash with meaningful message pointing to that directory or ignore direct

[2020-12-11 04:21] #252 closed

[2020-12-11 04:22] karellm commented on #252
Thanks, it should be fixed in `3.5.0`

[2020-12-16 05:07] KaboomFox commented on #249
any progress on this?

[2020-12-17 16:33] vincaslt commented on #249
No progress, haven't had time to get down to this.
I don't exactly understand why it shouldn't generate a default value. Is it documented somewhere? It does indeed seem incorrect to generate `{ line: 'line' }` but if key is missing and default is provided - it generates key from the default value I think.

[2020-12-22 23:02] kernelogic opened #255 "Is there some kind of a cache going on?"
Hello, I tried to run the cli. The first time I generated a json file with content, but later on when I delete the json and re-run the cli again the json is empty. Is it caching what have been parsed somewhere?

[2020-12-22 23:57] karellm commented on #255
No there isn't any cache, just an "old" catalog that store previously used keys. Check out the `createOldCatalogs` option.

As to your issue, I couldn't reproduce, please provide with a test project or more detailed walkthrough.

[2020-12-23 01:23] #255 closed

[2020-12-23 22:12] kernelogic opened #256 "Why does the parser auto remove the ending period?"
Hello, I am using English text as key, for example I have this

i18next.t('You have not saved your changes yet.')

But after the parsing, it becomes

{
  "You have not saved your changes yet": ""
}

The ending period dot is missing.

[2020-12-24 00:43] kernelogic commented on #256
Caused by keySeparator, not a bug.

[2020-12-24 00:43] #256 closed

[2021-01-15 01:03] joshmeads opened #258 "Empty Locale Extraction"
I've searched the docs + issues and haven't found how to handle this. Currently, my extracted value is applied to every locale.

## 🚀 Feature Proposal

Add a `sourceLocale` configuration option (string).
Extract keys for all locales in the config array and set the value to `defaultValue` - with the exception of the `sourceLocale`.

## Motivation

I've just switched from Lingui which did this and f

[2021-01-15 02:30] karellm commented on #258
I'm not sure I understand the benefit of having the other locales blank. The idea is actually to provide context for translator as to what the content is.

[2021-01-21 18:25] MaffooBristol commented on #213
This seems like a cool idea but the documentation doesn't really explain much. How is the class meant to be formed? Does it need to be a class or a pure function? What is the input and output? etc etc

[2021-01-22 01:43] karellm commented on #213
Check the existing ones: https://github.com/i18next/i18next-parser/tree/master/src/lexers

I don't plan on writing documentation for the internals of the project but you are welcome to do open a PR!

[2021-01-22 16:37] JohnXLivingston opened #259 "Keep comments in generated yaml files."
## 🚀 Feature Proposal

When the output format is yaml, comments should be keeped (and copied from main langage to others).

## Motivation

Adding comments in the main file can help translators.

[2021-01-22 19:25] karellm commented on #259
You are welcome to open a PR.

[2021-02-10 07:49] Zieu opened #260 "All files are read but some of them ignored and translations inside them not getting parsed in Nextjs."
* Is this a bug or a feature request?
Bug

* What version are you running (0.x or 1.x)?
3.6.0

* Which runner (cli, gulp...)?
cli

## What I'm trying to do?

get all translations parsed

## How am I doing it?

Here is my config file:

[code]
Here is my npm script:
[code]

## What was the result?

After parsing, log said all files were parsed, however, some translations were missing. I noticed that

[2021-02-10 12:55] karellm commented on #260
Can you make a repo where we can reproduce? It's quite impossible with the information you provided to figure out what is going on.

[2021-02-19 09:52] Abror1997 commented on #260
setting "sort: true" in config file solves the problem for me @Zieu

[2021-02-19 13:23] Zieu commented on #260
It helped! Thank you.

[2021-02-19 13:23] #260 closed

[2021-02-19 13:27] karellm commented on #260
Well I would still appreciate a reproduceable repo  s it doesn't seem to be normal.

[2021-02-19 14:03] Zieu commented on #260
I couldn't reproduce the bug in another repo. Can't show the repo where the bug occurred.

[2021-02-26 00:30] gustawdaniel opened #262 "Please add this.$t in vue, now only this.$i18n.t is supported"
In vue files in script section there are great support for function

[code]

but function

[code]

is skipped.

[2021-02-26 01:24] gustawdaniel commented on #262
In template props of input:

[code]

+ `select.placeholder` - detected correctly
+ `select.category` - skipped

[2021-02-26 08:31] karellm commented on #262
What do you mean by "in script section"? If you want to add a function to parse, you should be able to configure the lexer:

[code]

For 1., you are welcome to open a PR to fix it.

For 2. this project is a stupid parser, not an interpreter. You must tell it which files to parse and I'm not keen to add any kind of magic such as following imports in the code.

[2021-03-01 21:48] jotoeri opened #263 "Allow to disable (warning on) single line"
## 🚀 Feature Proposal

It would be nice, if one could disable a single line from beeing parsed. I could quite well imagine to have special comments for this like e.g. eslint does: `/* i18next-parser-disable-next-line */` or `// i18next-parser-disable-line`

## Motivation
Having custom methods, that put text (i.e. keys) into an array (must be parsed), while some text must be put into the same array

[2021-03-02 01:57] karellm commented on #263
I'm fine with the proposal and I will happily review a PR!

[2021-03-03 13:00] tkrotoff opened #264 "Trans should not generate <1></1> for <br /> and <p>"
## To Reproduce

[code]

[code]

i18next-parser generates:

[code]

i18next in debug mode reports:
[code]

## Expected behavior

i18next-parser should generate instead:

[code]

## More

`<p>` does not work too: i18next-parser should generate `hello<p>world</p>` instead of `hello<1>world</1>`.

Funny: `<small>` generates `hello<1>world</1>` and it works with i18next!!

There is definitely somethin

[2021-03-03 20:16] karellm commented on #264
It might be related to https://github.com/i18next/i18next-parser/pull/254

I'm not using react and I'm mostly maintaining this project because many rely on it. If you want to submit a PR, I will review and merge it!

[2021-03-04 07:58] sztahanova commented on #201
Why is this issue closed? Is it fixed? Does it have a workaround? I am running into the same issue and couldn't find any solution...

[2021-03-04 08:16] Vovan-VE commented on #201
Was fixed and closed by #203.

[2021-03-11 21:43] #258 closed

[2021-03-22 08:38] Ichag commented on #248
Hi, just wanted to let you know that I found an issue in my path configuration.
Using the correct path configuration resolves all translation files correctly and keys are getting added instead of overwritten:
https://github.com/Ichag/parser-demo/commit/d52fe9a540ed580e3e93b39942f1ac987bb48b8f

This ticket can be closed, it is **not** an issue of i19n-parser but in my configuration.

[2021-03-22 08:38] #248 closed

[2021-03-25 07:35] SanjanaTailor opened #266 "resources and loadPath not reading key to extract"
Hello,
I am trying to extract keys from json and app.tsx file
gulpfile.js is as below:
`const gulp = require('gulp');
const i18nextParser = require('i18next-parser').gulp;

gulp.task('i18next', async function () {
  gulp
    .src('../../App.tsx')
    .pipe(
      new i18nextParser({
        locales: ['en','hi'],
        output: 'i18next/translations.json',
        quiet: true,
        lngs: ['en']

[2021-03-25 23:41] karellm commented on #266
You don't need `input` since you have `.src()`. Make a glob that parses both files.

[2021-03-26 06:41] SanjanaTailor commented on #266
hello @karellm,

below is my gulp file and trying to extract keys from App.tsx and common.json

[code]
{
  "ok": "OK",
  "cancel": "Cancel",
  "userBill":
    "Hey {{ user.username }}, your account has been generated Rs {{ userBill.total }} to pay",
}

![1](https://user-images.githubusercontent.com/4736998/112592612-41e27f00-8e2c-11eb-9962-77e8aaddacb9.PNG)
structure and App.tsx is extracting keys

[2021-03-26 12:24] karellm commented on #266
I believe your are misunderstanding the `input` and `output` options. `input` is the same as `gulp.src` and exists for people running the parser from the command line with a config file. In your case, you don't need it.

Since you want to use the existing translations in `common.json`, you need to point this file as the output. Otherwise the parser has no way to even know this file exists. Another

[2021-03-26 14:29] jgoux opened #267 "Default value as the single source of truth (overwrite existing values in the json file)"
Hello,

## 🚀 Feature Proposal

I'd like to have an option to make the default values defined in the `t` function to overwrite existing value in the produced json file.

## Motivation

Right now the parser is detecting new keys and their default values used across the codebase and add them to the json file. But if we change the default value of a key in the codebase, the change isn't reflected in t

[2021-03-27 21:45] karellm commented on #267
The parser doesn't currently keep a record of the defaultValues so it has no way to know if it has changed.

Such an option would only allow all translations to be replaced by the default values. And I'm not really see value in that, even though I'm not opposed to it.

If you are willing to implement a proper solution that tracks defaultValues and a `resetDefaultValueOnChange` option, I will happi

[2021-03-27 21:57] jgoux commented on #267
I didn't have tracking default values in mind, but something like :
- Read the existing json
- For each "t" function detected, if the key already exists in the json and there is a default value defined in "t", replace the key's value in the json.

I guess most of this workflow is already implemented so you can add new keys to the existing json?

[2021-03-27 22:25] karellm commented on #267
I understood your proposal but I'm not keen to add it. It would overwrite all translations with the default value, even the ones that are still good. How is that a good thing?

[2021-03-28 03:11] jgoux commented on #267
I'm not sure I understand this :

What do you mean by still good? Maybe our usage of this library is not regular but as we use our default values as the single source of truth to generate a default en.json file, with the change I'm suggesting nothing would be lost.

The keys that already exists but which values weren't modified won't be modified either in our en.json file. And the modified ones wi

[2021-03-28 21:31] karellm commented on #267
I'm not used to rely on the default value to populate my translation files but it now makes sense to me. If you want to make a PR, I will happily review it.

[2021-03-30 15:43] jgoux opened #268 "i18n.t function calls aren't detected when used in a ternary operator"
Hello,

## 🐛 Bug Report

When using the i18n.t in a ternary operators, the keys and associated values aren't picked up by i18next-parser :
![image](https://user-images.githubusercontent.com/1443499/113022453-eb0adb80-9184-11eb-8302-d23e399b4864.png)

I tried the [callPattern regex](https://github.com/i18next/i18next-parser/blob/0414ad488ad6abcb2a06e4315b4aa2636a8e99d1/src/lexers/javascript-lexer.j

[2021-03-31 07:49] jgoux commented on #268
Nevermind I had a string value defined as the root of the parent object. 🤦

Sorry for the false alarm!

[2021-03-31 07:49] #268 closed

[2021-04-15 07:31] Mottoweb opened #271 "Keys from deeply nested files are not present after parse."
## 🐛 Bug Report

Parsing using CLI skips keys when folder nesting is deep.

## To Reproduce

Running CLI command like `i18next 'src/scenes/ServiceDashboard/**/*.{js,ts,jsx,tsx}'` where `ServiceDashboard` is a folder with lots of other folders.
I have a file there `containers/Dashboard/index.js` with the keys that I find missing after the parse.
In the CLI output, I can see the file as being read.

[2021-04-15 12:47] Mottoweb commented on #271
Ok i have a little update here which did not make any sense to me, maybe someone could help.

When using `src/**/*.js` or `src/**/*.{js,ts}` glob i get the keys that i expect, when using `src/**` or `src/**/*.{js,ts,jsx}` i dont get certain keys parsed, which are in js file. The folder does not contain any other file extension apart from `js`.

[2021-04-16 03:24] geohuz opened #273 "TypeError: Cannot set property bold of [object String] which has only a getter"
## 🐛 Bug Report

A clear and concise description of what the bug is.

I'm getting the following error when running the i18next,

[code]

## To Reproduce

A [codesandbox](https://codesandbox.io/examples/package/i18next) example or similar
or at least steps to reproduce the behavior:

[code]

and here is my translate.json file:

[code]

## Expected behavior

I don't know where is the problem.

A cle

[2021-04-16 07:15] Mottoweb commented on #271
With a verbose options set to true i can see that the correct file is being parsed: `Parsing /Users/fedorbuturlin/dev/audienzz/js/apps/console/src/scenes/ServiceDashboard/containers/Dashboard/index.js`

Result:
[code]

But the translation file itself contains only `438` keys. Any help on this please?

[2021-04-16 09:50] Mottoweb commented on #271
#260

[2021-04-16 09:50] #271 closed

[2021-04-16 10:28] karellm commented on #271
@Mottoweb I've tried to reproduce this issue without success. If you can make a repo it would be helpful.

[2021-04-16 10:31] karellm commented on #273
Nothing in the code calls `bold`. You need to provide actual reproduceable steps if you want help.

[2021-04-16 12:24] Mottoweb commented on #271
@karellm ok I recreated a part of the repo here, I was also able to debug it a little further, it seems that it does not work as expected when I provide it with absolute paths, i.e. /users/etc

here is the repo: https://github.com/Mottoweb/i18next-parser-issue-replica

steps to reproduce:

1. Run `node nameSpaceTool.js` which will run the gulp pipe with the correct absolute path (note you can run

[2021-04-18 10:11] karellm commented on #271
@Mottoweb Thanks but it looks like the repo might be private.

[2021-04-18 19:39] Mottoweb commented on #271
@karellm oops, just made it public

[2021-04-24 09:19] smacintyre opened #295 "New v3.8.0 always fails to run"
## 🐛 Bug Report

`i18next-parser` fails to run after upgrading from 3.7.0 to 3.8.0. Downgrading resolves the issue.

Appears to be the `i18next` command ignoring the config. Though if I explicitly give the config file with the `-c` option, it produces the same error.

## To Reproduce

[code]

My `i18next-parser.config.js`:

[code]

## Expected behaviour

Generate the string files like v3.7.0 did

[2021-04-24 13:39] #295 closed

[2021-04-24 13:41] karellm commented on #295
This is fixed in `3.8.1`

[2021-04-26 05:58] arvinsim commented on #295
Is this in the npm repo already? Can't install using `yarn`.

[2021-04-26 11:17] e11en commented on #295
@karellm @MaxLarue  version `3.8.1` is not yet available for install:
[code]

[code]

[2021-04-26 13:06] karellm commented on #295
Oups, I forgot to press enter. It is now published.

[2021-04-29 12:16] queicherius opened #299 "Conditional `useKeysAsDefaultValue`"
## 🚀 Feature Proposal

I would like to enable `useKeysAsDefaultValue` conditionally based on the generated locale.

## Motivation

I use natural keys, so for the source language (English, in my case), I would like to generate files where the key is set to the default value. However, for all other languages, I would like to generate empty values so it's clear which parts still have to be translated

[2021-04-29 12:31] queicherius opened #300 "Configurable `pluralSeparator`"
## 🚀 Feature Proposal

I would like to be able to configure the plural separator, just like the key, namespace, and context separator.

## Motivation

I use a different plural separator than `_` to prevent potential conflicts with the keys, since I use natural keys that might include that in the text.

## Example

[code]

[2021-04-29 13:23] karellm commented on #300
You are welcome to make a PR, I'll review and merge it.

[2021-04-29 22:54] #299 closed

[2021-04-29 23:23] #300 closed

[2021-04-30 08:03] tschanz-pcv opened #305 "Doesn't support array of strings passed to t function"
## 🐛 Bug Report

In a `.tsx` file I have the following: `t(['flavor:welcome', 'welcome'])`
The array syntax can be found in the official docs, even with an example: https://www.i18next.com/overview/api#t

This syntax produces a warning `Key is not a string literal` and is ignored. The workaround with the comments is quite tedious and prone to be forgotten.

## To Reproduce

[code]

## Expected beh

[2021-04-30 12:06] karellm commented on #305
Indeed, feel free to submit a PR!

[2021-05-03 06:00] cdaycmc opened #306 "Period at end of Trans tag is missing, causing i18next not to translate"
## 🐛 Bug Report

(was reported at https://github.com/i18next/react-i18next/issues/1312)

Period at end of Trans tag is missing after auto-extraction, causing i18next not to translate.

eg. `<Trans>Here is some text to translate.</Tran>`
will auto-extract to the json as
[code]

## To Reproduce

[translate.zip](https://github.com/i18next/i18next-parser/files/6413021/translate.zip)

[code]

Command t

[2021-05-03 13:11] karellm commented on #306
Have you tried setting `keySeparator: false`? Here is from the README:

[2021-05-03 23:51] cdaycmc commented on #306
That worked.  Having a bad day not reading :(

[2021-05-03 23:51] #306 closed

[2021-05-13 09:14] yleclanche commented on #273
I had the same issue.
I was translating a key called ```{t("cost:")}```
It interprets the `:` as a new module so it was generating an empty file called cost.json.
When executing the command a second time, I had this error.

Maybe it would be better to have a warning or something in this case ?

[2021-05-17 04:52] #273 closed

[2021-05-24 21:09] Antonhansel commented on #199
I'm having the same issue, with a spread operator as well.
I'm curious as of why this happens, any idea what causes this issue ?

[2021-05-25 01:42] #199 closed

[2021-05-25 01:44] karellm commented on #199
I found some time to investigate and fix this. Starting with `4.1.0` the spread operator is supported but emits a warning.

[2021-05-30 13:41] ajsaraujo opened #333 "Found same keys with different values"
What does that warning mean? "Found same keys with different values"

When I got the warning, I expected it to be about  key having more than one occurrence in a translation file, but it didn't.

Can someone clarify this for me?

[This](https://github.com/ajsaraujo/Rocket.Chat/tree/chore/i18next-parser) is the project I ran the parser on.

[2021-05-30 14:51] ajsaraujo opened #334 "TAPi18n calls not being caught by parser"
## 🐛 Bug Report

I'm trying to use i18next-parser to get all translation keys being used in [this project](https://github.com/ajsaraujo/Rocket.Chat/tree/chore/i18next-parser). However, some of the `TAPi18n.__` calls are not being caught. The ones in [this file](https://github.com/ajsaraujo/Rocket.Chat/blob/chore/i18next-parser/app/user-data-download/server/exportDownload.js#L24), for example. Foll

[2021-05-30 16:14] karellm commented on #333
I've added some documentation about the warning in the readme: https://github.com/i18next/i18next-parser#events

The warning should be of the form `Found same keys with different values: THEKEY`. If you look in your code for `THEKEY`, you can make sure they all have the same value.

[2021-05-30 16:14] #333 closed

[2021-05-30 16:17] karellm commented on #334
Have you tried this:

[code]

[2021-05-31 22:40] ajsaraujo commented on #334
Just did. Unfortunately, I got the same results 😢
Do you have any other ideas on what might be going on?

[2021-06-01 00:30] karellm commented on #334
Not really. Do you feel you can open a PR with a failing test case?

[2021-06-01 00:52] ajsaraujo commented on #334
Of course. But I don't quite get it - what would I put in the PR? I mean, what I have right now is a repository I'm trying to parse, I didn't make any changes to `i18next-parser` itself.

[2021-06-02 20:30] worldlee78 commented on #267
I also use the defaultValue in this way. Perhaps I misunderstood what the default value was meant to do if this workflow isn't how you're using it?

[2021-06-02 23:13] karellm commented on #267
The feature make sense to me and would be a welcome addition. You are welcome to open a PR

[2021-06-03 13:20] karellm commented on #334
Well you write a new test that demonstrate the failure to parse. We can't rely on an external repository to know if it is fixed or not. You can also write here a sample file and configuration that fails. I just don't have much time to debug your repository.

[2021-06-05 15:21] karellm commented on #334
The `functions` option is a lexer configuration, not a global configuration. You can see an exemple in the README here: https://github.com/i18next/i18next-parser#javascript

[2021-06-05 15:21] #334 closed

[2021-06-11 10:18] fwielstra opened #343 "No matches found when running via yarn, fine via commandline"
## 🐛 Bug Report

I recently updated Yarn to a very recent version (3.0.0-rc.5), and it may have broken something but I can't figure it out on my own.

When I run `yarn i18next 'src/**/*.{ts,tsx}' [-oc]`, everything works as before. However, I also have an "extract" task in my package.json's scripts, defined as follows:

`"extract": "i18next 'src/**/*.{ts,tsx}' [-oc]",`

When I run this, I get the

[2021-06-11 12:34] karellm commented on #343
My first guess would be to try this: `"extract": "i18next 'src/**/*.{ts,tsx}' -oc",`. Any reason you are putting the arguments between square brackets?

[2021-06-22 10:27] Elindorath opened #361 "Parser convert unicode escape sequences in JSON"
## 🐛 Bug Report

This is very similar to #227, but using json output:

<img width="1233" alt="Capture d’écran 2021-06-22 à 12 16 28" src="https://user-images.githubusercontent.com/6784793/122907604-9d50da00-d353-11eb-92a8-afb452ec9828.png">

The `\u00a0` sequences are converted in utf8 (I guess?) when writing back the files.

## To Reproduce

In order to reproduce, just add `\u00a0` to any of yo

[2021-07-01 08:23] tsuz opened #367 "Cannot read property 'text' of undefined in jsx-lexer"
## 🐛 Bug Report

Same behavior as https://github.com/i18next/i18next-parser/issues/199 where the spread operator generates an error using i18next CLI on `v4.1.1`

## To Reproduce

[code]

Once I remove the `{...props}`, then this error disappears.

## Expected behavior

There should be no error.

## Your Environment

- *runtime version*: i.e. node v12.21
- *i18next version*: i.e. 19.5.3
- *os*: Ma

[2021-07-08 11:40] olehkhalin opened #369 "Is there ability to generate i18next keys inside map function"
I have a map that take titles from an array of objects

## Content
[code]

## Component
[code]

## Expected behavior
Expecting get generated keys inside `locales` folder

## Your Environment

- *runtime version*: node v16
- *next version*: 11.0.1
- *i18next-parser version*:  4.2.0
- *os*: Mac

[2021-07-09 11:19] karellm commented on #369
This is a code parser, not a code interpreter. There is no way we can do what you want as we never run the code and writing a tool that does what you want would be a tremendous amount of work (I don't know of any that does).

That being said, some lexers might support parsing comments. So you can do something like this:

[code]

I'm saying "might" because we change the code parser at some point an

[2021-07-15 10:18] PeterKottas opened #371 "Potential bug with glob handling"
## 🐛 Bug Report

I want to use the following glob which appears correct: https://www.digitalocean.com/community/tools/glob?comments=true&glob=%2F%2A%2A%2F%21%28%2A.d%29.%7Bts%2Ctsx%7D&matches=false&tests=%2F%2F%20This%20will%20match%20as%20it%20ends%20with%20%27.js%27&tests=%2Fhello%2Fworld.ts&tests=%2Fhello%2Fworld.tsx&tests=%2F%2F%20This%20won%27t%20match%21&tests=%2Fhello%2Fworld.d.ts&tests=%2F

[2021-07-15 11:55] karellm commented on #371
If I test your path in the tool you shared, it does not seem valid:
![Screen Shot 2021-07-15 at 7 54 54 AM](https://user-images.githubusercontent.com/119841/125783965-543eff44-4861-4f50-a215-4168fc5a3e37.png)

[2021-07-15 14:15] PeterKottas commented on #371
You are putting the glob in the place where you should put the test strings. Find the updated version of the tester here: https://www.digitalocean.com/community/tools/glob?comments=true&glob=.%2FpathToFiles%2F%2A%2A%2F%21%28%2A.d%29.%7Bts%2Ctsx%7D&matches=false&tests=%2F%2F%20This%20will%20match%20as%20it%20ends%20with%20%27.js%27&tests=.%2FpathToFiles%2Fworld.ts&tests=.%2FpathToFiles%2Fworld.tsx&

[2021-07-15 16:54] karellm commented on #371
My bad! Do other glob work? Are you sure it is related to this?

[2021-07-15 16:58] PeterKottas commented on #371
No worries, I've been using
[code]
with no problems for a while. But we added a lot of d.ts files that should be filtered out to speed things up. That's when the issue appeared.

[2021-07-16 08:31] Peeeep commented on #267
I’m facing a similar issue here, maybe this will help someone: I call `rm locales/dev/translation.json && yarn i18next` with `dev` being my “Developer English” language. This way, my single source of truth – the default value – is available as a json to translators (including English language natives who do the “translations” for `en`) and is always kept up to date. Does this make any sense to you

[2021-07-16 08:53] imike57 opened #372 "Handlebars lexer escapeValue defaultValue with HTML content"
## 🐛 Bug Report

I parsed my .hbs files and use defaultValue. In one, I need to add a link with text as defaultValue. For example :

`{{__ "animations:lead" interpolate='{\"escapeValue\":false}' defaultValue='Lorem ipsum <a target="_blank" href="https://github.com/i18next/i18next-parser">https://github.com/i18next/i18next-parser</a>' }}
`

The HTML content in defaultValue is not parsed, the value

[2021-07-16 08:55] jamuhl commented on #267
Just a little sidenote: Personally I use defaultValues -> but only during development as soon those default values are in my translation workflow I remove those to avoid bloated bundle sizes

[2021-07-24 16:20] kosciolek opened #376 "React - handle `t` when used as a tagged template"
## 🚀 Feature Proposal

For React, support extraction when `t` is used as a tagged template (outside of being used as a normal function).

## Motivation

`t`, when used as a tagged template, offers a more concise syntax.

## Example

[code]

[2021-07-25 00:23] karellm commented on #376
You are welcome to open a PR with this feature!

[2021-07-27 12:30] #376 closed

[2021-08-02 14:22] Balfear opened #387 "Allow umlauts in keys and values when exporting to json"
## 🚀 Feature Proposal

I would like to be able to use special characters like German umlauts (ü, ä, ö, etc.) in my translation keys and values, either by default or via an optional config option.

## Motivation

Often when working on an application with translations, we want to just use the default plain text as the key. This is already supported by this library, but only when the default language

[2021-08-03 12:12] karellm commented on #387
This is a mistake on my part, please follow #362. I will fix asap but in the meantime, stay on `4.2.0`. Not much as changed anyway.

[2021-08-03 12:12] #387 closed

[2021-08-07 01:14] karellm commented on #372
@imike57 The issue is not related to interpolation. You have an html tag in the default value and that's why it is not properly parsed. I have not time to investigate this but you are welcome to open a PR. The Handlebar lexer should probably be rewritten not to use regexes as this is not a simple fix.

For future reference, here is a failing test case:

[code]

[2021-08-19 08:12] fwielstra commented on #343
Sorry for not following up, my notifications and brain are all over the place.

I included the square brackets because they're in the documentation at https://github.com/i18next/i18next-parser#cli, and they seem to work via the CLI so I made Assumptions that they were required even though I probably should have known better; are the square brackets there to indicate they are optional arguments?

R

[2021-08-19 08:12] #343 closed

[2021-08-19 11:18] karellm commented on #343
I don't know if it is an official notation but it's common that square brackets are used to show the full list of possible arguments. I can see how it might be confusing though.

[2021-08-26 15:41] Elindorath opened #400 "Unexpected sort behavior between JSON keys at the same level"
## 🐛 Bug Report

Sorting is done on the full JSON path rather than directly on the keys of JSON objects. For example, the sort will compare "header.title" against "header_confirmation.title" (and other combinations) resulting on putting the `header` object after the `header_confirmation` one.

## To Reproduce

Given a code using 4 keys as:
[code]

The produced catalog is:
[code]

## Expected behav

[2021-09-03 05:09] igorsantos07 commented on #264
Yep, that seems to still be a bug under i18next-parser 4.3.0. It seems even a tad worse, since it seems to lose track of the element indexes?

[code]

[2021-09-03 08:02] jdeniau commented on #250
For a quick local test, I used https://github.com/andreyvit/json-diff that did the job for me:

[code]

[2021-09-04 01:34] karellm commented on #264
@igorsantos07 Yes ideally it should follow the settings from `i18next`.

For your other question: I'm not affiliated to `i18next` and this project is under their organization only to make it easier for people to find. That said, they were kind enough to offer a small monthly contribution. On a personal note, I don't even use this project anymore but I only maintain this project because it is used

[2021-09-04 12:28] igorsantos07 commented on #264
Right, it makes sense if the sponsorship still happens, even if symbolic
for your past work.

I'm totally in for OS contributions, but it's complicated to contribute
forever during work time when you end up finding and reporting more bugs
than actually using a "battle tested and 10yo library". So, yeah, I'm
leaving criticism around when it's mentioned "there's no time or money to
fix bugs" as a re

[2021-09-04 13:41] jamuhl commented on #264
@igorsantos07 I'm not sure what you like to achieve? On one hand, you are crying around open source is broken by not having enough maintained modules. On the other hand, you're pointing around our organisation does no free support or not enough. @adrai and I do quite a lot to keep i18next and react-i18next running and in a way, it will run in the next years coming too.

i18next is feature stable (

[2021-09-11 16:36] karellm commented on #361
Fixed in `4.5.0`

[2021-09-11 16:36] #361 closed

[2021-09-14 21:20] karellm commented on #305
Fixed from `4.6.0`

[2021-09-14 21:20] #305 closed

[2021-09-15 01:09] tommoor opened #417 "Running i18next with `--silent` flag still produces output"
## 🐛 Bug Report

`i18next --silent` should produce no output, but it still outputs summary information.

### To Reproduce
![image](https://user-images.githubusercontent.com/380914/133353943-c67f3d29-eee4-4bfe-8e63-657fc5645c0a.png)

### Expected behavior

No console output

## Your Environment

- *runtime version*: 16.1.0
- *i18next version*: 20.6.1
- *os*: Mac

[2021-09-15 11:58] karellm commented on #417
@tommoor You're right that from the README and name of the option, that's the behaviour I would expect. Could you make a PR? If not I should be able to get to it in couple days.

[2021-09-16 21:47] mariyan-borisov opened #419 "[TypeScript lexer] Template literals cannot be used as `defaultValue` as a second argument"
## 🐛 Bug Report

Since long strings have a high chance of containing both single and double quotes, I prefer to use template literals to avoid escaping the quotes as follows:
[code]
This seems to work perfectly fine.
Today I found out that there's a shorter way to provide a `defaultValue`:
[code]
This one doesn't work and results in the following:
[code]
Using a string literal instead of a templat

[2021-09-16 23:06] karellm commented on #419
@mariyan-borisov You are making a valid point but this is not a bug but a feature. Template literal could contain variables that cannot be compiled. That said, I understand your use case and if you want to open a PR that exclude only template literal that actually contain a variable, you are welcome to do so!

[2021-09-16 23:20] #417 closed

[2021-09-16 23:20] karellm commented on #417
This is fixed in `4.7.0`

[2021-09-17 10:26] karellm commented on #419
Thanks for the PR. This is deployed as `4.8.0`

[2021-09-17 10:26] #419 closed

[2021-09-23 21:50] mattrigg9 commented on #246
You can do this now with the following sample config:

[code]

[2021-09-24 17:16] kurt1288 opened #429 "Interpolated value not included in extracted key when using react-i18next `t()` hook from a tsx file"
## 🐛 Bug Report

Interpolated value not included in extracted key when using react-i18next `t()` hook from a tsx file.

## To Reproduce

i18next.parser.config.js:

    module.exports = {
        createOldCatalogs: true,
        indentation: 3,
        keySeparator: false,
        useKeysAsDefaultValue: true,
        lexers: {
           js: ["JsxLexer"],
           ts: ["JsxLexer"],
           jsx

[2021-09-24 20:21] amandapouget opened #430 "Feature Request: Ability to version translation files"
- Is this a bug or a feature request? Feature Request
- What version are you running (`0.x` or `1.x`)?  Latest
- Which runner (cli, gulp...)? Cli

## What I'm trying to do?

I'd like a way to add a version number to the file. The purpose is for coordination with human translators. It would be nice if this value were NOT erased as an "old, used string" when running the parser.

## How am I doing it

[2021-09-24 22:05] karellm commented on #430
@amandapouget Is there a reason you don't use Git?

[2021-09-24 22:54] amandapouget commented on #430
Version control only works for developers.

When you have to send translation files to a third party translation service, get them back and then commit them to a codebase, it helps from a logistics point of view to be able to talk to the translators with a way to label the files.

[2021-09-25 00:11] karellm commented on #430
If the translators are non technical, why not use a tool like this: https://locize.com/ ?

[2021-09-25 00:19] karellm commented on #429
Can you point to the documentation of this in i18next? I don't see how this is a bug, at best it might be a missing feature.

[2021-09-25 00:57] amandapouget commented on #430
It feels very constraining if the _only_ way to version a file atomically is to sign up for an ongoing, paid service.

[2021-09-25 00:59] amandapouget commented on #430
It wouldn't be technically very hard to simply skip a key. e.g. "skipKeys: [array]" and then where the overwrite code is... just skip those.

I would think there would be a lot more use cases than just the one I've identified. For example, if a person wanted to mark a particular translation file as having been through certain QA processes, approved by a particular person, etc.

This is the way mos

[2021-09-25 01:22] kurt1288 commented on #429
@karellm, sorry but I'm not sure what you mean. It's just the basic interpolation of i18next (https://www.i18next.com/translation-function/interpolation). I searched the issues here and found related, but older, issues regarding strings with interpolated values extraction (see https://github.com/i18next/i18next-parser/issues/88 and https://github.com/i18next/i18next-parser/issues/152).

Maybe my u

[2021-09-25 11:35] karellm commented on #429
How do you want this code parser to know where to put the variable? Imagine the following example:

[code]

I bet you wouldn't be expecting `is a beautiful name {name}` as a default value but `{name} is a beautiful name`. The parser is not smart enough to understand this kind of subtleties and never will.

Nothing in the documentation let me see that we need to generate a default value based on th

[2021-09-25 11:35] #429 closed

[2021-09-25 11:47] karellm commented on #430
I'm trying to think of a workaround, why don't you add `t('_metadata.key')` in your code? That way the key will not disappear.

I understand your request but I believe this requires a lot more planning than just adding a `_metadata` object to the catalog and I don't have the expertise to draft a proposal for proper versioning in big teams.

[2021-09-25 15:33] viktorstrate opened #431 "Ability to use `null` as default value"
## 🚀 Feature Proposal

Add an option to set the default value to `null` rather than an empty string (`""`).
I tried setting the `defaultValue` property to `null`, but then the key was simply ignored.

## Motivation

My setup interprets the empty string as a translation and thus shows no text on the UI for that key, but it uses a fallback if the key is `null`

## Example

Instead of outputting:

[c

[2021-09-25 21:32] karellm commented on #431
@viktorstrate I'm very reluctant to default to `null` instead of `""` in the catalog since it will make the job of filling the translations a lot more painful.

Is there a reason you don't change your setup to ignore empty strings?

[2021-09-25 21:45] viktorstrate commented on #431
@karellm that's a good point, I migrated from [babel-plugin-i18next-extract](https://github.com/gilbsgilbs/babel-plugin-i18next-extract) which used `null` as the default.
But I guess it's a little cleaner to use `""` especially for translators who aren't familiar with JSON.

I didn't mean this to be the default, but simply to have the option to use `null`.

[2021-09-25 21:54] karellm commented on #431
I'm very cautious when adding options as I don't want to overcomplicate things. This isn't solving an actual problem so I won't add this option. I invite you to change your implementation to ignore the empty strings.

[2021-09-25 21:54] #431 closed

[2021-09-26 08:40] viktorstrate commented on #431
I acknowledge that, I will update my project to use empty strings. 👍

[2021-09-27 15:33] trew commented on #169
May I suggest that the catalog is sorted at the end instead?

Something like this works fine:
https://github.com/trew/i18next-parser/commit/e8140a431ee66de86316242edc5ed8a6d3f866d3

It breaks the provided sort-function, but I don't think it was added to support sorting by value anyway.

[2021-09-27 23:35] karellm commented on #169
@trew Could you submit a PR? I will review it for sure in the upcoming days.

[2021-09-29 02:28] markdon opened #436 "Support fallback keys in t function"
## 🚀 Feature Proposal

Support parsing of t function with fallback keys array.

## Motivation

It adds support for a useful i18next feature.

## Example

i18next supports specifying multiple keys as fallbacks in the t function.
[code]
This doesn't result in two keys found by i18next-parser@2.1.2.

[2021-09-30 03:10] karellm commented on #436
@markdon If you are using `2.1.2`, I would suggest you upgrade to a newer version and I will not maintain the `2.x` branch. We are currently at `4.x` and about to launch `5.x`

[2021-09-30 04:50] markdon commented on #436
@karellm I'm definitely looking forward to updating major versions of dependencies for this project.

Are you saying 4+ supports this feature? 😁

[2021-10-01 07:45] beuluis commented on #367
same for me. I also identified the spread operator to be the problem

[2021-10-01 07:45] beuluis commented on #367
i am on version 4.7.0

[2021-10-01 14:33] aberonni opened #439 "Unnecessary empty lines when using plurals"
## 🐛 Bug Report

When using plurals, the parser outputs unnecessary extra empty lines. I think this is due to changes in [i18next v21.0.0](https://github.com/i18next/i18next/releases/tag/v21.0.0)

## To Reproduce

Example repo: https://github.com/aberonni/i18next-parser-plural-bug-example

After running `yarn i18n:extract` on the above repo, you will see the following on `git diff`:

[code]

## Ex

[2021-10-01 23:37] #169 closed

[2021-10-01 23:50] karellm commented on #400
This is now fixed in `5.0.0` thanks to @Elindorath 's great work. Please read the [Changelog](https://github.com/i18next/i18next-parser/blob/master/docs/migration.md) and [migration guide](https://github.com/i18next/i18next-parser/blob/master/docs/migration.md) before updating.

[2021-10-01 23:50] #400 closed

[2021-10-01 23:51] karellm commented on #169
This is now fixed in `5.0.0` thanks to @Elindorath 's great work. Please read the [Changelog](https://github.com/i18next/i18next-parser/blob/master/docs/migration.md) and [migration guide](https://github.com/i18next/i18next-parser/blob/master/docs/migration.md) before updating.

[2021-10-01 23:52] karellm commented on #439
Support for i18next 21 is now part of `5.0.0` thanks to @Elindorath 's great work. Please read the [Changelog](https://github.com/i18next/i18next-parser/blob/master/docs/migration.md) and [migration guide](https://github.com/i18next/i18next-parser/blob/master/docs/migration.md) before updating.

If you still have issues after that, feel free to reopen this issue.

[2021-10-01 23:52] #439 closed

[2021-10-04 08:00] aberonni commented on #439
That did indeed fix it. Thanks!

[2021-10-13 19:46] lars-mortenson commented on #267
Put up a potential fix, not sure if you get pinged so I'm commenting here @karellm.

[2021-10-15 03:49] Teajey opened #453 "Add option to ignore contexts"
## 🚀 Feature Proposal

Add an option e.g. `ignoreContext` that causes the parser to be agnostic about contexts; neither adding, nor removing them from the locale files.

## Motivation

I like the idea of using contexts differently in different locales. I can create a succinct translation in one locale, using contexts and nesting, and then use a completely different strategy in another locale. This

[2021-10-15 16:16] AzariasB opened #454 "Parse typescript generic type information when generating the key"
## 🚀 Feature Proposal

When, in a typescript file, the lexer encounters the following :
[code]

Currently, it generates the following :
[code]

The proposal is to improve the lexer, so that it would generate the key for both singular and plural (my.key_one, my.key_other) by parsing the information from the generic type. (By enabling an option or something like that)

## Motivation

To ensure that

[2021-10-16 12:01] karellm commented on #454
To make a short answer, it is difficult to know which plural form we should generate but it is feasible. The challenge is that it will change for every locale. If you are willing to add an option `generatePluralKeys` I believe it would be a welcome addition though. I would suggest you write a small proposal for what the option would do and then open a PR.

[2021-10-16 12:12] karellm commented on #453
I don't think this is possible atm. I've never got a situation in which the context had to be different per locale. @jamuhl Does it seem to you as a valid use of context or would you recommend a different strategy?

[2021-10-17 02:01] karellm commented on #453
@Teajey I'd be open for a PR but I'd like to explore options first. `ignoreContext` could be a boolean or an hash with locales, and an `other` key that cover all non-listed locales. Something like :

[code]

`ignoreContext: true` would be equivalent in your example to:

[code]

Would you see value in this?

[2021-10-17 04:19] Teajey commented on #453
I find that if I were to ignore context in one locale, I would want to ignore context in all locales. Especially if I have a context token in a parent key. What if I ignore context in EN, but not JA (or vice-versa)? I would still end up with undesired keys being inserted or removed from locales like so:

[code]

[2021-10-18 11:05] AzariasB commented on #454
After poking a bit, I realized that even adding this feature would not be enough for what I need.
So I'll just close this

[2021-10-18 11:05] #454 closed, assigned to nobody

[2021-10-22 09:06] kncs opened #460 "Missing 'many' suffix for language "fr""
## 🐛 Bug Report

The plural suffix 'many' is not generated for fr language. When I generate keys for fr language i only have 'one' and 'other' suffixes generated.

## To Reproduce

I have a react app create with CRA

Launch the command to extract keys
[code]

[code]

## Expected behavior

According to this link found into the i18next documentation I was expected the suffix  'many'  will be generat

[2021-10-29 10:02] Nemo64 opened #463 "Allow to disable pluralization"
## 🚀 Feature Proposal

I would like to be able to disable all pluralization features in the extractor.

## Motivation

I use the Intl (icu message format) implementation for placeholders, pluralization, numbers, dates etc.,
since that is a standard we can use everywhere consistently.

[2021-10-29 23:51] karellm commented on #460
@Elindorath Would you happen to know anything about this?

[2021-11-17 22:05] stophecom commented on #219
Any update on this? 😅

[2021-11-19 11:03] Elindorath commented on #460
Sure!
This behavior depends on the implementation of the Intl API.
As i mentionned [here](https://github.com/i18next/i18next-parser/pull/442#issuecomment-934227389), the `many` suffix for french was introduced in [CLDR v38](https://icu.unicode.org/download/68), included in the [node's ICU dependencies v68.2](https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V14.md?rgh-link-date=2

[2021-11-19 11:10] Elindorath commented on #463
I don't know if this answers your needs, but starting from v5.0, this extractor uses the native Intl API

[2021-11-19 11:35] karellm commented on #460
Thanks @Elindorath

@kncs I'm closing this as it doesn't seem linked to this project directly but to node itself.

[2021-11-19 11:35] #460 closed

[2021-11-19 15:46] Nemo64 commented on #463
I just noticed how unspecific I described my issue, sorry for that.

So the issue is that, when i have a translation key like: `t('ns:hello_world', {count: 1})`, it'll extract the keys like this:
[code]

But, since I use the ICU message format, what I actually want is this:
[code]

But the extractor will remove the 1:1 key every time and instead creates those 2 rule based keys.

And this is still

[2021-11-20 01:07] karellm commented on #463
I'll happily review a PR for this!

[2021-11-26 13:21] eszthoff commented on #206
I have the same issue using the latest version of the parser. It extracts the value of Trans components and adds it in every language. Is there some setting I can change to have the default value for those keys?

[2021-11-26 18:00] karellm commented on #206
@eszthoff You are welcome to open a PR with a failing test case.

[2021-11-29 12:04] eszthoff commented on #206
@karellm  There is a repo attached with it. If that format isn't useful, can you point me to some docs on how you would like the problem demonstrated?

[2021-11-30 11:53] karellm commented on #206
I just have very limited bandwidth at the moment. I don't have the time to parse the repo to find differences. If you open a PR with a fix, it's a lot easier for me to review and merge it.

[2021-11-30 12:03] eszthoff commented on #206
I'm sorry, but I'm not familiar with your code base at all, and have a full time job myself.
The problem that the original ticket describes is still there, I cannot see any changes in version 3 as mentioned above.

In brief, content of `<Trans>` component is extracted from the code using the dev language, and puts in it all other language files (in English in my case). I'd expect empty value as fo

[2021-12-01 06:20] incleaf opened #485 "Support keyPrefix option of useTranslation"
## 🚀 Feature Proposal

### Input

[code]

### Expected output

[code]

### Actual output

[code]

## Motivation

Currently [`keyPrefix` option](https://react.i18next.com/latest/usetranslation-hook#optional-keyprefix-option) is not supported

[2021-12-01 10:01] karellm commented on #485
You can make a PR and I will review it.

[2021-12-02 03:23] amandapouget opened #487 "keepRemoved: false does not remove unneeded plurals"
## 🐛 Bug Report

When the translation file contains plural forms not needed for a locale and keepRemoved: false is set, the parser fails to remove the unneeded plurals.

## To Reproduce

(I tried valiently to create a sandbox but unfortunately the link in this PR template leads to a very generic set of search results for "Example" sandboxes. I painstakingly put together a sandbox only to realize t

[2021-12-03 03:12] karellm commented on #487
@amandapouget The best is really to open a PR with a failing test case. A PR would be welcome to fix this.

[2021-12-09 16:14] AnotherHermit opened #489 "Fail on update does not work with multiple namespaces"
## 🐛 Bug Report

When using multiple namespaces along with the "--fail-on-update" flag the result is always flagged as updated.
The issue seems to be the `countWithPlurals` that is used to check how many keys were added to a specific namespace. Since the `countWithPlurals` is set for the whole locale, not the specific namespace, the `addCount` for the namespace is wrong.
This can also be seen when

[2021-12-10 22:56] jcksonhe opened #490 "T function calls with inline comments are not added to output"
- Is this a bug or a feature request?
Feature request
- What version are you running (`0.x` or `1.x`)?
5.3.0
- Which runner (cli, gulp...)?
CLI

## What I'm trying to do?

I want to add inline comments into T function calls. For example:
`t("key" /* some comment */, "my string", options)`

However, the parse fails to detect the T function call in this scenario. I was expecting to get `key: "my str

[2021-12-10 23:07] amandapouget opened #491 "useKeysAsDefaultValue broken for Trans component"
## 🐛 Bug Report

When using Trans, default value is populated rather than left as empty string.
useDefaultValueAsKeys should result in empty string.

## To Reproduce

A [codesandbox](https://codesandbox.io/examples/package/i18next) example or similar
or at least steps to reproduce the behavior:

[code]

## Expected behavior

Should generate this:

[code]

But generates:
[code]

## Your Environment